footer
	.container
		ul.footer__nav
			li: a(href="#") Часто задаваемые вопросы
			li: a(href="#") Партнерские сайты
			li: a(href="#") Мобильная версия
			li: a(href="#") Карта сайта
		.footer__text
			div &copy; 1993–2016 АО "Казахстанская фондовая биржа"
			div Копирование материалов – только с письменного разрешения.