ul.nav.bordered-tabs(role="tablist")
	li.active(role="presentation"): a(href="#tab1", role="tab", data-toggle="tab") Tab 1
	li(role="presentation"): a(href="#tab2", role="tab", data-toggle="tab") Tab 2