.header-search {
	width: 100%;
	padding: 10px 0;
	background: #fff;
	position: relative;
	form {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
}
.header-search__input {
	width: 55%;
	border: none;
	padding: 0 20px 0 0;
}
.head-search__close {
	display: flex;
	align-items: center;
	padding-left: 10px;
	border-left: 1px solid #d7d9db;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 28px;
	a {
		display: block;
		padding: 5px 0 5px 5px;
	}
	img {
		width: 16px;
	}
}
.header-search__button {
	color: #41b649;
	font-size: $fz18;
	white-space: nowrap;
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
	&:hover {
		img {
			animation: search 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}
	}
	img {
		display: inline-block;
		vertical-align: middle;
		width: 18px;
		margin-right: 14px;
		transform: translateX(3px);
	}
}

@media (min-width: 992px) {
	.header-search {
		padding: 16px 0;
	}
	.header-search__input {
		width: 85%;
	}
	.head-search__close {
		padding-left: 35px;
	}
}
@keyframes search {
	0% {  transform: rotate(0deg) translateX(3px) rotate(0deg); }
	100%   {  transform: rotate(360deg) translateX(3px) rotate(-360deg); }
}