extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Пресс-центр"
				var marketsList = [
					{
						'title': 'Обратная связь',
						'active': true
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container.freeback
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'О Биржe',
					'О нас',
					'Обратная связь'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Обратная связь
			
			p #[b Друзья, мы рады приветствовать вас в Пресс-центре KASE.]
			
			p ТKASE - один из ключевых элементов инфраструктуры отечественного финансового рынка. Наша компания занимает открытую позицию по отношению ко всем средствам массовой информации.
			p Мы всегда готовы предоставить необходимую информацию о деятельности KASE, оперативно ответить на вопросы или организовать интервью с представителями биржи.
			p Помимо этого мы инициируем собственные медиапроекты и мероприятия для прессы, а также поддерживаем проекты ведущих средств массовой информации.
			p Мы видим в СМИ надежного партнера, с которым нас объединяет общая цель – создание объективной картины о рынке ценных бумаг Казахстана.
			
			.container
				p #[b На Ваши вопросы всегда рады ответить:]
				.col-xs-12.col-sm-6.col-md-4
					p #[b Гульмира Арбабаева] #[br] #[span начальник Отдела маркетинга и PR]
				.col-xs-12.col-sm-6.col-md-4
					p #[b Диана Ким] #[br] #[span главный специалист Отдела маркетинга и PR]
				.col-xs-12.col-sm-6.col-md-4
					p #[b Амир Булат] #[br] #[span ведущий Отдела маркетинга и PR]
					
			p #[b Контакты пресс-центра:] #[br]
			p #[b Телефон:] +7(727)237 5342 #[br]
			p #[b E-mail:] #[a(href='#')  resume@kase.kz]