extends ../../templates/base

block variables
	-var bodyClass = "body__text-page"

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Пресс-центр"
				var marketsList = [
					{
						'title': 'Информационная поддержка'
					},
					{
						'title': 'Новости',
						'active': true
					},
					{
						'title': 'Пресс-релизы'
					},
					{
						'title': 'Публикации'
					},
					{
						'title': 'Докалады и презентации'
					},
					{
						'title': 'Брошюру'
					},
					{
						'title': 'Информационная поддержка'
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column
			-
				var breadcrumbs = [
					'Главная',
					'Пресс-центр',
					'Новости'
				]

			include ../../modules/breadcrumbs/module

			.container
				.landing-section__text
					.h1-block
						a.arrow-back(href="#")
							i.fa.fa-angle-left

						h1 АО "Народный сберегательный банк Казахстана" сообщило об изменении места нахождения Южно-Казахстанского филиала банка

						.date 15 июля, 13:00
					p.
						АО "Народный сберегательный банк Казахстана" (Алматы), ценные бумаги которого находятся в официальном списке Казахстанской  фондовой биржи (KASE), уведомило KASE об изменении места нахождения Южно-Казахстанского филиала банка.
					
					h5 Основными задачами Конкурса являются:

					ul.list-color.list-color--round-marker
						li повышение инвестиционной грамотности населения и информированности о фондовом рынке;
						li увеличение количества качественных публикаций на тему фондового рынка Казахстана;
						li содействие повышению уровня экспертизы журналистов в вопросах финансового просвещения и формирование пула журналистов, квалифицированно освещающих данную тему на регулярной основе.

					include ../../modules/text-footer/module