extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Пресс-центр"
				var marketsList = [
					{
						'title': 'Информационная поддержка'
					},
					{
						'title': 'Новости'
					},
					{
						'title': 'Пресс-релизы'
					},
					{
						'title': 'Публикации'
					},
					{
						'title': 'Докалады и презентации',
						'active': true
					},
					{
						'title': 'Брошюру'
					},
					{
						'title': 'Информационная поддержка'
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Торги',
					'Клиринг и расчеты'
				]

			include ../../modules/breadcrumbs/module

			h1 Доклады и презентации
			
			-
				var gradientTabs = [
					{
						'title' : '2016',
						'href' : 'a2016',
						'active': true
					},
					{
						'title' : '2015',
						'href' : 'a2015'
					},
					{
						'title' : '2014',
						'href' : 'a2014'
					},
					{
						'title' : '2013',
						'href' : 'a2013'
					},
					{
						'title' : '2012',
						'href' : 'a2012'
					},
					{
						'title' : '2011',
						'href' : 'a2011'
					}
					]

			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="a2016", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2016 года
								li: a(href="#") Типовая презентация на 01 ноября 2016 года
								li
									a(href="#") Диверсификация инструментов управления финансовыми потоками компании
									br
									| Турмагамбетов К.Ж., член Правления, управляющий директор по развитию бизнеса, презентация для бизнес-завтрака "KASE Day in Astana" #[br]Астана, 25 октября 2016 года
								li
									a(href="#") Текущие тренды биржевого рынка
									br
									| Цалюк А.Ю., заместитель Председателя Правления KASE, презентация для бизнес-завтрака "KASE Day in Astana" #[br]Астана, 25 октября 2016 года
								li
									a(href="#") Деятельность KASE и основные направления стратегии развития
									br
									| Алдамберген А.Ө., Председатель Правления KASE, презентация для бизнес-завтрака "KASE Day in Astana" #[br]Астана, 25 октября 2016 года
								li: a(href="#") Типовая презентация на 01 октября 2016 года
								li
									a(href="#") Рынок KASE за 9 месяцев 2016 года
									br
									| Цалюк А.Ю., заместитель Председателя Правления KASE, обзор на пресс-конференции по итогам девяти месяцев 2016 года #[br]Алматы, 11 октября 2016 года
								li
									a(href="#") Инициативы по активизации выхода компаний на казахстанский рынок капитала
									br
									| Алдамберген А.Ө., Председатель Правления KASE, Хорошевская Н.Ю., заместитель Председателя Правления KASE, презентация для информационной сессии по наиболее актуальным и интересным вопросам корпоративного управления #[br]Алматы, 09 сентября 2016 года
								li
									a(href="#") KASE: площадка для финансирования отечественного бизнеса
									br
									| Презентация к визиту на KASE заместителя акима г. Алматы #[br]Алматы, 09 сентября 2016 года
								li
									a(href="#") Презентация Стратегии развития KASE на 2016–2018 годы
									br
									| Алматы, 05 сентября 2016 года
								li
									a(href="#") Коммерческие облигации
									br
									| Презентация о краткосрочных (коммерческих) облигациях для листинговых компаний #[br]Алматы, 05 сентября 2016 года
								li: a(href="#") Типовая презентация на 01 августа 2016 года
								li: a(href="#") Типовая презентация на 01 июля 2016 года
								li
									a(href="#") Рынок KASE в первом полугодии 2016 года 
									br
									| Цалюк А.Ю., заместитель Председателя Правления KASE, обзор на пресс-конференции по итогам первого полугодия #[br]Алматы, 04 июля 2016 года
								li: a(href="#") Типовая презентация на 01 июня 2016 года
								li
									a(href="#") Итоги деятельности KASE в 2015 году
									br
									| Цалюк А.Ю., заместитель Председателя Правления KASE, доклад на годовом общем собрании акционеров #[br]Алматы, 25 мая 2016 года
								li: a(href="#") Типовая презентация на 01 мая 2016 года
								li: a(href="#") Типовая презентация на 01 апреля 2016 года
								li: a(href="#") Типовая презентация на 01 марта 2016 года
								li: a(href="#") Типовая презентация на 01 февраля 2016 года
								li: a(href="#") Типовая презентация на 01 января 2016 года

					.tab-pane.fade(id="a2015", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2015 года
								li: a(href="#") Типовая презентация на 01 ноября 2015 года
								li: a(href="#") Типовая презентация на 01 октября 2015 года
								li
									a(href="#") Фондовый рынок: возможности для бизнеса
									br
									| Биртанов Е.А., Председатель Правления KASE, презентация для ежегодного Международного инвестиционного форума "Ertys Инвест - 2015" #[br]Павлодар, 7 октября 2015 года
								li: a(href="#") Типовая презентация на 01 сентября 2015 года
								li: a(href="#") Типовая презентация на 01 августа 2015 года
								li: a(href="#") Типовая презентация на 01 июля 2015 года
								li: a(href="#") Типовая презентация на 01 июня 2015 года
								li
									a(href="#") Программа "Народное IPO" на KASE – итоги и выводы
									br
									| Цалюк А.Ю., Вице-президент KASE, доклад на заседании Комитета по финансам и бюджету Сената Парламента Республики Казахстан #[br]Астана, 14 мая 2015 года
								li
									a(href="#") Итоги деятельности KASE в 2014 году
									br
									| Цалюк А.Ю., Вице-президент KASE, доклад на годовом общем собрании акционеров #[br]Алматы, 15 мая 2015 года
								li: a(href="#") Типовая презентация на 01 мая 2015 года
								li: a(href="#") Типовая презентация на 01 апреля 2015 года
								li: a(href="#") Типовая презентация на 01 марта 2015 года
								li: a(href="#") Типовая презентация на 01 февраля 2015 года
								li: a(href="#") Типовая презентация на 01 января 2015 года

					.tab-pane.fade(id="a2014", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2014 года
								li: a(href="#") Типовая презентация на 01 ноября 2014 года
								li: a(href="#") Типовая презентация на 01 октября 2014 года
								li
									a(href="#") О рынке фьючерсов KASE 
									br
									| Алматы, 02 октября 2014 года
								li
									a(href="#") Market Data Services Update Meeting
									br
									| Павел Афанасьев, начальник Отдела анализа KASE #[br]Лондон, 22 сентября 2014 года
								li: a(href="#") Типовая презентация на 01 сентября 2014 года
								li: a(href="#") Типовая презентация на 01 августа 2014 года
								li: a(href="#") Типовая презентация на 01 июля 2014 года
								li: a(href="#") Типовая презентация на 01 июня 2014 года
								li: a(href="#") Типовая презентация на 01 мая 2014 года
								li: a(href="#") Типовая презентация на 01 апреля 2014 года
								li: a(href="#") Типовая презентация на 01 марта 2014 года
								li: a(href="#") Типовая презентация на 01 февраля 2014 года
								li: a(href="#") Типовая презентация на 01 января 2014 года
					

					.tab-pane.fade(id="a2013", role="tabpanel")

						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2013 года
								li: a(href="#") Типовая презентация на 01 ноября 2013 года
								li: a(href="#") Типовая презентация на 01 октября 2013 года
								li: a(href="#") Типовая презентация на 01 сентября 2013 года
								li: a(href="#") Типовая презентация на 01 августа 2013 года
								li: a(href="#") Типовая презентация на 01 июля 2013 года
								li: a(href="#") Типовая презентация на 01 июня 2013 года
								li: a(href="#") Типовая презентация на 01 мая 2013 года
								li
									a(href="#") Доклад Президента KASE Дамитова К.К. 
									br
									| в Сенате Парламента Республики Казахстан по Народному IPO #[br]г. Астана, 03 апреля 2013 года
								li: a(href="#") Типовая презентация на 01 апреля 2013 года
								li
									a(href="#") Простые акции АО "КазТрансОйл": жизнь после IPO
									br
									| Андрей Цалюк, Вице-президент KASE 
									| #[br]для VIII Казахстанского финансового форума
									| #[br]г. Алматы, 14 марта 2013 года
								li: a(href="#") Типовая презентация на 01 марта 2013 года
								li: a(href="#") Типовая презентация на 01 февраля 2013 года
								li: a(href="#") Типовая презентация на 01 января 2013 года


					.tab-pane.fade(id="a2012", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2012 года
								li: a(href="#") Рынок деривативов KASE
								li: a(href="#") Типовая презентация на 01 ноября 2012 года
								li: a(href="#") Типовая презентация на 01 октября 2012 года
								li: a(href="#") Типовая презентация на 01 сентября 2012 года
								li: a(href="#") Типовая презентация на 01 августа 2012 года
								li: a(href="#") Типовая презентация на 01 июля 2012 года
								li
									a(href="#") Инфраструктурные облигации на KASE
									br
									| Андрей Цалюк, Вице-президент KASE 
									br
									| для конференции "Государственно-частное партнерство в Казахстане"
									br
									| г. Алматы, 14 июня 2012 года
								li: a(href="#") Типовая презентация на 01 июня 2012 года
								li
									a(href="#") Биржевой рынок облигаций Казахстана: интеграция и протекционизм
									br
									| Наталья Хорошевская, директор Департамента информации и анализа 
									br
									| для IX Облигационного конгресса стран СНГ и Балтии
									br
									| г. Ялта, 31 мая–1 июня 2012 года
								li
									a(href="#") Мир IPO
									br
									| Кадыржан Дамитов, Президент KASE 
									br
									| для V Астанинского экономического форума 
									br
									| г. Астана, 24 мая 2012 года
								li: a(href="#") Типовая презентация на 01 мая 2012 года
								li: a(href="#") Типовая презентация на 01 апреля 2012 года
								li: a(href="#") Типовая презентация на 01 марта 2012 года
								li: a(href="#") Типовая презентация на 01 февраля 2012 года
								li: a(href="#") Система торгов ценными бумагами по схеме расчетов T+0 c полным предварительным обеспечением
								li: a(href="#") Типовая презентация на 01 января 2012 года

					.tab-pane.fade(id="a2011", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Типовая презентация на 01 декабря 2011 года
								li: a(href="#") Типовая презентация на 01 ноября 2011 года
								li: a(href="#") Типовая презентация на 01 октября 2011 года
								li: a(href="#") Типовая презентация на 01 сентября 2011 года
								li: a(href="#") Типовая презентация на 01 августа 2011 года
								li: a(href="#") Типовая презентация на 01 июля 2011 года
								li
									a(href="#") Особенности рыночной оценки облигаций в Казахстане
									br
									| Андрей Цалюк, Вице-президент 
									br
									| Специально для VIII Облигационного Конгресса стран СНГ и Балтии
									br
									| г. Одесса, 16–17 июня 2011 года
								li: a(href="#") Типовая презентация на 01 июня 2011 года
								li: a(href="#") Типовая презентация на 01 мая 2011 года
								li: a(href="#") Типовая презентация на 01 апреля 2011 года
								li
									a(href="#") Срочный рынок на KASE: возможности
									br
									| Идель Сабитов, Первый Вице-президент 
									br
									| Специально для конференции "Казахстанский Финансовый Форум"
									br
									| г. Алматы, 17 марта 2011 года
								li: a(href="#") Типовая презентация на 01 марта 2011 года
								li: a(href="#") Типовая презентация на 01 февраля 2011 года
								li: a(href="#") Типовая презентация на 01 января 2011 года

block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});