extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Пресс-центр"
				var marketsList = [
					{
						'title': 'Информационная поддержка'
					},
					{
						'title': 'Новости'
					},
					{
						'title': 'Пресс-релизы',
						'active': true
					},
					{
						'title': 'Публикации'
					},
					{
						'title': 'Докалады и презентации'
					},
					{
						'title': 'Брошюру'
					},
					{
						'title': 'Информационная поддержка'
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Торги',
					'Клиринг и расчеты'
				]

			include ../../modules/breadcrumbs/module

			h1 Пресс-релизы
			
			-
				var gradientTabs = [
					{
						'title' : '2016',
						'href' : 'a2016',
						'active': true
					},
					{
						'title' : '2015',
						'href' : 'a2015'
					},
					{
						'title' : '2014',
						'href' : 'a2014'
					},
					{
						'title' : '2013',
						'href' : 'a2013'
					},
					{
						'title' : '2011',
						'href' : 'a2011'
					},
					{
						'title' : '2010',
						'href' : 'a2010'
					}
					]

			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="a2016", role="tabpanel")
						-
							var news = [
								{
									'date'  : '21.12.16',
									'title' : 'Подведены итоги Конкурса KASE среди розничных инвесторов на рынке акций'
								},
								{
									'date'  : '15.12.16',
									'title' : 'KASE и Казахстанский горный клуб обсудили вопросы выхода компаний-недропользователей на фондовый рынок'
								},
								{
									'date'  : '13.12.16',
									'title' : 'KASE совместно с НПП и Даму провела в Астане обучающий семинар "Фондовый рынок: новые горизонты для предпринимательства"'
								},
								{
									'date'  : '12.12.16',
									'title' : 'KASE объявила о запуске ранней бета-версии нового интернет-сайта и собрендинге с TradingView Inc.'
								},
								{
									'date'  : '12.12.16',
									'title' : 'На KASE успешно прошло размещение шестимесячных облигаций ТОО "Исткомтранс", включенных в сектор "Коммерческие облигации"'
								},
								{
									'date'  : '30.11.16',
									'title' : 'KASE разработала методику составления отчета по критериям экологичности, социальной ответственности и корпоративного управления'
								},
								{
									'date'  : '29.11.16',
									'title' : 'KASE совместно с НПП и Даму провела в Алматы обучающий семинар "Фондовый рынок: новые горизонты для предпринимательства"'
								},
								{
									'date'  : '21.11.16',
									'title' : 'На KASE состоялся медиа-брифинг, приуроченный к листингу первых инструментов в секторе "Коммерческие облигации"'
								},
								{
									'date'  : '21.11.16',
									'title' : 'Размещение пятилетних облигаций АО "КазАгроФинанс" вновь открыло казахстанский рынок долгового капитала для частных инвесторов'
								},
								{
									'date'  : '02.11.16',
									'title' : 'KASE и СК "КазЭкспортГарант" подписали меморандум о взаимопонимании'
								},
								{
									'date'  : '02.11.16',
									'title' : 'KASE объявляет о начале проведения конкурса среди розничных инвесторов на рынке акций'
								},
								{
									'date'  : '28.10.16',
									'title' : 'KASE совместно с НПП провели консультативную встречу по фондовому рынку с представителями бизнес-сообщества Актюбинской области'
								},
								{
									'date'  : '26.10.16',
									'title' : 'KASE совместно с НПП провели консультативную встречу по фондовому рынку с представителями бизнес-сообщества Мангистауской области'
								},
								{
									'date'  : '25.10.16',
									'title' : 'KASE провела бизнес-завтрак "KASE Day in Astana"'
								},
								{
									'date'  : '11.10.16',
									'title' : 'KASE представила обновленный бренд'
								},
								{
									'date'  : '11.10.16',
									'title' : 'KASE провела пресс-конференцию по итогам деятельности за девять месяцев'
								},
								{
									'date'  : '04.10.16',
									'title' : 'KASE провела "День эмитента", посвященный АО "KEGOC"'
								},
								{
									'date'  : '16.09.16',
									'title' : 'Национальный Банк Республики Казахстан и KASE провели совместную встречу-брифинг для гонконгской делегации во главе с финансовым секретарем Гонконга Джоном Цангом'
								},
								{
									'date'  : '05.09.16',
									'title' : 'KASE приступила к реализации новой стратегии развития'
								},
								{
									'date'  : '05.09.16',
									'title' : 'KASE открывает на своей площадке новый сектор для коммерческих облигаций'
								},
								{
									'date'  : '04.07.16',
									'title' : 'KASE провела пресс-конференцию по итогам второго квартала и первого полугодия 2016 года'
								},
								{
									'date'  : '01.06.16',
									'title' : 'KASE совместно с НПП провели консультативную встречу по фондовому рынку с представителями бизнес-сообщества Атырауской области'
								},
								{
									'date'  : '27.05.16',
									'title' : 'KASE совместно с НПП провели консультативную встречу по фондовому рынку с представителями бизнес-сообщества Алматинской области'
								},
								{
									'date'  : '19.05.16',
									'title' : '18-19 мая в Алматы состоялась ежегодная выставка по фондовому рынку Invest Show 2016'
								},
								{
									'date'  : '12.05.16',
									'title' : 'KASE проведет выставку по фондовому рынку Invest Show'
								},
								{
									'date'  : '29.04.16',
									'title' : 'KASE совместно с НПП провели консультативную встречу по фондовому рынку с представителями бизнес-сообщества Западно-Казахстанской области'
								},
								{
									'date'  : '27.04.16',
									'title' : 'Казахстанская фондовая биржа провела пресс-конференцию по итогам 2015 года и первого квартала 2016 года'
								},
								{
									'date'  : '20.04.16',
									'title' : 'Казахстанская фондовая биржа и Национальная палата предпринимателей Республики Казахстан "Атамекен" подписали меморандум о взаимном сотрудничестве'
								},
								{
									'date'  : '11.03.16',
									'title' : 'Казахстанская фондовая биржа провела рабочую встречу с членами Биржи и Национальным Банком Республики Казахстан'
								},
								{
									'date'  : '04.03.16',
									'title' : 'Казахстанская фондовая биржа провела круглый стол с членами биржи'
								},
								{
									'date'  : '04.03.16',
									'title' : 'KASE наградила членов Биржи за вклад в развитие биржевого рынка'
								},
								{
									'date'  : '09.02.16',
									'title' : 'Казахстанская фондовая биржа, Лондонская фондовая биржа и Barclays провели в Казахстане круглый стол на тему IPO'
								},
								{
									'date'  : '02.02.16',
									'title' : 'Казахстанская фондовая биржа выпустит методику составления отчета по критериям экологичности, социальной ответственности и корпоративного управления'
								},
								{
									'date'  : '12.01.16',
									'title' : 'KASE сообщает об уходе Председателя Правления'
								}
							]

						include ../../modules/news-list/module

					.tab-pane.fade(id="a2015", role="tabpanel")
						-
							var news = [
								{
									'date'  : '06.11.15',
									'title' : 'Казахстанская фондовая биржа и Megawatt-X подписали Меморандум о взаимопонимании в сфере развития финансирования ветровой и солнечной энергетики'
								},
								{
									'date'  : '05.11.15',
									'title' : 'Казахстанская фондовая биржа и Thomson Reuters подписали меморандум о взаимопонимании'
								},
								{
									'date'  : '03.11.15',
									'title' : 'Казахстанская Фондовая Биржа и Лондонская фондовая биржа подписали меморандум о сотрудничестве'
								},
								{
									'date'  : '28.09.15',
									'title' : 'Казахстанская фондовая биржа стала партнером Инициативы Организации Объединенных Наций для устойчивых бирж'
								},
								{
									'date'  : '16.09.15',
									'title' : 'KASE проводит ознакомительную встречу для представителей бизнес-сообщества Магистауской области на тему возможностей привлечения финансирования на бирже'
								},
								{
									'date'  : '11.08.15',
									'title' : 'KASE проводит ознакомительную встречу для представителей бизнес-сообщества Актюбинской области на тему возможностей привлечения финансирования на бирже'
								},
								{
									'date'  : '16.07.15',
									'title' : 'KASE проводит ознакомительную встречу для представителей бизнес-сообщества Южно-Казахстанской области на тему возможностей привлечения финансирования на бирже'
								},
								{
									'date'  : '07.07.15',
									'title' : 'KASE сообщает о смене руководства'
								},
								{
									'date'  : '03.07.15',
									'title' : 'KASE проводит ознакомительную встречу для представителей бизнес-сообщества Кызылординской области на тему возможностей привлечения финансирования на бирже'
								},
								{
									'date'  : '30.06.15',
									'title' : 'KASE начинает пробную эксплуатацию своих информационных систем в соответствии с порядком совершения сделок на фондовом рынке по схеме Т+2'
								},
								{
									'date'  : '19.06.15',
									'title' : 'KASE объявляет о запуске торгов акциями Индекса KASE в порядке Т+2'
								},
								{
									'date'  : '05.06.15',
									'title' : 'KASE проводит ознакомительную встречу для представителей бизнес-сообщества Костанайской области на тему возможностей привлечения финансирования на бирже'
								},
								{
									'date'  : '04.06.15',
									'title' : 'Казахстанcкая фондовая биржа начала тестирование расчетов с участниками рынка по схеме Т+2'
								},
								{
									'date'  : '26.05.15',
									'title' : 'В Казахстане прошел Китайско–Центрально–Азиатский форум фондовых рынков'
								},
								{
									'date'  : '12.05.15',
									'title' : 'Nasdaq Dubai и Казахстанская фондовая биржа подписали Меморандум о взаимопонимании'
								},
								{
									'date'  : '10.04.15',
									'title' : 'KASE провела церемонию открытия торгов простыми акциями АО "БАСТ"'
								},
								{
									'date'  : '08.04.15',
									'title' : 'KASE перейдет на расчеты по схеме T+2 в 2015 году'
								},
								{
									'date'  : '26.03.15',
									'title' : 'Президент KASE рассказал о перспективах IPO в Казахстане на конференции Лондонской фондовой биржи'
								},
								{
									'date'  : '23.02.15',
									'title' : 'KASE совместно с НПП РК и IFC провели заседание Дискуссионного клуба по вопросам механизма реализации государственных программ приватизации и финансирования частного сектора через рынок капитала'
								}
							]

						include ../../modules/news-list/module

					.tab-pane.fade(id="a2014", role="tabpanel")
						-
							var news = [
								{
									'date'  : '24.12.14',
									'title' : '24 декабря состоялось торжественное награждение победителей конкурсов KASE среди розничных инвесторов'
								},
								{
									'date'  : '28.11.14',
									'title' : 'KASE совместно с НПП РК провели заседание Дискуссионного клуба по вопросам развития отечественного фондового рынка'
								},
								{
									'date'  : '20.11.14',
									'title' : 'KASE возглавила Рабочий комитет Федерации евро-азиатских бирж'
								},
								{
									'date'  : '02.10.14',
									'title' : 'Члены МАБ СНГ провели общее собрание и круглый стол с участием представителей Национального Банка Республики Казахстан'
								},
								{
									'date'  : '25.09.14',
									'title' : 'На Казахстанской фондовой бирже состоялось торжественное открытие торгов валютной парой казахстанский тенге / китайский юань'
								},
								{
									'date'  : '15.09.14',
									'title' : 'Подписано Рамочное соглашение о стратегическом сотрудничестве между Стамбульской биржей и Казахстанской фондовой биржей'
								},
								{
									'date'  : '25.06.14',
									'title' : 'О семинаре по вопросам развития международного сотрудничества на фондовых рынках Турции и Казахстана'
								}
							]

						include ../../modules/news-list/module

					.tab-pane.fade(id="a2013", role="tabpanel")
						-
							var news = [
								{
									'date'  : '25.12.13',
									'title' : '25 декабря состоялось торжественное награждение победителей конкурса KASE среди розничных инвесторов'
								},
								{
									'date'  : '07.11.13',
									'title' : 'KASE получила статус полного члена Всемирной федерации бирж'
								},
								{
									'date'  : '12.10.13',
									'title' : 'О конференции "Отечественный листинг: оцени свои возможности"'
								},
								{
									'date'  : '27.06.13',
									'title' : 'Об окончании срока полномочий Президента KASE Дамитова К.К.'
								},
								{
									'date'  : '05.02.13',
									'title' : 'Итоги деятельности Казахстанской фондовой биржи в 2012 году'
								},
								{
									'date'  : '05.02.13',
									'title' : 'Биржевая деятельность в 2012 году'
								},
								{
									'date'  : '05.02.13',
									'title' : 'Статистика рынка KASE по итогам 2012 года'
								},
								{
									'date'  : '05.02.13',
									'title' : 'NetInvestor подключен к торговой системе Казахстанской фондовой биржи (KASE)'
								}
							]

						include ../../modules/news-list/module

					.tab-pane.fade(id="a2011", role="tabpanel")
						-
							var news = [
								{
									'date'  : '21.11.11',
									'title' : 'Доступ к биржевому рынку KASE теперь возможен через QUIK'
								},
								{
									'date'  : '03.10.11',
									'title' : 'В Алматы при поддержке Казахстанской фондовой биржи (KASE) прошли международные мероприятия в рамках 17-ой Генеральной ассамблеи FEAS'
								},
								{
									'date'  : '13.09.11',
									'title' : 'Биржи Египта и Казахстана войдут в число участников индекса Dow Jones FEAS'
								},
								{
									'date'  : '01.09.11',
									'title' : 'Подписан Меморандум о взаимопонимании между KRX и KASE'
								},
								{
									'date'  : '03.08.11',
									'title' : 'Итоги деятельности Казахстанской фондовой биржи (KASE) по итогам I полугодия 2011 года'
								},
								{
									'date'  : '04.04.11',
									'title' : 'Казахстанская фондовая биржа наградила по итогам 2010 года наиболее отличившихся членов биржи и листинговых компаний'
								},
								{
									'date'  : '03.03.11',
									'title' : 'Биржевая Ассоциация Казахстана сформировала органы управления и приняла в свои члены KASE и ТОО "АгроТрейд Астана"'
								},
								{
									'date'  : '09.02.11',
									'title' : 'Награждены победители обучающей игры KASE, проведенной для частных инвесторов'
								}
							]

						include ../../modules/news-list/module

					.tab-pane.fade(id="a2010", role="tabpanel")
						-
							var news = [
								{
									'date'  : '27.12.10',
									'title' : 'KASE завершила обучающий проект с участием студентов пяти казахстанских вузов'
								},
								{
									'date'  : '27.12.10',
									'title' : 'В 2011 году АО "Казахстанская фондовая биржа" войдет в Исполнительный комитет Федерации евроазиатских бирж и проведет Генеральную ассамблею в г. Алматы'
								},
								{
									'date'  : '13.12.10',
									'title' : 'KASE провела традиционное награждение представителей деловых СМИ'
								},
								{
									'date'  : '28.09.10',
									'title' : 'KASE подвела итоги демонстрационной тестовой игры по торговле срочными контрактами'
								},
								{
									'date'  : '06.09.10',
									'title' : 'На казахстанском фондовом рынке введены льготы по уплате листинговых сборов для компаний, которые включают свои акции в официальный список KASE с целью проведения IPO'
								},
								{
									'date'  : '03.08.10',
									'title' : 'На KASE стартовал проект Kazakhstan Stock Exchange Capacity Building Project'
								},
								{
									'date'  : '31.05.10',
									'title' : 'Информационное агентство финансовых рынков "ИРБИС" презентовало первую отечественную программу для работы с финансовой информацией "IRIS Finance"'
								},
								{
									'date'  : '04.05.10',
									'title' : 'KASE подвела итоги первого этапа демонстрационных обучающих игр 2010 года'
								},
								{
									'date'  : '22.04.10',
									'title' : 'О создании Казахстанской ассоциации профессиональных участников рынка ценных бумаг'
								},
								{
									'date'  : '30.03.10',
									'title' : 'Казахстанская фондовая биржа провела награждение наиболее отличившихся членов биржи и листинговых компаний по итогам 2009 года'
								},
								{
									'date'  : '15.02.10',
									'title' : 'Биржевая статистика за 2009 год'
								},
								{
									'date'  : '15.02.10',
									'title' : 'Итоги деятельности KASE в 2009 году и основные направления работы на 2010 год'
								}
							]

						include ../../modules/news-list/module

block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});