.dataTables_info,
.dataTables_paginate,
.dataTables_length,
.dataTables_filter {
	display: none;
}
.sorting-table, .sorting-table--false {
	thead {
		tr {
			background-color: #e6e9ed;
		}
	}
	& + .actions__chart {
		margin-top: 18px;
	}
	.text-center {
		text-align: center !important;
	}
}
.dataTables_filter {
	float: none;
	width: 100%;
	background-color: #f4f6f8;
	padding: 18px 17px 13px;
	font-size: 100%;
	label {
		font-weight: normal;
		display: flex;
		align-items: center;
		width: 100%;
	}
	input {
		width: 100%;
		padding: 0 15px;
		background-color: #fff;
		height: 40px;
		border: 1px solid #c9d4de;
		margin: 0 !important;
	}
}
.dataTables_wrapper.no-footer {
	.dataTables_scrollBody {
		border-bottom: none;
	}
}
table.dataTable, .sorting-table--false {
	thead {
		tr {
			background-color: #e6e9ed;
		}
		td, th {
			border-bottom: none;
			padding: 8px 18px 8px 10px;
			min-width: 90px;
			vertical-align: middle;
			text-align: right;
			&:first-child {
				text-align: left;
			}
		}
	}
	tbody {
		td {
		    padding: 8px 10px;
		    text-align: right;
		    &:first-child {
		    	text-align: left;
		    }
		}
		.sorting-table__subitem {
			td:first-child {
				padding-left: 30px;
			}
		}
		.empty {
			td {
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: #e6e9ed;
			}
		}
	}
}
table.dataTable.no-footer {
	border-bottom: none;
}

.dataTables_scroll {
	position: relative;
	&:after {
		display: block;
		width: 30px;
		height: 100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		content: "";
	}
}
.dataTables_wrapper {
	margin-bottom: 6px;
}
.sortin-table--with-search {
	.dataTables_filter {
		display: block;
	}
}
.table__indicator {
	white-space: nowrap;
	img {
		margin: 0 6px;
	}
}
.sorting-table__subtitle {
	td {
		background-color: #d1d1d1;
		&:first-child {
			position: relative;
		}
	}
	span {
		display: flex;
		align-items: center;
		position: absolute;
		height: 100%;
		white-space: nowrap;
		top: 0;
	}
}
.table--actions {
	tr {
		td, th {
			&:first-child {
				width: 90px !important;
			}
			&:nth-child(2) {
				text-align: left;
			}
		}
	}
}

@media (min-width: 649px) and (max-width: 768px){
	table.dataTable {
		thead {
			td, th {
				padding: 16px 36px 16px 20px;
				min-width: 180px;
			}
		}
		tbody {
			td {
			    padding: 16px 20px;
			}
		}
	}
	.dataTables_filter {
		font-size: $fz18;
		padding: 30px 34px 26px;
		input {
			padding: 0 20px;
			height: 60px;
			border: 2px solid #c9d4de;
		}
	}
}