.get-date.accordion__hide-in-closed
	.get-date__label Дата:
	.get-date__input.get-date__input--mobile
		i.fa.fa-calendar
		input(type="date")
		.get-date__link
			a(href="#")
				i.fa.fa-long-arrow-right
	.get-date__input
		i.fa.fa-calendar
		input.datepicker(type="text", data-date-format="dd/mm/yyyy")
		.get-date__link
			a(href="#")
				i.fa.fa-long-arrow-right