extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Правила"
				var marketsList = [
					{
						'title': 'Правила Kase',
						'active': true
					},
					{
						'title': 'Законодательство'
					},
					{
						'title': 'Корпоративное управление'
					},
					{
						'title': 'Дополнительные материалы'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Правила',
					'Правила Kase'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Правила Kase
			-
				var gradientTabs = [
					{
						'title' : 'Листинг',
						'href' : 'listing',
						'active': true
					},
					{
						'title' : 'Членство',
						'href' : 'membership'
					},
					{
						'title' : 'Торги',
						'href' : 'stocks'
					},
					{
						'title' : 'Клиринг',
						'href' : 'clearing'
					},
					{
						'title' : 'Расчеты',
						'href' : 'calculation'
					},
					{
						'title' : 'Информация',
						'href' : 'information'
					},
					{
						'title' : 'Методики',
						'href' : 'methods'
					}
					]
			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="listing", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li #[a(href="#") Листинговые правила]
									ul.reference-into--icon
										li Постановление Правления Национального Банка Республики Казахстан "#[a(href="#") Об утверждении Требований к эмитентам и их ценным бумагам, допускаемым (допущенным) к обращению на фондовой бирже, а также к отдельным категориям списка фондовой биржи]" от 22 октября 2014 года № 189
										li Решение Правления KASE "#[a(href="#") Об оказании информационной поддержки компаниям, планирующим IPO на KASE] " от 13 августа 2010 года № 277
										li #[a(href="#") Рекомендация Листинговой комиссии ] по включению в проспект выпуска облигаций, обращение которых планируется на организованном рынке, дополнительных ограничений (ковенантов)
										li #[a(href="#") Правила государственной регистрации выпуска объявленных акций] , утверждения отчета об итогах размещения акций и аннулирования выпуска акций, утвержденные постановлением Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 30 июля 2005 года № 268
										li #[a(href="#") Правила государственной регистрации выпуска негосударственных облигаций (облигационной программы), рассмотрения отчетов об итогах размещения и погашения негосударственных облигаций, а также аннулирования выпуска облигаций], утвержденные постановлением Правления Национального Банка Республики Казахстан от 29 апреля 2016 года № 115
										li #[a(href="#") Перечень аудиторских организаций ], признаваемых KASE для включения ценных бумаг эмитентов в официальный список и их нахождения в указанном списке
										li #[a(href="#") Правила размещения на интернет-ресурсах депозитария финансовой отчетности, фондовой биржи информации о корпоративных событиях, финансовой отчетности и аудиторских отчетов, списков аффилированных лиц акционерных обществ, а также информации о суммарном размере вознаграждения членов исполнительного органа по итогам года], утвержденные постановлением Правления Национального Банка Республики Казахстан от 28 января 2016 года № 26
								li #[a(href="#") Положение о Листинговой комиссии]
								li #[a(href="#") Правила определения размеров, сроков и порядка уплаты листинговых сборов]
								li #[a(href="#") Порядок осуществления мониторинга раскрытия информации инициаторами допуска ценных бумаг]
								li #[a(href="#") Правила включения ценных бумаг в сектор "Коммерческие облигации" официального списка]
								li #[a(href="#") Правила допуска ценных бумаг к обращению в секторе "Государственные ценные бумаги" официального списка]
								li #[a(href="#") Правила допуска ценных бумаг к обращению в секторе "Нелистинговые ценные бумаги"]
								li #[a(href="#") Правила допуска ценных бумаг к обращению в секторе "Ценные бумаги международных финансовых организаций" официального списка]
								li #[a(href="#") Правила допуска акций к обращению в секторе "HiTec" официального списка]
								li #[a(href="#") Руководство пользователя специализированной системы электронного документооборота с эмитентами ценных бумаг "ISSUERS TO INVESTORS" (система is2in)]
								li #[a(href="#") Методика составления отчета по критериям экологичности, социальной ответственности и корпоративного управления]
								li #[a(href="#") Положение о Комитете Биржевого совета по финансовой отчетности и аудиту эмитентов]
								li #[a(href="#") Кодекс корпоративного управления], актуализированный согласно решению Совета эмитентов от 03 июля 2007 года
								li #[a(href="#") Комментарии к Кодексу корпоративного управления], актуализированного согласно решению Совета эмитентов от 03 июля 2007 года
								li #[a(href="#") Правила ежегодного поощрения листинговых компаний]
					
					.tab-pane.fade.active.in(id="membership", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li #[a(href="#") Положение о членстве]
									ul.reference-into--icon
										li #[a(href="#") Приложение 6]
										li #[a(href="#") Приложение 11]
								li #[a(href="#") Порядок осуществления мониторинга членов Биржи]
									ul.reference-into--icon
										li Постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#")О требованиях к иностранным юридическим лицам для членства на фондовой бирже]" от 30 сентября 2005 года № 360
										li Постановление Правления Национального Банка Республики Казахстан "#[a(href="#")О перечне и сроках предоставления членами фондовой биржи финансовой отчетности и иной информации фондовой бирже]" от 13 февраля 2012 года № 33
								li #[a(href="#") Порядок разрешения споров и конфликтов, возникающих в процессе осуществления сделок с финансовыми инструментами]
								li #[a(href="#") Положение об ответственности Биржи по заявкам, исполняемым от имени участников торгов]
								li #[a(href="#") Положение о членских взносах и биржевых сборах]
								li #[a(href="#") Правила профессиональной этики и делового поведения]
								li #[a(href="#") Методика составления отчета по критериям экологичности, социальной ответственности и корпоративного управления]
					
					.tab-pane.fade.active.in(id="stocks", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li #[a(href="#") Регламент торгов и работы Системы подтверждения]
								li #[a(href="#") Списки акций первого, второго и третьего классов ликвидности на декабрь 2016–январь 2017 года]
								li #[a(href="#") Положение о методах проведения торгов]
								li #[a(href="#") Положение о маркет-мейкерах]
								li #[a(href="#") Правила деятельности маркет-мейкеров]
									ul.reference-into--icon
										li #[a(href="#") Приложение 1]
								li #[a(href="#") Правила предоставления прямого доступа к организованному рынку ценных бумаг ]
									ul.reference-into--icon
										li #[a(href="#") Приложение 1]
										li #[a(href="#") Приложение 2]
								li #[a(href="#") Требования к системам DMA членов АО "Казахстанская фондовая биржа" и их использованию]