.small-dropdown {
	display: inline-block;
	&.flex {
		display: flex;
		align-items: center;
		.dropdown {
			margin-left: 10px;
		}
	}
	.dropdown {
		min-width: 110px;
		&.open {
			.dropdown-link {
				&:after {
					content: '\f106';
				}
			}
		}
		.dropdown-menu {
			min-width: 100%;
		}
	}
	.dropdown-link {
		display: block;
		color: $defaultColor;
		background-color: #fff;
		border: 1px solid #c9d4de;
		padding: 2px 36px 2px 10px;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		&:after {
			width: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: FontAwesome;
			border-left: 1px solid #c9d4de;
			color: $lightGreen;
			position: absolute;
			right: 0;
			top: 2px;
			bottom: 2px;
			content: '\f107';
		}
	}
}

@media (min-width: 649px) and (max-width: 768px){
	.small-dropdown {
		font-size: $fz28;
		&.flex {
			.dropdown {
				margin-left: 20px;
			}
		}
		.dropdown {
			min-width: 220px;
			.dropdown-menu {
				font-size: 100%;
			}
		}
		.dropdown-link {
			border: 2px solid #c9d4de;
			padding: 4px 72px 4px 20px;
			&:after {
				width: 56px;
				border-left: 2px solid #c9d4de;
				top: 4px;
				bottom: 4px;
			}
		}
	}
}