.list-color {
	padding: 0;
	margin: 0 0 25px;
	text-align: left;
	line-height: 1.714285714285714;
	li {
		display: block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 22px;
		&:before {
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: absolute;
			left: 0;	
			top: 11px;
			content: "";
		}
	}
	&--green {
		li {
			&:before {
				background-color: #198739;
			}
		}
	}
	&--orange {
		li {
			&:before {
				background-color: #ee7e1a;
			}
		}
	}
	&--round-marker {
		li {
			&:before {
				background: none;
				border: 1px solid $lightGreen;
			}
		}
	}
}

@media (min-width: 649px) and (max-width: 768px) {
	.list-color {
		margin: 0 0 50px;
		li {
			padding-left: 50px;
			margin-bottom: 44px;
			&:before {
				width: 16px;
				height: 16px;
				top: 22px;
			}
		}
	}
}