.trade-table
	table.trade-table__table
		thead
			tr
				th(colspan="3") 1–12, 2015
				th(colspan="2") 1–12, 2014
				th(colspan="2") 1–12, 2013
			tr
				td Сектор биржевого рынка
				td Объём
				td %
				td Объём
				td %
				td Объём
				td %
		tfoot
			tr
				td ВСЕГО объем торгов
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
		tbody
			tr.trade-table__row-title
				td Иностранных валют
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -спот-рынок
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -своп-рынок
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr.trade-table__row-title
				td Казахстанских ГЦБ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -первичный рынок
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -вторичный рынок
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr.trade-table__row-title
				td Акций
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr.trade-table__row-title
				td Корпоративных долговых ЦБ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr.trade-table__row-title
				td Операций репот
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -"прямое" репо по ГЦБ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -авторепо по ГЦБ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -"прямое" репо по НБЦ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8
			tr
				td -авторепо по НБЦ
				td 33 770,2
				td 72.3
				td 18 374,8
				td 57.4
				td 15 395,4
				td 83.8