.home-news
	.home-news__header
		.title
			a(href="#")= title
				i.fa.fa-angle-right
		.home-news__pagination
	.home-news__list.swiper-container
		.swiper-wrapper.scroll-block
			.swiper-slide
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						С 06 июля 2016 года вводится в эксплуатацию новая версия торговой системы KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
			.swiper-slide
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						С 06 июля 2016 года вводится в эксплуатацию новая версия торговой системы KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
			.swiper-slide
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						С 06 июля 2016 года вводится в эксплуатацию новая версия торговой системы KASE
				.home-news__item
					.date 5 июля, 2016
					p.
						26 июля KASE и НПП "Атамекен" проведут встречу с представителями компаний Алматинской области по вопросам привлечения финансирования на KASE
	.home-news__footer
		a(href="#") Посмотреть все &rarr;