.quotes-info
	.quotes-info__container
		.quotes-info__header
			.title
				a(href="#")= title
				i.fa.fa-angle-right
			a.quotes-info__menu
				img(src="images/menu-mini-icon.svg", alt="")
		.quotes-info__content
			table.quotes-info__table
				thead
					tr
						th Лидеры роста
							a(href="#"): img(src="images/angle-up.svg", alt="")
						th Послед. знач.
						th %1D
						th %MTD
						th &nbsp;
				tfoot
					tr
						td Индекс KASE
						td 1 018,15
						td: span.green +7,81
						td: span.green +7,81
						td: img(src="images/graph-green.png", alt="")
				tbody
					tr
						td KEGC
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td KEGC
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")