.quotes-info(id="quote-bonds")
	.quotes-info__container
		.quotes-info__header
			.title
				a(href="#") Корпоративные облигации
					i.fa.fa-angle-right
			include ../mini-menu/module
		.quotes-info__content
			table.quotes-info__table.quotes-info__table--with-date
				thead
					tr
						th Индикатор
						th Послед. знач.
						th %1D
						th %MTD
						th &nbsp;
				tbody
					tr
						td
							a(href="#") MM Index
							.date 15:00
						td 2,34
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td
							a(href="#") TONIA
							.date 11:24
						td 12,10
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") TWINA
							.date 13:35
						td 	12,13
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td
							a(href="#") SWAP-1D (USD)
							.date 10:03
						td 	11,86
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") SWAP-2D (USD)
							.date 03:54
						td 	12,13
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") КazPrime (KZT)
							.date 03:54
						td 	11,86
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")