extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "О нас"
				var marketsList = [
					{
						'title': 'История'
					},
					{
						'title': 'Миссия и ценности'
					},
					{
						'title': 'Руководство'
					},
					{
						'title': 'Комитеты и комиссии'
					},
					{
						'title': 'Участие в профессиональных организациях',
						'active': true
					},
					{
						'title': 'Корпоративные документы'
					}
				]
			include ../modules/markets-menu/module
			//-include ../modules/regulations/module
			
	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'О Биржи',
					'О нас',
					'Комитеты и комиссии'
				]
				
			include ../modules/breadcrumbs/module
			h1 Участие в профессиональных и международных организациях
			-
				var  membershipArray = [
					{
						'icon': 'about_membership1.png',
						'list': [
							{
								'title': 'Член Всемирной федерации бирж (WFE)',
								'text': 'WFE объединяет более 60-ти бирж мира, на которых сконцентрирован почти весь биржевой оборот мирового фондового рынка'
							}
						]
					},
					{
						'icon': 'about_membership2.png',
						'list': [
							{
								'title': 'Член Федерации евро-азиатских фондовых бирж (FEAS)',
								'text': 'FEAS объединяет около 45-ти профессиональных организаций биржевой индустрии, функционирующих на развивающихся фондовых рынках Европы и Азии'
							}
						]
					},
					{
						'icon': 'about_membership3.png',
						'list': [
							{
								'title': 'Член Международной ассоциации распространителей и потребителей финансовой информации (SIIA/FISD)',
								'text': 'SIIA/FISD объединяет около двухсот членов, среди которых крупнейшие мировые биржи, банки, брокерские и инвестиционные компании, а также ведущие информационные агентства.'
							}
						]
					},
					{
						'icon': 'about_membership4.png',
						'list': [
							{
								'title': 'Член Международной ассоциации бирж стран Содружества Независимых Государств (МАБ СНГ)',
								'text': 'МАБ СНГ объединяет около 20-ти бирж и депозитариев постсоветских государств.'
							}
						]
					},
					{
						'icon': 'about_membership5.png',
						'list': [
							{
								'title': 'Член Ассоциации финансистов Казахстана (АФК)',
								'text': 'Крупнейшее профессиональное объединение на финансовом рынке Республики Казахстан, насчитывающее около 250-ти членов.'
							}
						]
					}

				]
				var pictureSize="small"
			include ../modules/about_membership/module






