extends templates/base
block content
	.great-slider__parent.container.hidden-block
		include ../great-slider/module
	.container
		include ../navigation/module

		.row.quotes-info__parent.hidden-block
			.col-md-4.col-sm-6
				include ../quotes-info/module
			.col-md-4.col-sm-6
				include ../quotes-info/module-2
			.col-md-4.col-sm-6
				include ../quotes-info/module-3

		- var newsTitle = ["Рынки", "Компании", "Биржа"];
		.home-news__parent.hidden-block
			h2 Новости
			.row
				for title in newsTitle
					.col-md-4.col-sm-6
						include ../home-news/module

