extends templates/base

block variables
	- bodyClass = "body__home"

block content
	.great-slider__parent.container.hidden-block
		include ../great-slider/module
	.container
		include ../navigation/module

		.row.quotes-info__parent.hidden-block
			.col-md-4.col-sm-6
				include ../quotes-info/quote-actions
			.col-md-4.col-sm-6
				include ../quotes-info/quote-gcb
			.col-md-4.col-sm-6
				include ../quotes-info/quote-currency

		- var newsTitle = ["Рынки", "Компании", "Биржа"];
		.home-news__parent.hidden-block
			h2 Новости
			.row
				for title in newsTitle
					.col-md-4.col-sm-6
						include ../home-news/module
		