extends templates/base
block content
	.container
		include ../great-slider/module
		include ../navigation/module

		- var quotesTitle = ["Акции", "Валюты", "Деньги"];
		.row.quotes-info__parent
			for title in quotesTitle
				.col-md-4.col-sm-6
					include ../quotes-info/module

		- var newsTitle = ["Рынки", "Компании", "Биржа"];
		.home-news__parent
			h2 Новости
			.row
				for title in newsTitle
					.col-md-4.col-sm-6
						include ../home-news/module

