extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Информа- ционные продукты"
				var marketsList = [
					{
						'title': 'Биржевая информация и программное обеспечение',
						'active': true
					}
				]
			include ../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container.info-prod
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Информационные продукты',
					'Биржевая информация и программное обеспечение'
				]
				
			include ../modules/breadcrumbs/module
			h1 Биржевая информация и программное обеспечение
			-
				var  membershipArray = [
					{
						'icon': 'inf-products-icon1.png',
						'list': [
							{
								'title': ' Торговая информация в режиме реального времени',
								'text': ' Предоставляется Биржей непрерывным потоком в течение каждого торгового дня. Допустимая техническая задержка между моментами генерации такой информации и отправки ее отправителям составляет не более 3 минут.'
							}
						]
					},
					{
						'icon': 'inf-products-icon2.png',
						'list': [
							{
								'title': ' Задержанная торговая информация',
								'text': ' Информация о ходе проводимых биржей торгов финансовыми инструментами, предоставляемая непрерывным потоком с 15-тиминутной задержкой в течение торгового дня.'
							}
						]
					},
					{
						'icon': 'inf-products-icon3.png',
						'list': [
							{
								'title': ' Информация об итогах торгов ',
								'text': ' Поставляется Биржей через определенные промежутки времени, устанавливаемые технической спецификацией данного информационного продукта.'
							}
						]
					},
					{
						'icon': 'inf-products-icon4.png',
						'list': [
							{
								'title': ' Архивная информация',
								'text': ' Предоставляется Биржей по запросу в виде файлов в формате, аналогичном формату файлов информации об итогах торгов, в виде реестра заявок и реестра сделок.'
							}
						]
					},
					{
						'icon': 'inf-products-icon5.png',
						'list': [
							{
								'title': ' Справочная информация',
								'text': ' O характеристиках, а также информация об эмитентах ценных бумаг.'
							}
						]
					},
					{
						'icon': 'inf-products-icon6.png',
						'list': [
							{
								'title': ' Non-Display/Производная информация',
								'text': ' Использование Торговой информации в режиме реального времени или Задержанной торговой информации в Non-Display системах, либо в целях создания или создания и распространения Производной информации. Также предоставляется возможность обработки Торговой информации для использования информации в Non-Display системах, либо в целях создания или создания и распространения Производной информации. Это позволит Вам использовать торговую информацию в целях алготрейдинга и/или риск–менеджмента, автоматической подачи заявок, в целях программ контроля за операционной деятельностью, для осуществления инвестиционного анализа, надзора, комплаенс контроля, а также оценки портфеля и многое другое.'
							}
						]
					}

				]
				var pictureSize="small"
			include ../modules/about_membership/module






