extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Торговая система"
				var marketsList = [
					{
						'title': 'Как подключиться к KASE'
					},
					{
						'title': 'Загрузки'
					},
					{
						'title': 'Инструкции',
						'active': true
					},
					{
						'title': 'FIX протокол'
					}
					
				]
			include ../modules/markets-menu/module

	.container
		.right-content-column
			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Торговая система',
					'Инструкции'
				]

			include ../modules/breadcrumbs/module

			h1 Инструкции

			.landing-section__text(style="max-width: 100%")
				
				p.
					В руководстве пользователя описывается процесс установки и настройки терминала, объясняются основные принципы работы интерфейса, разъясняется структура рынков внутри системы и уточняются некоторые особенности работы.
				
			-
				var systems = [
					{
						lists: [
							{
								'listTitle': 'Руководство пользователя'
							},{
								'listTitle': 'Руководство пользователя NEXT'
							},{
								'listTitle': 'Специальная версия торговой системы "Подписка" (версия 1.10)'
							}
						]
					}
				]
			include ../modules/trade-cols/module
			-
				var systems = [
					{
						title: 'Инструкции',
						lists: [
							{
								'listTitle': 'Инструкция по включению комиссии брокера в сделки Т+2',
								
							},{
								'listTitle': 'Особенности подачи заявок по инструментам валютного свопа при котировании в процентах доходности'
							},{
								'listTitle': 'Инструкция к порядку совершения сделок с паевыми инвестиционными фондами'
							},{
								'listTitle': 'Инструкция к порядку совершения сделок с акциями Индекса KASE по схеме Т+2'
							},{
								'listTitle': 'Изменения в версии 2.37'
							},{
								'listTitle': 'Изменения в версии 2.35'
							},{
								'listTitle': 'Изменения в версии 2.33'
							},{
								'listTitle': 'Увеличение и уменьшение клиентской денежной позиции'
							},{
								'listTitle': 'Активация торгового счета'
							},{
								'listTitle': 'Загрузка позиций'
							}
						]
					}
				]
			include ../modules/trade-cols/module
			
			.row.trade-row.trade-row--contacts
				a Руководство и инструкции
				span Телефон службы поддержки (+7 727) 327 60 23
				br
				br
				br
			