extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Правила"
				var marketsList = [
					{
						'title': 'Правила Kase'
					},
					{
						'title': 'Законодательство',
						'active': true
					},
					{
						'title': 'Корпоративное управление'
					},
					{
						'title': 'Дополнительные материалы'
					}
				]
			include ../modules/markets-menu/module
			//-include ../modules/regulations/module
			
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Правила',
					'Правила Kase'
				]
				
			include ../modules/breadcrumbs/module
			h1 Законодательство
			.accordion
				.accordion__head
					a.accordion__head-link(href="#") Рынок ценных бумаг 
						i.fa.fa-angle-down
				.accordion__body
					.reference-info.reference-info--page
						ul
							li
								| Закон Республики Казахстан "#[a(href="#'") Об акционерных обществах]" от 13 мая 2003 года № 415-II
								ul.reference-into--icon
									li
										a(href="#") Правила осуществления деятельности организаторов торгов с ценными бумагами и иными финансовыми инструментами
										|, утвержденные постановлением Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 29 октября 2008 года № 170

									li
										a(href="#") Требования к организационной структуре организатора торгов и составу листинговой комиссии фондовой биржи
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 19 декабря 2015 года № 249

									li
										a(href="#") Правила осуществления деятельности структурного подразделения организатора торгов, осуществляющего деятельность по надзору за совершаемыми сделками в торговой системе фондовой биржи
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 19 декабря 2015 года № 249

									li
										a(href="#") Правила формирования системы управления рисками и внутреннего контроля для фондовой биржи
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 19 декабря 2015 года № 252

									li
										a(href="#") Правила признания сделок, заключенных на организованном и неорганизованном рынках ценных бумаг, как совершенных в целях манипулирования, формирования и работы экспертного комитета фондовой биржи, а также его количественного состава
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 23 апреля 2014 года № 70

									li
										a(href="#") Правила расчета пруденциальных нормативов для организатора торгов
										|, утвержденные постановлением Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 29 марта 2010 года № 41

									li.
										Постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#") О внесении дополнений и изменений в постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 25 февраля 2006 года № 62 "Об утверждении Правил ведения системы реестров держателей ценных бумаг"]" от 29 декабря 2008 года № 237

									li
										a(href="#") Правила осуществления кастодиальной деятельности на рынке ценных бумаг Республики Казахстан
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 26 июля 2013 года № 184

									

									li
										a(href="#") Правила осуществления брокерской и (или) дилерской деятельности на рынке ценных бумаг
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 03 февраля 2014 года № 9

									li
										a(href="#") Правила применения ограниченных мер воздействия к единому накопительному пенсионному фонду, добровольному накопительному пенсионному фонду
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 26 июля 2013 года № 182
									
			.accordion.closed
				.accordion__head
					a.accordion__head-link(href="#") Акционерные общества
						i.fa.fa-angle-down
				.accordion__body
					.reference-info.reference-info--page
						ul
							li
								| Закон Республики Казахстан "#[a(href="#") Об акционерных обществах]" от 13 мая 2003 года № 415-II
								
								ul.reference-into--icon
									li.
										Постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#") О средствах массовой информации, используемых для публикации информации о деятельности акционерного общества, и требования к ним]" от 27 августа 2005 года № 311

									li
										a(href="#") Правила признания акционерного общества публичной компанией и отзыва у него статуса публичной компании
										|, утвержденные постановлением Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 30 марта 2007 года № 70

									li
										a(href="#") Правила размещения на интернет-ресурсе депозитария финансовой отчетности, фондовой биржи информации о корпоративных событиях, финансовой отчетности и аудиторских отчетов
										|, утвержденные постановлением Правления Национального Банка Республики Казахстан от 28 январ я 2016 года № 26

			.accordion.closed
				.accordion__head
					a.accordion__head-link(href="#") Инвестиционные фонды 
						i.fa.fa-angle-down
				.accordion__body
					ul.reference-into--icon.reference-info--page
						li.
							Закон Республики Казахстан "#[a(href="#") Об инвестиционных фондах]" от 07 июля 2004 года № 576-II


			.accordion.closed
				.accordion__head
					a.accordion__head-link(href="#") Государственные ценные бумаги 
						i.fa.fa-angle-down
				.accordion__body
					.reference-info.reference-info--page
						ul
							li
								a(href="#") Правила выпуска, размещения, обращения, обслуживания и погашения государственных казначейских обязательств Республики Казахстан
								|, утвержденные постановлением Правительства Республики Казахстан от 03 апреля 2009 года № 466

							li.
								Постановление Правительства Республики Казахстан "#[a(href="#") Об утверждении Правил выпуска ценных бумаг для обращения на внутреннем рынке местным исполнительным органом города республиканского значения, столицы]" от 02 октября 2009 года № 1520
							li.
								Постановление Правления Национального Банка Республики Казахстан "#[a(href="#") Об утверждении Правил выпуска, размещения, обращения и погашения краткосрочных нот Национального Банка Республики Казахстан]" от 15 сентября 2005 года № 108

					


