extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Правила"
				var marketsList = [
					{
						'title': 'Правила Kase',
						'active': true
					},
					{
						'title': 'Законодательство'
					},
					{
						'title': 'Корпоративное управление'
					},
					{
						'title': 'Дополнительные материалы'
					}
				]
			include ../modules/markets-menu/module
			//-include ../modules/regulations/module
			
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Правила',
					'Правила Kase'
				]
				
			include ../modules/breadcrumbs/module
			h1 Правила Kase
			-
				var gradientTabs = [
					{
						'title' : 'Листинг',
						'href' : 'listing',
						'active': true
					},
					{
						'title' : 'Членство',
						'href' : 'membership'
					},
					{
						'title' : 'Торги',
						'href' : 'stocks'
					},
					{
						'title' : 'Клиринг',
						'href' : 'clearing'
					},
					{
						'title' : 'Расчеты',
						'href' : 'calculations'
					},
					{
						'title' : 'Информация',
						'href' : 'information'
					},
					{
						'title' : 'Методики',
						'href' : 'methods'
					}
					]
			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="listing", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li #[a(href="#") Листинговые правила]
									ul.reference-into--icon
										li.
											Постановление Правления Национального Банка Республики Казахстан "#[a(href="#") Об утверждении Требований к эмитентам и их ценным бумагам, допускаемым (допущенным) к обращению на фондовой бирже, а также к отдельным категориям списка фондовой биржи]" от 22 октября 2014 года № 189
										li.
											Решение Правления KASE "#[a(href="#") Об оказании информационной поддержки компаниям, планирующим IPO на KASE] " от 13 августа 2010 года № 277
										li.
											#[a(href="#") Рекомендация Листинговой комиссии ] по включению в проспект выпуска облигаций, обращение которых планируется на организованном рынке, дополнительных ограничений (ковенантов)
										li.
											#[a(href="#") Правила государственной регистрации выпуска объявленных акций] , утверждения отчета об итогах размещения акций и аннулирования выпуска акций, утвержденные постановлением Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 30 июля 2005 года № 268
										li.
											#[a(href="#") Правила государственной регистрации выпуска негосударственных облигаций (облигационной программы), рассмотрения отчетов об итогах размещения и погашения негосударственных облигаций, а также аннулирования выпуска облигаций], утвержденные постановлением Правления Национального Банка Республики Казахстан от 29 апреля 2016 года № 115
										li.
											#[a(href="#") Перечень аудиторских организаций ], признаваемых KASE для включения ценных бумаг эмитентов в официальный список и их нахождения в указанном списке
										li.
											#[a(href="#") Правила размещения на интернет-ресурсах депозитария финансовой отчетности, фондовой биржи информации о корпоративных событиях, финансовой отчетности и аудиторских отчетов, списков аффилированных лиц акционерных обществ, а также информации о суммарном размере вознаграждения членов исполнительного органа по итогам года], утвержденные постановлением Правления Национального Банка Республики Казахстан от 28 января 2016 года № 26
								li: a(href="#") Положение о Листинговой комиссии
								li: a(href="#") Правила определения размеров, сроков и порядка уплаты листинговых сборов
								li: a(href="#") Порядок осуществления мониторинга раскрытия информации инициаторами допуска ценных бумаг
								li: a(href="#") Правила включения ценных бумаг в сектор "Коммерческие облигации" официального списка
								li: a(href="#") Правила допуска ценных бумаг к обращению в секторе "Государственные ценные бумаги" официального списка
								li: a(href="#") Правила допуска ценных бумаг к обращению в секторе "Нелистинговые ценные бумаги"
								li: a(href="#") Правила допуска ценных бумаг к обращению в секторе "Ценные бумаги международных финансовых организаций" официального списка
								li: a(href="#") Правила допуска акций к обращению в секторе "HiTec" официального списка
								li: a(href="#") Руководство пользователя специализированной системы электронного документооборота с эмитентами ценных бумаг "ISSUERS TO INVESTORS" (система is2in)
								li: a(href="#") Методика составления отчета по критериям экологичности, социальной ответственности и корпоративного управления
								li: a(href="#") Положение о Комитете Биржевого совета по финансовой отчетности и аудиту эмитентов]
								li: a(href="#") Кодекс корпоративного управления], актуализированный согласно решению Совета эмитентов от 03 июля 2007 года
								li: a(href="#") Комментарии к Кодексу корпоративного управления], актуализированного согласно решению Совета эмитентов от 03 июля 2007 года
								li: a(href="#") Правила ежегодного поощрения листинговых компаний
					
					.tab-pane.fade(id="membership", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li 
									a(href="#") Положение о членстве
									ul.reference-into--icon
										li: a(href="#") Приложение 6
										li: a(href="#") Приложение 11

								li
									a(href="#") Порядок осуществления мониторинга членов Биржи
									ul.reference-into--icon
										li.
											Постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#") О требованиях к иностранным юридическим лицам для членства на фондовой бирже]" от 30 сентября 2005 года № 360
										li.
											Постановление Правления Национального Банка Республики Казахстан "#[a(href="#") О перечне и сроках предоставления членами фондовой биржи финансовой отчетности и иной информации фондовой бирже]" от 13 февраля 2012 года № 33
								li: a(href="#") Порядок разрешения споров и конфликтов, возникающих в процессе осуществления сделок с финансовыми инструментами
								li: a(href="#") Положение об ответственности Биржи по заявкам, исполняемым от имени участников торгов
								li: a(href="#") Положение о членских взносах и биржевых сборах
								li: a(href="#") Правила профессиональной этики и делового поведения
								li: a(href="#") Методика составления отчета по критериям экологичности, социальной ответственности и корпоративного управления
					
					.tab-pane.fade(id="stocks", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Регламент торгов и работы Системы подтверждения
								li: a(href="#") Списки акций первого, второго и третьего классов ликвидности на декабрь 2016–январь 2017 года
								li: a(href="#") Положение о методах проведения торгов
								li: a(href="#") Положение о маркет-мейкерах
								li
									a(href="#") Правила деятельности маркет-мейкеров
									ul.reference-into--icon
										li: a(href="#") Приложение 1
								li
									a(href="#") Правила предоставления прямого доступа к организованному рынку ценных бумаг
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
								li: a(href="#") Требования к системам DMA членов АО "Казахстанская фондовая биржа" и их использованию

						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Торговая система
									i.fa.fa-angle-down
							.accordion__body
								.reference-info.reference-info--page
									ul
										li #[a(href="#") Правила сертификации пользователей торговой системы и предоставления им доступа к торговой системе]
											ul.reference-into--icon
												li: a(href="#") Приложение 1
												li: a(href="#") Приложение 3
												li: a(href="#") Приложение 8
												li: a(href="#") Приложение 9
										li
											a(href="#") Правила работы с торговой системой в режиме удаленного доступа
											ul.reference-into--icon
												li: a(href="#") Приложение
										li: a(href="#") Инструкция о требованиях к программно-техническим средствам, необходимым для осуществления деятельности на рынке ценных бумаг
										li: a(href="#") Инструкция о порядке кодировки членов АО "Казахстанская фондовая биржа", финансовых инструментов и эмитентов ценных бумаг
										li: a(href="#") Инструкция о порядке кодировки счетов членов АО "Казахстанская фондовая биржа" в торговой системе
										li
											a(href="#") Правила использования программно-криптографических средств защиты информации при работе с торговой системой в режиме удаленного доступа
											ul.reference-into--icon
												li: a(href="#") Приложение 1
										li: a(href="#") Правила разрешения вопросов при технических сбоях в работе Торговой системы биржи



						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Ценные бумаги
									i.fa.fa-angle-down
								
							.accordion__body
								.reference-info.reference-info--page
									ul
										li: a(href="#") Правила биржевой торговли ценными бумагами
										li: a(href="#") Правила размещения государственных казначейских обязательств Республики Казахстан
										li: a(href="#") Государственные пакеты акций. Порядок допуска к продаже на торгах и расчетов по итогам торгов
										li: a(href="#") Порядок совершения сделок на фондовом рынке по схеме T+2
										li: a(href="#") Правила проведения подписки на ценные бумаги


						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Операции репо
									i.fa.fa-angle-down
							.accordion__body
								.reference-info.reference-info--page
									ul
										li: a(href="#") Правила осуществления операций репо
										li: a(href="#") Спецификация рынка автоматического репо

						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Иностранные валюты
									i.fa.fa-angle-down
							.accordion__body
								.reference-info.reference-info--page
									ul
										li: a(href="#") Спецификация операций валютного свопа
										li: a(href="#") Правила биржевой торговли иностранными валютами


						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Деривативы
									i.fa.fa-angle-down
							.accordion__body
								.reference-info.reference-info--page
									ul
										li: a(href="#") Правила биржевой торговли производными финансовыми инструментами
										li: a(href="#") Требования к обязательным котировкам и размеры дисконтов комиссионных сборов маркет-мейкеров по фьючерсам
										li: a(href="#") Спецификация фьючерса на курс доллара США к тенге
										li: a(href="#") Спецификация фьючерса на Индекс KASE
										li: a(href="#") Спецификация фьючерса на простые акции KAZ Minerals PLC
										li: a(href="#") Спецификация фьючерса на простые акции АО "Народный сберегательный банк Казахстана"
										li: a(href="#") Спецификация фьючерса на простые акции АО "Разведка Добыча "КазМунайГаз"
										li: a(href="#") Спецификация фьючерса на простые акции АО "КазТрансОйл"
										li: a(href="#") Спецификация фьючерса на простые акции АО "Кселл"

					.tab-pane.fade(id="clearing", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Регламент работы клиринговой системы
								li: a(href="#") Порядок включения финансовых инструментов в Список финансовых инструментов фондового рынка, по сделкам с которыми Биржа осуществляет клиринговую деятельность
								li
									a(href="#") Правила осуществления клиринговой деятельности по сделкам с финансовыми инструментами
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
										li: a(href="#") Приложение 3
										li: a(href="#") Приложение 4
										li: a(href="#") Приложение 5
								li
									a(href="#") Положение о клиринговых участниках
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
										li: a(href="#") Приложение 3
								li: a(href="#") Положение о клиринговых сборах

					.tab-pane.fade(id="calculations", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li
									a(href="#") Правила работы Расчетной палаты
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
										li: a(href="#") Приложение 3
										li: a(href="#") Приложение 4
										li: a(href="#") Приложение 5
								li: a(href="#") Положение об ответственности за нарушение сроков расчетов
								li: a(href="#") Порядок блокировки государственных ценных бумаг в пользу биржи для обеспечения обязательств членов биржи
								li: a(href="#") Правила реализации ценных бумаг, заблокированных в пользу Биржи ее членами для обеспечения своих обязательств перед ней
								li
									a(href="#") Договор о взаимоотношениях в части блокировки ценных бумаг 
									|(Типовой договор)

						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Ценные бумаги
									i.fa.fa-angle-down
								
							.accordion__body
								.reference-info.reference-info--page
									ul
										li: a(href="#") Регламент проведения расчетов по сделкам с ценными бумагами по схеме T+0 с полным обеспечением (гросс-расчеты)
										li #[a(href="#") Общие условия расчетов по итогам торгов ценными бумагами]
											ul.reference-into--icon
												li: a(href="#") Приложение 1
												li: a(href="#") Приложение 2
												li: a(href="#") Приложение 3

						.accordion.closed
							.accordion__head
								a.accordion__head-link(href="#") Иностранные валюты
									i.fa.fa-angle-down
							.accordion__body
								.reference-info.reference-info--page
									ul
										li
											a(href="#") Общие условия расчетов по итогам торгов ценными бумагами
											ul.reference-into--icon
												li: a(href="#") Приложение 2
												li: a(href="#") Приложение 2a
												li: a(href="#") Приложение 3
												li: a(href="#") Приложение 4
												li: a(href="#") Приложение 5
												li: a(href="#") Приложение 6
												li: a(href="#") Приложение 7

										li: a(href="#") Список корреспондентских счетов Биржи
										li: a(href="#") Положение об ответственности за нарушение сроков расчетов по итогам торгов иностранными валютами
										li: a(href="#") Положение о Комитете по рынку иностранных валют
							
					
					.tab-pane.fade(id="information", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Информационная политика
								li: a(href="#") Правила распространения биржевой информации
								li: a(href="#") Положение об условиях коммерческого предоставления биржевой информации

					.tab-pane.fade(id="methods", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li
									a(href="#") Методика оценки ценных бумаг
									ul.reference-into--icon
										li.
											#[a(href="#") Правила осуществления учета и оценки пенсионных активов], утвержденные постановлением Правления Национального Банка Республики Казахстан от 26 февраля 2014 года № 24
								li
									a(href="#") Положение о Комитете по индексам и оценке ценных бумаг
									ul.reference-into--icon
										li: a(href="#") Расчет рыночных цен акций, включенных в список финансовых инструментов фондового рынка, по сделкам с которыми KASE осуществляет клиринговую деятельность
								li: a(href="#") Методика расчета средневзвешенной ставки доходности долговых ценных бумаг
								li: a(href="#") Методика определения показателей ликвидности ценных бумаг
								li: a(href="#") Методика расчета показателей активности членов АО "Казахстанская фондовая биржа"
								li: a(href="#") Методика расчета доходности облигаций и сумм сделок с облигациями
								li: a(href="#") Методика расчета индикаторов фондового рынка
								li: a(href="#") Методика расчета индикаторов рынка операций репо
								li
									a(href="#") Меморандум о формировании индикатора межбанковского рынка депозитов
									ul.reference-into--icon
										li: a(href="#") Форма заявления
								li: a(href="#") Методика формирования индикатора межбанковского рынка депозитов
								li: a(href="#") Методика расчета индикаторов рынка иностранных валют



