extends ../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Правила"
				var marketsList = [
					{
						'title': 'Правила Kase'
					},
					{
						'title': 'Законодательство'
					},
					{
						'title': 'Корпоративное управление'
					},
					{
						'title': 'Дополнительные материалы',
						'active': true
					}
				]
			include ../modules/markets-menu/module
			//-include ../modules/regulations/module
			
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Правила',
					'Дополнительные материалы'
				]
				
			include ../modules/breadcrumbs/module
			h1 Разное
			.reference-info.reference-info--page
				ul
					li
						| Постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#") О внесении изменений и дополнений в постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций от 19 апреля 2005 года № 132 "Об утверждении Инструкции о требованиях к программно-техническим средствам, необходимым для осуществления деятельности на рынке ценных бумаг"]" от 26 января 2009 года № 9
					li
						| Письмо Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "#[a(href="#") Относительно ответственности брокеров]" от 26 марта 2009 года № 05-03-25/1400
					li
						| Письмо Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций, #[a(href="#") разъясняющее дополнения, внесенные в постановление Правления Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций "Об утверждении Правил осуществления брокерской и дилерской деятельности на рынке ценных бумаг Республики Казахстан"] от 27 августа 2005 года № 317 и введенные в действие с 25 декабря 2008 года
					li
						a(href="#") Принципы для инфраструктур финансового рынка
					li
						a(href="#") Информация по соблюдению Принципов для инфраструктур финансового рынка
					li
						a(href="#") Структура раскрытия информации и методология оценки
					li
						a(href="#") Положение о Конкурсе среди представителей средств массовой информации
					li
						a(href="#") Правила проведения конкурса среди розничных инвесторов

						