.text-footer
	.text-footer__social Поделиться: 
		a(href="#"): i.fa.fa-facebook
		a(href="#"): i.fa.fa-twitter
		a(href="#"): i.fa.fa-vk

	.text-footer__print
		a(href="#")
			span Распечатать
			i.fa.fa-print