div(class="landing-head landing-head--" + headStyle)
	.container
		.landing-head__body
			.head-rect__parent
				include ../head-rect/module
			.landing-head__text
				p.
					Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга