.fund-table {
	margin-bottom: 40px;
}
.fund-table__thead {
	background-color: #e6e9ed;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 20px;
	.fund-table__col {
		display: inline;
	}
}
.fund-table__row {
	padding: 7px 20px;
	border-bottom: 1px solid #c9d4de;
	line-height: 1.5;
	&:nth-child(2n) {
		background-color: #f7f9fa;
	}
}
.fund-table__col {
	//border-bottom: 1px solid #c9d4de;
}

@media (min-width: 540px) {
	.fund-table__thead, .fund-table__row {
		text-align: left;
		padding: 10px 20px;
		&:before, &:after {
			display: table;
			line-height: 0;
			clear: both;
			content: "";
		}
		.mob-line {
			display: none;
		}
	}
	.fund-table__col {
		width: 50%;
		float: left;
	}
}