.accordion {
	margin-bottom: 35px;
	&.closed {
		.accordion__head {
			.small-dropdown {
				position: absolute;
			}
		}
		.accordion__head-link {
			.fa {
				&:before {
					content: '\f107';
				}
			}
		}
		.accordion__hide-in-closed {
			opacity: 0;
			visibility: hidden;
		}
	}
	.date {
		font-weight: 100;
		margin-bottom: 5px;
	}
	.help-block {
		color: #a8b1ba;
		text-align: right;
		margin-bottom: 5px;
		font-size: $fz12;
	}
}
.accordion__body {
	overflow: hidden;
}
.accordion__hide-in-closed {
	opacity: 1;
	visibility: visible;
	transition: all 400ms;
}
.accordion__head {
	position: relative;
	padding: 15px 52px 15px 0;
	border-top: 1px solid #c9d4de;
	.small-dropdown {
		position: relative;	
		margin-top: 8px;
	}
}
.accordion__head-link {
	font-size: $fz20;
	font-weight: 100;
	color: $defaultColor;
	&:hover {
		color: #3cbd0d;
	}
	.fa {
		width: 32px;
		height: 32px;
		color: #3cbd0d;
		border: 1px solid #3cbd0d;
		border-radius: 50%;
		font-size: 140%;
		position: absolute;
		top: 12px;
		right: 10px;
		&:before {
			display: flex;
			justify-content: center;
			align-items: center;
			content: '\f106';
		}
	}
}
.accordion__nav {
	padding: 0;
	margin: 0 0 10px;
	li {
		display: block;
		position: relative;
		padding-left: 18px;
		float: left;
		&:before {
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #3cbd0d;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 5px;
			transition: all 300ms;
			content: "";
		}
		a {
			color: $defaultColor;
			&:hover {
				color: #3cbd0d;
			}
		}
		&.active {
			a {
				color: #3cbd0d;
				cursor: default;
			}
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media (min-width: 649px) {
	.accordion {
		&.closed {
			.accordion__head {
				.small-dropdown {
					position: relative;
				}
			}
		}
	}
	.accordion__head {
		.small-dropdown {
			position: relative;
			float: right;
		}
	}
}