.list-slider__parent {
	position: relative;
	&--whiteBlock{
	color: initial;
		.slick-slide.slick-current.slick-active, .slick-slide.slick-active{
		}
		.list-slider__number svg{
			top: 20px;
		}
		.list-slider__text {
			font-size: 14px;
			padding-top: 10px;
		}
		.list-slider__item {
			width: 100%;
		    padding-left: 15px;
		    padding-right: 10px;
		    height: 365px;
		    background-color: #FFF;

		}
		.list-slider--nav-yellow .slick-dots .slick-active button {
			border-color: rgba(56, 56, 56, 0.3);
    		background: #fff;
		}
		.slick-initialized .slick-slide {
		    //display: block;
		    padding: 0 15px;
		}
		
	}
}


.list-slider {
	font-size: 16px;
	text-align: left;
}
.list-slider__number {
	font-family: Arial, sans-serif;
	font-size: 140px;
	line-height: 0.5;
	svg {
		height: 102px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.list-slider__item {
	position: relative;
	padding-top: 54px;
}
.list-slider__title {
	font-weight: bold;
	font-size: 18px;
	position: relative;
	z-index: 1;

}
.list-slider__text {
	position: relative;
	z-index: 1;
}

.slick-dots {
	width: 100%;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    li {
    	display: inline-block;
    	margin-left: 8px;
    	margin-bottom: 8px;
    	&:first-child {
    		margin-left: 0;
    	}
    }
    button {
    	font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 12px;
	    height: 12px;
	    padding: 0;
	    cursor: pointer;
	    color: transparent;
	    border: 1px solid rgba(56, 56, 56, 0.3);
	    border-radius: 50%;
	    outline: none;
	    background: transparent;
	    transition: all 300ms;
    }
}
.list-slider {
	&--nav-green {
		.slick-dots {
			.slick-active {
				button {
					border-color: #41b649;
					background: #41b649;
				}
			}
		}
	}
	&--nav-blue {
		.slick-dots {
			.slick-active {
				button {
					border-color: #0390df;
					background: #0390df;
				}
			}
		}
	}
	&--nav-orange {
		.slick-dots {
			.slick-active {
				button {
					border-color: #ef7f1a;
					background: #ef7f1a;
				}
			}
		}
	}
	&--nav-yellow {
		.slick-dots {
			.slick-active {
				button {
					border-color: #fecc00;
					background: #fecc00;
				}
			}
		}
	}
}
.list-slider__arrows {
	display: none;
	.slick-arrow {
		opacity: 0.2;
		display: block;
		border: none;
		padding: 0;
		background: none;
		box-shadow: none;
		position: absolute;
		top: 100px;
		transition: all 300ms;
		&:hover {
			opacity: 0.5;
		}
		&.slick-disabled {
			visibility: hidden;
			opacity: 0;
		}
	}
	.list-slider__prev {
		left: -45px;
	}
	.list-slider__next {
		right: -45px;
	}
	svg {
		width: 34px;
		height: 24px;
	}
}
@media (min-width: 600px) and (max-width: 768px){
	.list-slider__item {
		//max-width: 300px;
	}
}
@media (min-width: 540px) {
	.list-slider__item {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-slider__parent--whiteBlock .list-slider__item {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.list-slider__parent--whiteBlock .slick-slide.slick-active{
		//padding: 0 15px 0 15px;
	}
}
@media (min-width: 992px) {
	.list-slider__arrows {
		display: block;
	}
	.list-slider__parent--whiteBlock .list-slider__arrows{
		display: none;
	}
}