#greatSlider.great-slider
	.great-slider__wrapper
		.great-slider__item
			img.great-slider__image(src="img-content/img-1.jpg", alt="")
			.great-slider__item-content
				div
					.great-slider__title Будь в Trade 
						span.great-slider__title--green вместе с KASE
					.great-slider__text
						| Узнай как успешно торговать на бирже

		.great-slider__item
			img.great-slider__image(src="img-content/img-2.jpg", alt="")
			.great-slider__item-content
				div
					.great-slider__title Будь в Trade 
						span.great-slider__title--green вместе с KASE
					.great-slider__text
						| Узнай как успешно торговать на бирже
						
	.great-slider__arrows
		#greatSliderPrev.great-slider__arrow.great-slider__arrow--next
			img(src="images/arrow-up-white.svg", alt="")
		#greatSliderNext.great-slider__arrow.great-slider__arrow--prev 
			img(src="images/arrow-down-white.svg", alt="")