#greatSlider-events.great-slider-events
	.great-slider-events__wrapper


		.great-slider-events__item
			img.great-slider-events__image(src="images/events-slider-img1.png", alt="")
			.great-slider-events__item-content
				div
					h3 22 Августа #[br] 11:00
					p.great-slider-events__title Invest show
					p.great-slider-events__text Место проведения: #[br] #[b Almaty towers] #[br] #[span ул. Сатпаева 75]


		.great-slider-events__item
			img.great-slider-events__image(src="images/events-slider-img1.png", alt="")
			.great-slider-events__item-content
				div
					h3 22 Августа #[br] 12:00
					p.great-slider-events__title Другой текст
					p.great-slider-events__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, repellat?


		.great-slider-events__item
			img.great-slider-events__image(src="images/events-slider-img1.png", alt="")
			.great-slider-events__item-content
				div
					h3 22 Августа #[br] 13:00
					p.great-slider-events__title Другой текст
					p.great-slider-events__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.