.landing-login__parent {
	background-color: #f7f8f8;
	padding: 65px 0;

	.landing-login__btn {
		background: #d5da0a;
		color: #fff;
		background: linear-gradient(to right, #d5da0a 0%,#3cbd0d 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5da0a', endColorstr='#3cbd0d',GradientType=1 );
	}
}
