#regulations.regulations
	div.dropdown
		a.dropdown-link(href="#", data-toggle="dropdown", role="button")
			i.fa.fa-ellipsis-v

		.dropdown-menu
			h5 Регламент
			.regulations__timetable
				div
					.help-block Акции первого класса ликвидности:
					div 
						span 11:30 – 17:00
						|торговая сессия
					div 
						span 17:20 – 18:00
						|клиринговая сессия
				div
					.help-block Акции второго и третьего классов ликвидности:
					div 
						span 17:20 – 18:00
						|торговая сессия
			.regulations__download
				form
					- var radioName = "prices"
					- var radioLabels = ["Средневзвешенные цены", "Риск-параметры акций"];
					for radioLabel in radioLabels
						include ../radiobutton/module
					.regulations__download-input.regulations__download-input--mobile
						i.fa.fa-calendar
						input(type="date")
						.regulation__download-link
							a(href="#")
								i.fa.fa-download
					.regulations__download-input
						i.fa.fa-calendar
						input.datepicker(type="text", data-date-format="dd/mm/yyyy")
						.regulation__download-link
							a(href="#")
								i.fa.fa-download
			.regulations__links-list
				h5 Полезные ссылки
				ul.blue-list
					li: a(href="#") Список акций
					li: a(href="#") Просмотр торгов
					li: a(href="#") Список брокеров
					li: a(href="#") Маркет-мейкеры
					li: a(href="#") Рыночная оценка
					li: a(href="#") Правила торгов