extends ../../templates/base
block variables
	- bodyClass = "body__with-button-block"

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Торги"
				var marketsList = [
					{
						'title': 'Список инструментов'
					},
					{
						'title': 'Список компаний',
						'active': true
					},
					{
						'title': 'Просмотр торгов'
					}
					,
					{
						'title': 'Регламент торгов и клиринга'
					}
					,
					{
						'title': 'Клиринг и расчеты'
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column
			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Список компаний',
					'HSBK'
				]

			include ../../modules/breadcrumbs/module

			.container
				.h1-block
					a.arrow-back(href="#")
						i.fa.fa-angle-left
					.flex
						h1 HSBK
						div
							.h1-block__indicator 12,34% годовых
							.h1-block__indicator.up 0.14
					div(style="margin-top: 6px;") простые акции KZ1C33870011 (KZ000A0LE0S4)
					div: a(href="#") АО "Народный сберегательный банк Казахстана"
				
				.button-block
					a.button-block__button.button-block__button--transparent-blue(href="#")
						i.fa.fa-heart-o
						|Добавить в избранные

					//- уже в избранном
						a.button-block__button.button-block__button--transparent-blue.active(href="#")
							i.fa.fa-heart-o
							|Добавлено в избранные	


				-
					var gradientTabs = [
						{
							'title' : 'Торги',
							'href' : 'trade',
							'active': true
						},
						{
							'title' : 'Характеристика ценной бумаги',
							'href' : 'characteristic'
						},
						{
							'title' : 'Проспекты',
							'href' : 'catalogs'
						}
						]

				.gradient-tabs.gradient-tabs--not-margin
					ul#anchors.nav(style="border: none; padding: 0;")
						each item in gradientTabs
							if (item.active == true)
								li.gradient-tabs__tab.gradient-tabs__tab--green.active
									a(href="#" + item.href): span= item.title
							else
								li.gradient-tabs__tab.gradient-tabs__tab--green
									a(href="#" + item.href): span= item.title

				#trade.accordion.closed
					.accordion__head
						a.accordion__head-link(href="#") Торги
							i.fa.fa-angle-down
					.accordion__body
						.sortin-table
							table.sorting-table.table.table-striped
								thead
									tr
										th Date/Period
										th Bid
										th Offer
										th Last
										th W-aver
										th High
										th Low
										th Trade
										th Shares
										th m. KZT
										th th. USD
								tbody
									tr
										td 04.07.16 (15:00)
										td 38.71
										td 39.71
										td 38.71
										td 38.76
										td 39.00
										td 38.68
										td 7
										td 1 435
										td 0.1
										td 0.165
									tr
										td 01.07.16
										td 38.71
										td 39.71
										td 38.71
										td 38.76
										td 39.00
										td 38.68
										td 7
										td 1 435
										td 0.1
										td 0.165
									tr
										td Last 52 weeks
										td 38.71
										td 39.71
										td 38.71
										td 38.76
										td 39.00
										td 38.68
										td 7
										td 1 435
										td 0.1
										td 0.165

						.actions__chart
							//- TradingView Widget BEGIN
							script(type="text/javascript", src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js")
							script(type="text/javascript").
								new TradingView.widget({
								  "autosize": true,
								  "symbol": "NASDAQ:AAPL",
								  "interval": "D",
								  "timezone": "Asia/Almaty",
								  "theme": "White",
								  "style": "3",
								  "locale": "ru",
								  "toolbar_bg": "#f1f3f6",
								  "enable_publishing": false,
								  "hide_top_toolbar": true,
								  "hideideas": true
								});
							//- TradingView Widget END
						
						br

						h5 Последние 10 сделок за последние 52 недели по HSBK

						.sortin-table
							table.sorting-table.table.table-striped
								thead
									tr
										th Дата сделки
										th Время сделки
										th.
											Объем,
											#[br]
											тыс. USD
										th.
											Объем,
											#[br]
											млн. KZT
										th Объём бумаг
										th.
											Цена,
											#[br]
											значение
										th.
											Цена,
											#[br]
											тренд %
								tbody
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.up 2.14
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.down 2.14
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.up 2.14
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.down 2.14
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.up 2.14
									tr
										td 04.07.16
										td 15:12:23
										td 0.0002
										td 0.001
										td 11
										td 39.55
										td: span.down 2.14

						br

						h5 Другие ценный бумаги АО “Народный Сберегательный банк Казахстана”

						.sortin-table
							table.sorting-table.table.table-striped
								thead
									tr
										th Торговый код
										th НИН или ISIN
										th Сектор
										th Категория
										th Торги
										th Индекс
								tbody
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td акции
										td первая
										td 25.05.2015
										td KASE
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td долговые ценные бумаги
										td иные долговые ценные бумаги
										td 25.05.2015
										td -
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td акции
										td первая
										td 25.05.2015
										td KASE
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td долговые ценные бумаги
										td иные долговые ценные бумаги
										td 25.05.2015
										td -
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td акции
										td первая
										td 25.05.2015
										td KASE
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td долговые ценные бумаги
										td иные долговые ценные бумаги
										td 25.05.2015
										td -
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td акции
										td первая
										td 25.05.2015
										td KASE
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td долговые ценные бумаги
										td иные долговые ценные бумаги
										td 25.05.2015
										td -
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td акции
										td первая
										td 25.05.2015
										td KASE
									tr
										td: a(href="#") HSBK
										td.
											KZ1C33870011
											#[br]
											KZ000A0LE0S4
										td долговые ценные бумаги
										td иные долговые ценные бумаги
										td 25.05.2015
										td -


				#characteristic.accordion.closed
					.accordion__head
						a.accordion__head-link(href="#") Характеристика ценной бумаги
							i.fa.fa-angle-down
					.accordion__body
						.info-table
							.info-table__row
								.info-table__cell.
									Эмитент:
								.info-table__cell.
									АО "Народный сберегательный банк Казахстана"

							.info-table__row
								.info-table__cell.
									Тип акции:
								.info-table__cell.
									простая

							.info-table__row
								.info-table__cell.
									CFI:
								.info-table__cell.
									ESVUFR

							.info-table__row
								.info-table__cell.
									НИН:
								.info-table__cell.
									KZ1C33870011

							.info-table__row
								.info-table__cell.
									ISIN
								.info-table__cell.
									KZ000A0LE0S4

							.info-table__row
								.info-table__cell.
									BBGID
								.info-table__cell.
									BBG000DX10J0

							.info-table__row
								.info-table__cell.
									Дата регистрации выпуска:
								.info-table__cell.
									03.06.2016

							.info-table__row
								.info-table__cell.
									Регистратор
								.info-table__cell.
									АО "Единый регистратор ценных бумаг" (Алматы)

							.info-table__row
								.info-table__cell.
									Общее количество объявленных акций
								.info-table__cell.
									25 000 000 000

							.info-table__row
								.info-table__cell.
									Количество акций в обращении:
								.info-table__cell.
									10 995 541 982

							.info-table__row
								.info-table__cell.
									Валюта выпуска:
								.info-table__cell.
									KZT

							.info-table__row
								.info-table__cell.
									Номинальная стоимость:
								.info-table__cell.
									1,00

							.info-table__row
								.info-table__cell.
									Периодичность выплаты дивиденда:
								.info-table__cell.
									годовой

							.info-table__row
								.info-table__cell.
									Информация о проведенных сплитах:
								.info-table__cell
									a(href="#") 14 декабря 2012 общее количество объявленных акций увеличено путем сплита в пропорции 1:10

							.info-table__row
								.info-table__cell.
									Включены в представительский список индекса KASE:
								.info-table__cell.
									01.10.07

							br

							.info-table__row
								.info-table__cell.
									Торговый код:
								.info-table__cell.
									HSBK

							.info-table__row
								.info-table__cell.
									Список ценных бумаг:
								.info-table__cell.
									официальный, категория "первая"

							.info-table__row
								.info-table__cell.
									Валюта котирования:
								.info-table__cell.
									KZT

							.info-table__row
								.info-table__cell.
									Точность котирования:
								.info-table__cell.
									2 знака

							.info-table__row
								.info-table__cell.
									Схема расчетов:
								.info-table__cell.
									T+2

							.info-table__row
								.info-table__cell.
									Дата включения в торговые списки:
								.info-table__cell.
									16.09.98

							.info-table__row
								.info-table__cell.
									Дата открытия торгов:
								.info-table__cell.
									16.09.98

							.info-table__row
								.info-table__cell.
									Маркет-мейкеры:
								.info-table__cell
									a(href="#") АО "Дочерняя организация Народного Банка Казахстана "Halyk Finance"

							.info-table__row
								.info-table__cell.
									Включены в представительский список индекса KASE:
								.info-table__cell.
									01.10.07
								
				
				#catalogs.accordion.closed
					.accordion__head
						a.accordion__head-link(href="#") Проспекты
							i.fa.fa-angle-down
					.accordion__body
						.reference-info.reference-info--page
							ul
								li: a(href="#") Устав компании, зарегистированный 20 декабря 2002 года
								li: a(href="#") Устав компании, зарегистированный 20 декабря 2002 года
								li: a(href="#") Устав компании, зарегистированный 20 декабря 2002 года
								li: a(href="#") Устав компании, зарегистированный 20 декабря 2002 года
								li: a(href="#") Устав компании, зарегистированный 20 декабря 2002 года


block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});