extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Торги"
				var marketsList = [
					{
						'title': 'Просмотр торгов'
					},
					{
						'title': 'Регламент торгов и клиринга'
					},
					{
						'title': 'Рыночная оценка',
						'active': true
					},
					{
						'title': 'Обзоры рынка'
					},
					{
						'title': 'Распространение информации'
					},
					{
						'title': 'Статистика'
					},
					{
						'title': 'Как подключиться к KASE'
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Торги',
					'Рыночна оценка'
				]

			include ../../modules/breadcrumbs/module

			h1 Рыночная оценка
			
			-
				var gradientTabs = [
					{
						'title' : '2017',
						'href' : 'a2017',
						'active': true
					},
					{
						'title' : '2016',
						'href' : 'a2016'
					},
					{
						'title' : '2015',
						'href' : 'a2015'
					},
					{
						'title' : '2014',
						'href' : 'a2014'
					},
					{
						'title' : '2013',
						'href' : 'a2013'
					},
					{
						'title' : '2012',
						'href' : 'a2012'
					},
					{
						'title' : '2011',
						'href' : 'a2011'
					},
					{
						'title' : '2010',
						'href' : 'a2010'
					},
					{
						'title' : '2009',
						'href' : 'a2009'
					},
					{
						'title' : '2008',
						'href' : 'a2008'
					},
					{
						'title' : '2007',
						'href' : 'a2007'
					},
					{
						'title' : '2006',
						'href' : 'a2006'
					},
					{
						'title' : '2005',
						'href' : 'a2005'
					},
					{
						'title' : '2004',
						'href' : 'a2004'
					}
					,
					{
						'title' : '2003',
						'href' : 'a2003'
					}
				]

			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="a2017", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 24 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 марта 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 13 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 марта 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 06 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 марта 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 февраля 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 27 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 февраля 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 20 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 февраля 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 13 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 февраля 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 06 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 февраля 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 31 января 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 30 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 января 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 23 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 19 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 января 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 16 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 12 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 января 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 09 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 января 2017 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 04 января 2017 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 января 2017 года
					.tab-pane.fade(id="a2016", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 декабря 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 26 декабря 2016 год
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 декабря 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 20 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 12 декабря 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 12 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 декабря 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 05 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 декабря 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 ноября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 28 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 ноября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 21 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 ноября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 14 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долговых ценных бумаг, выпущенных в соответствии с законодательством иного, помимо Республики Казахстан, государства, осуществленной KASE по состоянию на 08 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 ноября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 07 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 ноября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 31 октября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 31 октября 2016 год
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 октября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 24 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 19 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 октября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 17 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 12 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 октября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 10 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 октября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 03 октября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 сентября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 26 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 19 сентября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 19 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 сентября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 13 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 сентября 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 05 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 сентября 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 31 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 августа 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 29 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 августа 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 22 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 19 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 августа 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 15 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 12 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 10 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 августа 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 08 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 02 августа 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 01 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 августа 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 26 июля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 25 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 19 июля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 18 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 12 июля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 11 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 07 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 июля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 04 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 июля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 июня 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 27 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 27 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 21 июня 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 20 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 20 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 17 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 июня 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 13 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 13 июня 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 06 июня 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 06 июня 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 30 мая 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 30 мая 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 23 мая 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 23 мая 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 16 мая 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 16 мая 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 11 мая 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 мая 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 03 мая 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 03 мая 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 25 апреля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 апреля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 18 апреля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 апреля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 11 апреля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 апреля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 04 апреля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 04 апреля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 28 марта 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 28 марта 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 24 марта 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 24 марта 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 14 марта 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 14 марта 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 09 марта 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 09 марта 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 29 февраля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 29 февраля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 22 февраля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 22 февраля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 15 февраля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 15 февраля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 08 февраля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 08 февраля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 01 февраля 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 01 февраля 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 25 января 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 25 января 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 18 января 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 18 января 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 11 января 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 11 января 2016 года
								li: a(href="#") Файл с данными о справедливой стоимости неликвидных долговых ценных бумаг по состоянию на 05 января 2016 года
								li: a(href="#") Файл с данными рыночной оценки долевых и долговых ценных бумаг, осуществленной KASE по состоянию на 05 января 2016 года
					.tab-pane.fade(id="a2015", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2014", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2013", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2012", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2011", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2010", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2009", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2008", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2007", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2006", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2005", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2004", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
					.tab-pane.fade(id="a2003", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li: a(href="#") И т.д
block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});