extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Торги"
				var marketsList = [
					{
						'title': 'Список инструментов'
					},
					{
						'title': 'Список компаний'
					},
					{
						'title': 'Просмотр торгов'
					}
					,
					{
						'title': 'Регламент торгов и клиринга'
					}
					,
					{
						'title': 'Клиринг и расчеты',
						'active': true
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Торги',
					'Клиринг и расчеты'
				]

			include ../../modules/breadcrumbs/module

			h1 Клиринг и расчеты
			
			-
				var gradientTabs = [
					{
						'title' : 'О лицензии',
						'href' : 'about'
					},
					{
						'title' : 'Финансовые инструменты',
						'href' : 'tools'
					},
					{
						'title' : 'Клиринговые участники',
						'href' : 'members',
						'active': true
					},
					{
						'title' : 'Клиринговые фонды',
						'href' : 'clearing'
					},
					{
						'title' : 'Правила',
						'href' : 'rules'
					}
					]

			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade(id="about", role="tabpanel")
						h3 О лицензии на осуществление клиринговой деятельности
						p.
							С 23 июля 2012 года АО "Казахстанская фондовая биржа" осуществляет клиринговую деятельность на биржевых рынках финансовых инструментов на основании лицензии на осуществление деятельности на рынке ценных бумаг от 19 июля 2012 года Ы2 4.2.3/1, выданной Комитетом по контролю и надзору финансового рынка и финансовых организаций Национального банка Республики Казахстан (клиринговая деятельность по сделкам с финансовыми инструментами на рынке ценных бумаг).

						a.underline(href="#")
							i.fa.fa-print
							| &nbsp;Скачать в PDF

					.tab-pane.fade(id="tools", role="tabpanel")
						.actions-tables
							h3 Финансовые инструменты, по сделкам, с которыми биржа осуществляет клиринг
							.actions-tables__title-block.text-right
								.actions-tables__help-text Всего: 28 фин. инструментов
							div
								.accordion
									.accordion__head
										a.accordion__head-link(href="#") Инструменты валютного рынка
											i.fa.fa-angle-down
									.accordion__body
										.sortin-table
											table.sorting-table.table.table-striped.table--actions
												thead
													tr
														th Код
														th Наименование
												tbody
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
										.actions-tables__help-text Всего: инструментов – 21
								.accordion.closed
									.accordion__head
										a.accordion__head-link(href="#") Инструменты фондового рынка
											i.fa.fa-angle-down
									.accordion__body
										.sortin-table
											table.sorting-table.table.table-striped.table--actions
												thead
													tr
														th Код
														th Наименование
												tbody
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
										.actions-tables__help-text Всего: инструментов – 21
								.accordion.closed
									.accordion__head
										a.accordion__head-link(href="#") Инструменты рынка деривативов
											i.fa.fa-angle-down
									.accordion__body
										.sortin-table
											table.sorting-table.table.table-striped.table--actions
												thead
													tr
														th Код
														th Наименование
												tbody
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге
													tr
														td: a(href="#") EURKZT_1_002
														td: a(href="#") Операция валютного свопа в отношении евро с расчётами в тенге

										.actions-tables__help-text Всего: инструментов – 21
					.tab-pane.fade.active.in(id="members", role="tabpanel")
						h3 Чтобы стать клиринговым участником нужно			

						-
							var stepsItems = [
								{
									'image': 'images/clearing-icon-1.svg',
									'text': 'Получить статус члена Биржи по выбранной категории'
								},
								{
									'image': 'images/clearing-icon-2.svg',
									'text': 'Подключиться к системе электронного документооборота Entransfer'
								},
								{
									'image': 'images/clearing-icon-3.svg',
									'text': 'Подать заявление на присвоение статуса Клирингового участника'
								}
							]

						include ../../modules/steps-list/module

						.accordion__body

							h3 Клиринговые участники по категориям

							ul.accordion__nav
								li.active: a(href="#") Все
								li: a(href="#") Валютные
								li: a(href="#") Фондовая
								li: a(href="#") Деривативы
							table.sorting-table--false.table.table-striped
								thead
									tr
										th Наименование участника
										th Лицензия, номер
										th Лицензия, дата выдачи
								tbody
									tr
										td: a(href="#") Акционерное общество "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстана")
										td.text-center 1.2.23/194/33
										td.text-center 07.11.16
									tr
										td: a(href="#") Акционерное общество "Дочерняя организация акционерного общества "БТА Банк" "БТА Секьюритис"
										td.text-center 1.2.23/194/33
										td.text-center 09.11.16
									tr
										td: a(href="#") Акционерное общество "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстана")
										td.text-center 1.2.23/194/33
										td.text-center 07.11.16
									tr
										td: a(href="#") Акционерное общество "Дочерняя организация акционерного общества "БТА Банк" "БТА Секьюритис"
										td.text-center 1.2.23/194/33
										td.text-center 09.11.16
									tr
										td: a(href="#") Акционерное общество "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстана")
										td.text-center 1.2.23/194/33
										td.text-center 07.11.16
									tr
										td: a(href="#") Акционерное общество "Дочерняя организация акционерного общества "БТА Банк" "БТА Секьюритис"
										td.text-center 1.2.23/194/33
										td.text-center 09.11.16
									tr
										td: a(href="#") Акционерное общество "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстана")
										td.text-center 1.2.23/194/33
										td.text-center 07.11.16
									tr
										td: a(href="#") Акционерное общество "Дочерняя организация акционерного общества "БТА Банк" "БТА Секьюритис"
										td.text-center 1.2.23/194/33
										td.text-center 09.11.16
						
					.tab-pane.fade(id="clearing", role="tabpanel")
						h3 Клиринговые гарантийные фонды

						.fund-table
							.fund-table__thead
								.fund-table__col Рынок #[span.mob-line /]
								.fund-table__col Гарантийные фонды, тенге
							.fund-table__row
								.fund-table__col Валютный рынок
								.fund-table__col 300 000 000.00
							.fund-table__row
								.fund-table__col Фондовый рынок
								.fund-table__col 23 000 000.00
							.fund-table__row
								.fund-table__col: b Рынок деривативов
								.fund-table__col: b 16 000 000.00
							.fund-table__row
								.fund-table__col &mdash; валютные фьючерсы
								.fund-table__col 12 000 000.00
							.fund-table__row
								.fund-table__col &mdash; фондовые фьючерсы
								.fund-table__col 3 000 000.00

						h3 Клиринговые резервные фонды

						.fund-table
							.fund-table__thead
								.fund-table__col Рынок #[span.mob-line /]
								.fund-table__col Резервные фонды, тенге
							.fund-table__row
								.fund-table__col Фондовый рынок
								.fund-table__col 55 000 000.00
							.fund-table__row
								.fund-table__col Рынок деривативов
								.fund-table__col 17 000 000.00

					.tab-pane.fade(id="rules", role="tabpanel")

						h3 Правила по клиринговой деятельности на КASE

						.reference-info.reference-info--page
							ul
								li: a(href="#") Регламент работы клиринговой системы
								li: a(href="#").
									Порядок включения финансовых инструментов в Список финансовыхинструментов фондового рынка, по сделкам с которыми Биржа осуществляет клиринговую деятельность
								li
									a(href="#") Правила осуществления клиринговой деятельности по сделкам с финансовыми инструментами
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
										li: a(href="#") Приложение 3
										li: a(href="#") Приложение 4
										li: a(href="#") Приложение 5
										li: a(href="#") Приложение 6
								li
									a(href="#") Положение о клиринговых участниках
									ul.reference-into--icon
										li: a(href="#") Приложение 1
										li: a(href="#") Приложение 2
										li: a(href="#") Приложение 3
								li: a(href="#") Положение о клиринговых участниках
block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});