.markets-menu
	h3= marketsListTitle
	.dropdown
		a.dropdown-link(href="#", data-toggle="dropdown", role="button")
			each item in marketsList
				if (item.active == true)
					= item.title

		ul.dropdown-menu
			each item in marketsList
				if (item.active == true)
					li.active: a(href="#")= item.title
				else
					li: a(href="#")= item.title