.markets-menu
	h3 Рынки
	div.dropdown
		a.dropdown-link(href="#", data-toggle="dropdown", role="button") Акции

		ul.dropdown-menu
			li: a(href="#") Акции
			li: a(href="#") Паи
			li: a(href="#") Корпоративные облигации
			li: a(href="#") Ценные бумаги МФО
			li: a(href="#") Государствнные ценные бумаги
			li: a(href="#") Иностранные валюты
			li: a(href="#") Операции РЕПО
			li: a(href="#") Деривативы