.btn {
  font-size: 100%;
  border: none;
  border-radius: 18px;
  transition: all 300ms;
  &:active, &:focus {
    outline: none;
  }
  &.btn-default {
    //background: $btnBg;
    color: #fff;
    &:hover {
      //background: darken($btnBg, 5%);
    }
  }
  &.big {
    border-radius: 22px;
    padding: 12px 35px;
  }
  &.btn--gradient {
    color: #fff;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      transition: all 700ms;
    }
    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
    &.btn--yellow-green {
      background: #d5da0a;
      background: linear-gradient(to right, #d5da0a 0%,#3cbd0d 100%);
      &:before {
        background: linear-gradient(to right, #3cbd0d 0%, #d5da0a 100%);
      }     
    }
    &.btn--yellow-red {
      background: #fecc00;
      background: linear-gradient(to right, #fecc00 0%,#e84541  100%);
      &:before {
        background: linear-gradient(to right, #e84541 0%, #fecc00 100%);
      }     
    }
    &.btn--red-orange {
      background: #e84242;
      background: linear-gradient(to right, #e84242 18%, #ef7f1a 100%);
      &:before {
        background: linear-gradient(to right, #ef7f1a 0%, #e84242 100%);
      }
      &.btn--border {
        border: 1px solid #fff;
      }     
    }
    &.btn--orange-purple {
      background: #ff9000;
      background: linear-gradient(to right, #ff9000 18%, #a71af0 100%);
      &:before {
        background: linear-gradient(to right, #a71af0 0%, #ff9000 100%);
      }
      &.btn--border {
        border: 1px solid #fff;
      }     
    }
     &.btn--darkgreen-green {
      background: #087e38;
      background: linear-gradient(to right, #087e38 18%, #8ac53f 100%);
      &:before {
        background: linear-gradient(to right, #8ac53f 0%, #087e38 100%);
      }
      &.btn--border {
        border: 1px solid #fff;
      }     
    }
   
    span {
      position: relative;
    }
  }
  &.btn-transparent {
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    padding: 6px 34px;
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      transform: scale(0);
      transition: all 300ms;
    }
    &:hover {
      &:before {
        visibility: visible;
        transform: scale(1);
      }
    }
    &--white {
      border-color: #fff;
      color: #fff;
      &:before {
        background: rgba(255, 255, 255, 0.9);
      }
      &:hover {
        color: $defaultColor;
      }
    }
    span {
      position: relative;
    }
  }
}