@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-100.ttf'),
  url('../fonts/MuseoSansCyrl-100.woff'),
  url('../fonts/MuseoSansCyrl-100.otf'),
  url('../fonts/MuseoSansCyrl-100.eot');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-300.ttf'),
  url('../fonts/MuseoSansCyrl-300.woff'),
  url('../fonts/MuseoSansCyrl-300.otf'),
  url('../fonts/MuseoSansCyrl-300.eot');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-300.ttf'),
  url('../fonts/MuseoSansCyrl-300.woff'),
  url('../fonts/MuseoSansCyrl-300.otf'),
  url('../fonts/MuseoSansCyrl-300.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-500.ttf'),
  url('../fonts/MuseoSansCyrl-500.woff'),
  url('../fonts/MuseoSansCyrl-500.otf'),
  url('../fonts/MuseoSansCyrl-500.eot');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-500.ttf'),
  url('../fonts/MuseoSansCyrl-500.woff'),
  url('../fonts/MuseoSansCyrl-500.otf'),
  url('../fonts/MuseoSansCyrl-500.eot');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-700.ttf'),
  url('../fonts/MuseoSansCyrl-700.woff'),
  url('../fonts/MuseoSansCyrl-700.otf'),
  url('../fonts/MuseoSansCyrl-700.eot');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-900.ttf'),
  url('../fonts/MuseoSansCyrl-900.woff'),
  url('../fonts/MuseoSansCyrl-900.otf'),
  url('../fonts/MuseoSansCyrl-900.eot');
  font-weight: 900;
  font-style: normal;
}

$indexFont: 'MuseoSansCyrl', 'Arial', sans-serif;

$defaultColor: #45464f;
$minorColor: #038726;
$lightGreen: #3cbd0d;
$linkColor: #1666bc;
$redColor: #e82d2d;

$fz8: 57.14285714285714%;
$fz10: 71.42857142857143%;
$fz11: 78.57142857142857%;
$fz12: 85.71428571428571%;
$fz13: 92.85714285714286%;
$fz14: 100%;
$fz15: 107.1428571428571%;
$fz16: 114.2857142857143%;
$fz18: 128.5714285714286%;
$fz19: 135.7142857142857%;
$fz20: 142.8571428571429%;
$fz21: 150%;
$fz22: 157.1428571428571%;
$fz24: 171.4285714285714%;
$fz26: 185.7142857142857%;
$fz28: 200%;
$fz30: 214.2857142857143%;
$fz31: 221.4285714285714%;
$fz32: 228.5714285714286%;
$fz36: 257.1428571428571%;
$fz38: 271.4285714285714%;
$fz40: 285.7142857142857%;
$fz44: 314.2857142857143%;
$fz50: 357.1428571428571%;
$fz53: 378.5714285714286%;
$fz62: 442.8571428571429%;
$fz140: 1000%;

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font: normal 14px/1.357 $indexFont;
  color: $defaultColor;
  min-width: 320px;
  background: #fff;
  position: relative;
  overflow: auto;
  top: 0;
  left: 0;
  &.body__landing {
    color: #333;
    $defaultColor: #333;
  }
  &.body__text-page {
    h5 {
      margin-bottom: 30px;
    }
    .right-content-column {
      .container {
        padding-left: 60px;
      }
      .h1-block {
        margin-left: -60px;
        .arrow-back {
          color: $lightGreen;
          text-decoration: none;
        }
      }
      .landing-section__text {
        max-width: none;
        margin-right: 0;
      }
    }
  }
}

*:focus, *:active {
  outline: none !important;
}

/* стиль для прижатия футера */
#wrap {
  min-height: 100%;
  margin: 0 auto -50px;
  padding: 0 0 50px;
  position: relative;
  background: #fff;
  overflow: hidden;
  //transform: scale(1);
  /* transform-origin: 50% 350px;
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  &.scale-out {
    transform: scale(0.85);
  } */
}
.body__home, .body__home #wrap {
  background-color: #f8fafb;
}

a {
  color: #0094de;
  transition: all 300ms;
  &:hover, &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.container {
	padding: {
		left: 15px;
		right: 15px;
	}
}
.relative {
  position: relative;
}
.row {
  margin: 0 -15px;
}
[class*="col-"] {
  padding: 0 15px;
}
.scroll-block {
  position: relative;
  overflow: visible;
  &:hover {
    .jspVerticalBar {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
  }
  .jspPane {
    width: 100% !important;
    min-height: 100%;
  }
  .mCSB_inside>.mCSB_container {
    margin-right: 0;
  }
  .jspVerticalBar {
    background: none;
    width: 3px;
    transition: all 300ms;
    position: absolute;
    right: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    .jspTrack {
      width: 3px;
      background: #d4d6d9;
      margin: 0;
      border-radius: 0;
    }
    .jspDrag {
      background: #7e8086;
      border-radius: 0;
    }
  }
}
.red {
  color: #ff382c;
}
.green {
  color: #359e3f;
}
.date {
  font-size: $fz12;
  color: #b0b0b0;
  font-weight: 500;
}
.relative {
  position: relative;
}

h1, .h1 {
  font-size: 31px;
  text-transform: uppercase;
  font-weight: normal;
}
h2, .h2 {
  font-size: $fz15;
  margin: 0 0 12px;
}
h3, .h3 {
  font-size: $fz21;
  font-weight: normal;
}
h5, .h5 {
  font-size: $fz16;
  margin: 0 0 15px;
}

.underline {
  position: relative;
  text-decoration: none;
  &:after {
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(3px);
    transition: all 200ms;
    content: "";
  }
  &:hover {
    &:after {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      text-decoration: none;
    }
  }
}

.hidden-block {
  transform: translateY(70px);
  opacity: 0;
  transition: all 800ms;
  &.shown {
    opacity: 1;
    transform: translateY(0);
  }
}
.markets-top {
  width: 100%;
  height: 56px;
  border-top: 1px solid #c9d4de;
  border-bottom: 1px solid #c9d4de;
  .container {
    display: flex;
    align-items: stretch;
    position: relative;
    height: 100%;
    &:before, &:after {
      display: none;
    }
  }
}
.help-block {
  margin: 0;
  a {
    border-bottom: 1px dashed;
    &:hover {
      border: none;
    }
  }
}

.dropdown {
  .dropdown-menu {
    display: block !important;
    width: 100%;
    font-size: 100%;
    border-radius: 0;
    background: #f3fbf2;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 300ms;
    &>li {
      &>a {
        white-space: normal;
        transition: all 300ms;
        &:hover {
          background-color: $minorColor;
          color: #fff;
        }
      }
    }
  }
  &.open {
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

.blue-list {
  padding: 0;
  margin: 0;
  font-size: $fz12;
  li {
    display: block;
    margin-bottom: 4px;
  }
  a {
    padding-left: 15px;
    position: relative;
    color: #0094de;
    @extend .underline;
    &:before {
      display: block;
      width: 6px;
      height: 6px;
      border: 1px solid #0094de;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px;
      content: "";
      transition: background 300ms;
    }
    &:hover {
      &:before {
        background: #0094de;
      }
    }
  }
}

.center-column, .right-content-column {
  h1 {
    color: #3cbd0d;
    font-weight: 700;
    margin: 13px 0 22px;
  }
  .container {
    width: auto;
    padding: 0;
  }
}


.datepicker table tr td.active {
  &.active {
    background: linear-gradient(45deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
    border: none;
    border-radius: 0;
  }
  &.highlighted {
    &.active, &:active, &:hover {
      background: linear-gradient(45deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
      border: none;
      border-radius: 0;
    }
  }
  &:active, &:hover {
    background: linear-gradient(45deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
    border: none;
    border-radius: 0;
  }
}

.table-parent {
  width: 100%;
  overflow: auto;
}
.table {
  min-width: 100%;
  & > tbody {
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    & > tr > {
      td, th {
        border-top: none;
      }
    }
  }
  & > tfoot > tr > {
    td, th {
      border-top: none;
    }
  }
  & > thead > tr > {
    td, th {
      border-top: none;
      font-weight: normal;
      vertical-align: top;
    }
  }
}
.table-striped, .sorting-table {
  font-size: $fz12;
  thead {
    tr {
      background-color: #e4e9ee;
    }
    a {
      color: $defaultColor;
    }
  }
  &> tbody > tr:nth-of-type(odd) {
    background-color: #f7f9fa;
  }
} 
a.down {
  &:after {
    border: 4px solid transparent;
    border-top: 5px solid $defaultColor;
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
    top: -2px;
    content: "";
  }
}
a.up {
  &:after {
    border: 4px solid transparent;
    border-bottom: 5px solid $defaultColor;
    border-top: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
    top: -2px;
    content: "";
  }
}

.actions__chart {
  height: 250px;
}
.actions__chart-text {
  margin-top: 20px;
  font-size: $fz12;
}
.arrow-back {
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid $lightGreen;
  border-radius: 50%;
  color: $lightGreen;
  font-size: $fz36;
  &:hover {
    color: $lightGreen;
  }
  .fa {
    display: block;
    width: 100%;
    height: 100%;
    &:before {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

.kase-date {
  margin-bottom: 15px;
}

.all-link {
  a {
    border-bottom: 1px dotted;
  }
}

.actions-tables {
  padding-bottom: 35px;
  .accordion {
    margin-bottom: 0;
    margin-top: 35px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.actions-tables__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  h3 {
    margin: 0;
    font-weight: 500;
  }
  .actions-tables__help-text {
    padding: 0;
    border: none;
  }
}
.actions-tables__help-text {
  font-weight: 500;
  font-size: 12px;
  border-top: 1px solid #c9d4de;
  padding-top: 8px;
}

@media (min-width: 649px) and (max-width: 768px){
  body {
    &.body__text-page {
      .right-content-column {
        .container {
          padding-left: 120px;
        }
        .h1-block {
          margin-left: -120px;
        }
        .landing-section__text {
          max-width: none;
          margin-right: 100px;
        }
      }
    }
  }
  .dropdown {
    .dropdown-menu {
      font-size: 200%;
    }
  }
  h1, .h1 {
    font-size: $fz62;
    margin: 26px 0 44px;
  }
  h2, .h2 {
    font-size: $fz30;
    margin: 0 0 24px;
  }
  h5, .h5 {
    font-size: $fz32;
    margin: 0 0 30px;
  }
  .container {
    padding: {
      left: 30px;
      right: 30px;
    }
  }
  .table-striped, .sorting-table {
    font-size: $fz24;
  }
  .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  [class*="col-"] {
    padding: 0 30px;
  }
  .date {
    font-size: $fz24;
  }
  .blue-list {
    font-size: $fz24;
    li {
      padding-left: 30px;
      margin-bottom: 8px;
      &:before {
        width: 12px;
        height: 12px;
        border: 2px solid #0094de;
        top: 10px;
      }
    }
  }
  .markets-top {
    height: 104px;
  }
}
.grey-block-committees{
  background-color: #f4f6f8;
  max-width: 850px;
  padding: 25px 15px;
  .committees-block__row:last-child{
    border-bottom: 1px solid #c9d4de;
  }
  margin-bottom: 30px;
}
.grey-block-committees__text{
  max-width: 630px;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
.grey-block-committees__footer{
  font-size: 14px;
  color: #a8b1ba;
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 769px){
  h2, .h2 {
    font-size: $fz26;
    margin-bottom: 20px;
  }
  .grey-block-committees{
     padding: 30px 35px;
  }
}

@media (min-width: 992px){
  body {
    &.body__text-page {
      .right-content-column {
        .landing-section__text {
          margin-right: 100px;
        }
      }
    }
  }
  .scroll-block {
    overflow: hidden;
    height: 100%;
  }
  .markets-top {
    border: none;
    height: 0;
    .container {
      display: block;
    }
  }
  .center-column, .right-content-column {
    padding: 0 196px;
  }
  .right-content-column {
    padding-right: 0;
  }
}

/* clearfix */
.great-slider__pagination,
.breadcrumbs,
.accordion__nav,
.regulations__archive-links {
  &:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
  }
}
.dataTable {
	&--listing {
		i {
			font-size: 18px;
			color: #169de0;
		}
	}
}
.markets {
	&__text {
		padding-left: 60px;
	}
}
.center {
	text-align: center;
}
