.body__landing {
  .fixed-social {
    display: none;
  }
}

.landing-section {
  color: #383838;
  line-height: 1.75;
  text-align: center;
  padding: 60px 0 60px;
  &--darkgreen-green {
    color: #fff;
    background: linear-gradient(52deg, #087e38 18%, #8ac53f 100%);
  }
  &--lightgreen-green {
    color: #fff;
    background: linear-gradient(52deg, #8ac53f 18%, #3cbd0d 100%);
  }
  &--lightgreen-darkgreen {
    color: #fff;
    background: linear-gradient(52deg, #8ac53f 18%, #17ab21 100%);
  }
  &--lightblue-blue {
    color: #fff;
    background: linear-gradient(52deg, #00aaff 18%, #005dbd 100%);
  }
  &--blue-lightblue {
    color: #fff;
    background: linear-gradient(52deg, #005dbd 18%, #00aaff 100%);
  }
  &--yellow {
    color: #fff;
    background: linear-gradient(52deg, #fecc00 18%, #ff9000 100%);
  }
  &--red-orange {
    color: #fff;
    background: linear-gradient(52deg, #e84242 18%, #ef7f1a 100%);
  }
  &--orange-red {
    color: #fff;
    background: linear-gradient(52deg, #ef7f1a 18%, #e84242 100%);
  }
  &--yellow-green {
    color: #fff;
    background: #fecc00;
    background: linear-gradient(to right, #fecc00 0%, #8ac53f 100%);
  }
  &--green-yellow {
    color: #fff;
    background: #fecc00;
    background: linear-gradient(to right, #8ac53f 0%, #fecc00 100%);
  }
  &--gray-bg {
    background: #f7f8f8;
  }
  h2 {
    font-size: $fz20;
    line-height: 1.32258064516129;
    font-weight: 700;
    margin: 0 auto 25px;
    text-transform: uppercase;
  }
}
.landing-section__login-btn {
  .btn {
    width: 208px;
  }
}
.landing-section__description {
  font-size: $fz15;
  color: #737373;
  margin-bottom: 22px;
}
.landing-section__text {
  max-width: 750px;
  font-size: $fz16;
  line-height: 1.75;
  margin: 0 auto;
  &--fz14 {
    font-size: $fz14;
  }
  p {
    margin-bottom: 35px;
    /* &:last-of-type {
      margin-bottom: 0;
    } */
  }
}
.landing-section__list {
  text-align: left;
  max-width: 700px;
  margin: 0 auto 0 auto;

  li {
    color: $minorColor;
    padding-left: 15px;
    margin-bottom: 20px;

    span {
      color: #383838;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 649px) and (max-width: 768px) {
  .landing-section {
    padding: 100px 0;
    h2 {
      font-size: $fz20 * 2;
      margin-bottom: 50px;
    }
  }
  .landing-section__login-btn {
    .btn {
      width: 400px;
      padding: 14px 24px;
      font-size: 200%;
      border-radius: 40px;
    }
  }
  .landing-section__text {
    font-size: $fz16 * 2;
    p {
      margin-bottom: 60px;
      /* &:last-of-type {
        margin-bottom: 0;
      } */
    }
  }
}

@media (min-width: 769px){
  .landing-section {
    padding: 80px 0 70px;
    h2 {
      max-width: 750px;
      font-size: $fz31;
    }
  }
}