doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title KASE
        link(href="css/libs.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
    body
        include ../../menu/module
        div#wrap
            include ../../trade-link/module
            include ../../fixed-social/module
            include ../../header/module
            block content
        include ../../footer/module

        //- файлы скриптов

        script(type="text/javascript", defer, src="js/libs.js") 
        script(type="text/javascript", defer, src="js/main.js") 
        script(type="text/javascript").
            document.addEventListener("DOMContentLoaded", function(event) { 
                $('.quotes-info__arrow').on('click', function(e){
                    e.preventDefault();
                    if(!$(this).hasClass('reverse')){
                        $(this).addClass('reverse');
                        $(this).parent().children('.text').text('Лидеры падения');
                    } else {
                        $(this).removeClass('reverse');
                        $(this).parent().children('.text').text('Лидеры роста');
                    }
                });  
            });  