extends ../../templates/base

block content
	.markets-top
		.container.history
			-
				var marketsListTitle = "О нас"
				var marketsList = [
					{
						'title': 'История',
						'active': true
					},
					{
						'title': 'Миссия и ценности'
					},
					{
						'title': 'Руководство'
					},
					{
						'title': 'Комитеты и комиссии'
					},
					{
						'title': 'Участие в профессиональных организациях'
					},
					{
						'title': 'Корпоративные документы'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
			#regulations.regulations
				div.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button")
						i.fa.fa-ellipsis-v
							span.line1
							span.line2

					.dropdown-menu
						.regulations__timetable
							h5 KASE стремится быть стабильной и успешной коммерческой организацией, которая гармонично сочетает интересы своих акционеров, членов и персонала.
							
	.container.history
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'О нас',
					'История'
				]

			include ../../modules/breadcrumbs/module
			h1 История
			
			div.history__description.description
				p 15 ноября 1993 года в Казахстане введена национальная валюта – тенге. 17 ноября 1993 года для организации торгов иностранной валютой создана Казахстанская межбанковская валютная биржа, которая спустя несколько лет была переименована в Казахстанскую фондовую биржу. С момента своего создания KASE является единственной в Казахстане биржей, обслуживающей фондовый и валютный рынки, неотъемлемой частью инфраструктуры финансового рынка и занимает важное место в отечественной экономике.
				p Исторически сложившееся партнерство KASE с профессиональными участниками – членами Биржи, которые в большинстве своем являются ее акционерами, позволяет находить взаимоприемлемый баланс между интересами Биржи как коммерческой компании и членами Биржи, выступающими потребителями ее услуг.
				p Сегодня KASE – больше, чем просто биржа. Мы ценим историю, уникальные знания наших сотрудников и  надежное партнерство с профессиональными участниками рынка ценных бумаг. KASE совершенствует стандарты своей деятельности с целью повышения привлекательности биржевого рынка Казахстана и старается быть примером для других его участников в части корпоративного управления и информационной прозрачности.
					
			-
				var sliderTitle = "Основные этапы развития KASE"
				var historySlider = [
					{
						'year':'2010',
						'preview':'test-year-2012-preview.png',
						'description': [
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты'
						]
					},
					{
						'year':'2011',
						'preview':'b02bc6d1605a3e4b3d6df61339a.jpg',
						'description': [
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты',
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты'
						],
						'active': true
					},
					{
						'year':'2012',
						'preview':'kase_19.jpg',
						'description': [
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты',
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты'
						]
					},
					{
						'year':'2013',
						'preview':'kase_19.jpg',
						'description': [
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты',
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты'
						]
					},
					{
						'year':'2014',
						'preview':'kase_19.jpg',
						'description': [
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты',
							'Получение KASE лицензий на осуществление клиринговой деятельности по сделкам с финансовыми инструментами и осуществление отдельных видов банковских операций (открытие и ведение банковских счетов юридических лиц)',
							'Создание в структуре KASE Клиринговой палаты'
						]
					}
				]
				
	
	include ../../modules/about_history_slider/module