extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "О нас"
				var marketsList = [
					{
						'title': 'История'
					},
					{
						'title': 'Миссия и ценности'
					},
					{
						'title': 'Руководство'
					},
					{
						'title': 'Комитеты и комиссии',
						'active': true
					},
					{
						'title': 'Участие в профессиональных организациях'
					},
					{
						'title': 'Корпоративные документы'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'О Биржe',
					'О нас',
					'Комитеты и комиссии'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Комитеты и комиссии
			.accordion.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет Совета директоров по бюджету и стратегическому планированию
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Бабаев Ариф Шавердиевич',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'независимый директор KASE'
						
							},
							{
								'fullname':{
									'name':'Абдразаков Ельдар Советович'
							
								},
								'jobtitle':'председатель Совета директоров АО "Сентрас Секьюритиз"'
						
							},
							{
								'fullname':{
									'name':'Алдамберген Алина Өтемісқызы'
							
								},
								'jobtitle':'председатель Правления KASE'
						
							},
							{
								'fullname':{
									'name':'Джолдасбеков Азамат Мырзаданович'
							
								},
								'jobtitle':'председатель Совета директоров, независимый директор АО "Центральный депозитарий ценных бумаг"'
						
							},
							{
								'fullname':{
									'name':'Ташметов Мирлан Жапарбекович'
							
								},
								'jobtitle':'Председатель Правления АО "Алма Банк", член Совета директоров АО "Qazaq Banki", член Совета директоров - независимый директор KASE'
						
							}
						]
						
					include ../../modules/committees/module
									
			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет Совета директоров по кадрам, вознаграждениям и социальным вопросам
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE'
						
							},
							{
								'fullname':{
									'name':'Абдразаков Ельдар Советович'
							
								},
								'jobtitle':'председатель Совета директоров АО "Сентрас Секьюритиз"'
						
							},
							{
								'fullname':{
									'name':'Бабаев Ариф Шавердиевич'
							
								},
								'jobtitle':'независимый директор KASE – лицо, имеющее право замещать Председателя Комитета в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Джолдасбеков Азамат Мырзаданович'
							
								},
								'jobtitle':'председатель Совета директоров, независимый директор АО "Центральный депозитарий ценных бумаг"'
						
							},
							{
								'fullname':{
									'name':'Нукушев Азат Галимович',
									'remark': '(Эксперт)'
							
								},
								'jobtitle':'член Совета директоров АО "АК "Казакстан жолдары"'
						
							}
						]
						
					include ../../modules/committees/module
					
			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет Совета директоров по внутреннему аудиту
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Ташметов Мирлан Жапарбекович',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'Председатель Правления АО "Алма Банк", член Совета директоров АО "Qazaq Banki", член Совета директоров - независимый директор KASE'
						
							},
							{
								'fullname':{
									'name':'Абдразаков Ельдар Советович'
							
								},
								'jobtitle':'председатель Совета директоров АО "Сентрас Секьюритиз"'
						
							},
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович'
							
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE – лицо, имеющее право замещать Председателя Комитета в случае его отсутствия или возникновения конфликта интересов'
						
							}
						]
						
					include ../../modules/committees/module


			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Экспертный комитет
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE'
						
							},
							{
								'fullname':{
									'name':'Бабаев Ариф Шавердиевич'
							
								},
								'jobtitle':'независимый директор KASE – лицо, имеющее право замещать Председателя Комитета в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Сабитов Идель Марсильевич'
							
								},
								'jobtitle':'заместитель Председателя Правления KASE, курирующий вопросы организации торгов с ценными бумагами, в случае его отсутствия – иной член Правления KASE в соответствии с установленным порядком взаимозамещения членов Правления KASE в случае их отсутствия'
						
							}
						]
						
					include ../../modules/committees/module

					.grey-block-committees
						.grey-block-committees__text Лица, имеющие право замещать членов Экспертного комитета от Совета директоров в случае их отсутствия или возникновения конфликта интересов:
						-
							var committeesArray = [
								{
									'fullname':{
										'name':'Абдразаков Ельдар Советович	'
									},
									'jobtitle':'председатель Совета директоров АО "Сентрас Секьюритиз"'
							
								},
								{
									'fullname':{
										'name':'Джолдасбеков Азамат Мырзаданович'
								
									},
									'jobtitle':'Председатель Совета директоров, независимый директор АО "Центральный депозитарий ценных бумаг"'
							
								},
								{
									'fullname':{
										'name':'Кышпанаков Виктор Алексеевич'
								
									},
									'jobtitle':'заместитель Председателя Правления АО "BCC Invest" – дочерняя организация АО "Банк ЦентрКредит"'
							
								},
								{
									'fullname':{
										'name':'Ташметов Мирлан Жапарбекович'
								
									},
									'jobtitle':'Председатель Правления АО "Алма Банк", член Совета директоров АО "Qazaq Banki", член Совета директоров - независимый директор KASE'
							
								}
							]
							
						include ../../modules/committees/module

						.grey-block-committees__footer В соответствии с #[a(href="#") Положением об Экспертном] комитете в состав данного комитета входят два представителя уполномоченного органа по регулированию и надзору финансового рынка и финансовых организаций, начальник Надзорного отдела Биржи и представитель Объединения юридических лиц "Ассоциация финансистов Казахстана".


			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Листинговая комиссия
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Кышпанаков Виктор Алексеевич',
									'remark': '(Председатель Листинговой комиссии)'
								},
								'jobtitle':'заместитель Председателя Правления АО "BCC Invest" – дочерняя организация АО "Банк ЦентрКредит"'
						
							},
							{
								'fullname':{
									'name':'Абдразаков Ельдар Советович'
							
								},
								'jobtitle':'председатель Совета директоров АО "Сентрас Секьюритиз"'
						
							},
							{
								'fullname':{
									'name':'Бабаев Ариф Шавердиевич'
							
								},
								'jobtitle':'независимый директор KASE – лицо, имеющее право замещать Председателя Листинговой комиссии в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович'
							
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE – лицо, имеющее право замещать Председателя Листинговой комиссии в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Ташметов Мирлан Жапарбекович'
							
								},
								'jobtitle':'Председатель Правления АО "Алма Банк", член Совета директоров АО "Qazaq Banki", член Совета директоров - независимый директор KASE, лицо, имеющее право замещать Председателя Листинговой комиссии в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Хорошевская Наталья Юрьевна'
							
								},
								'jobtitle':'заместитель Председателя Правления KASE'
						
							}

						]
						
					include ../../modules/committees/module
					.grey-block-committees
						.grey-block-committees__footer
							p.
								Лицо, имеющее право замещать членов комиссии в случае отсутствия одного из членов комиссии от членов Совета директоров или возникновения у одного из членов комиссии конфликта интересов – Джолдасбеков Азамат Мырзаданович, Председатель Совета директоров, независимый директор АО "Центральный депозитарий ценных бумаг".
							p.

								Кроме того, в соответствии с #[a(href="#") Требованиями] к организационной структуре организатора торгов и составу листинговой комиссии фондовой биржи, утвержденными постановлением Правления Национального Банка Республики Казахстан от 19 декабря 2015 года № 249 и #[a(href="#") Положением о Листинговой комиссии] в состав данной комиссии входят представитель Национального Банка Республики Казахстан и представитель крупного акционера KASE.


			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет Совета директоров по финансовой отчетности и аудиту эмитентов
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Кышпанаков Виктор Алексеевич',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'заместитель Председателя Правления АО "BCC Invest" – дочерняя организация АО "Банк ЦентрКредит"'
						
							},
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович'
							
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE - лицо, имеющее право замещать председателя Комитета в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Хорошевская Наталья Юрьевна'
							
								},
								'jobtitle':'заместитель Председателя Правления KASE'
						
							},
							{
								'fullname':{
									'name':'Цалюк Галина Анатольевна'
							
								},
								'jobtitle':'директор Департамента листинга KASE'
						
							},
							{
								'fullname':{
									'name':'Литвинов Виктор Сергеевич'
							
								},
								'jobtitle':'начальник Отдела мониторинга KASE'
						
							}

						]
						
					include ../../modules/committees/module
					.grey-block-committees
						.grey-block-committees__footer
							p.
								Кроме того, в соответствии с #[a(href="#") Требованиями] к организационной структуре организатора торгов и составу листинговой комиссии фондовой биржи, утвержденными постановлением Правления Национального Банка Республики Казахстан от 19 декабря 2015 года № 249 и #[a(href="#") Положением о Комитете Совета директоров по финансовой отчетности и аудиту эмитентов] в состав данного комитета входят представитель Национального Банка Республики Казахстан и представитель крупного акционера.


			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет по рынку иностранных валют
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Байтелиев Нуртели Тултаевич',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'начальник Управления казначейства Департамента казначейства и ALM АО "Евразийский Банк", в случае его отсутствия – Халиаскаров Рустем Нурматович, управляющий директор – заместитель директора Департамента казначейства и ALM АО "Евразийский Банк"'
						
							},
							{
								'fullname':{
									'name':'Мурыгин Максим Николаевич'
							
								},
								'jobtitle':'заместитель директора Управления Казначейства Дочернего Банка АО "Сбербанк России"'
						
							},
							{
								'fullname':{
									'name':'Даутбаев Асыл Бахитович'
							
								},
								'jobtitle':'директор Направления казначейства АО "ForteBank", в случае его отсутствия – Аюбаев Н.А., старший банкир Направления казначейства АО "ForteBank"'
						
							},
							{
								'fullname':{
									'name':'Казиев Аскар Рустемович'
							
								},
								'jobtitle':'начальник Отдела дилинга Департамента казначейства АО "Банк ЦентрКредит", в случае его отсутствия – Ибраймов Данияр Калмуханович, главный дилер Отдела дилинга Департамента казначейства АО "Банк ЦентрКредит"'
						
							},
							{
								'fullname':{
									'name':'Жукенов Серик Дакенович'
							
								},
								'jobtitle':'директор Казначейства АО "Народный сберегательный банк Казахстана"'
						
							},
							{
								'fullname':{
									'name':'Таджибаев Жалгас Асылбекович'
							
								},
								'jobtitle':'начальник Управления финансовых рынков Департамента Казначейста АО "Kaspi Bank"'
						
							}

						]
						
					include ../../modules/committees/module
					.grey-block-committees
						.grey-block-committees__footer
							p.
								Кроме того, в соответствии с #[a(href="#") Положением о Комитете по рынку иностранных валют] в состав данного комитета входят два представителя Национального Банка Республики Казахстан и представитель KASE , в лице члена Правления , осуществляющего координацию и контроль деятельности Расчетной палаты KASE.

			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комиссия по разрешению споров и конфликтов
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Салимов Ертай Исмаилович',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'заместитель Председателя Правления АО "Народный сберегательный банк Казахстана", независимый директор KASE'
						
							},
							{
								'fullname':{
									'name':'Ташметов Мирлан Жапарбекович'
							
								},
								'jobtitle':'Председатель Правления АО "Алма Банк", член Совета директоров АО "Qazaq Banki", член Совета директоров - независимый директор KASE , лицо имеющее право замещать председателя Комиссии по разрешению споров и конфликтов, в случае его отсутствия или возникновения конфликта интересов'
						
							},
							{
								'fullname':{
									'name':'Джолдасбеков Азамат Мырзаданович'
							
								},
								'jobtitle':'председатель Совета директоров, независимый директор АО "Центральный депозитарий ценных бумаг"'
						
							},
							{
								'fullname':{
									'name':'Сабитов Идель Марсильевич'
							
								},
								'jobtitle':'заместитель Председателя Правления KASE'
						
							}
						]
						
					include ../../modules/committees/module
			.accordion.closed.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Комитет по индексам и оценке ценных бумаг
						i.fa.fa-angle-down
				.accordion__body
					-
						var committeesArray = [
							{
								'fullname':{
									'name':'Цалюк Андрей Юрьевич',
									'remark': '(Председатель Комитета)'
								},
								'jobtitle':'заместитель Председателя Правления KASE'
						
							},
							{
								'fullname':{
									'name':'Хорошевская Наталья Юрьевна'
							
								},
								'jobtitle':'заместитель Председателя Правления KASE'
						
							},
							{
								'fullname':{
									'name':'Мажекенов Ермек Булатович'
							
								},
								'jobtitle':'директор Департамента торгов KASE'
						
							},
							{
								'fullname':{
									'name':'Конкашева Зарина Бакытжановна'
							
								},
								'jobtitle':'директор Клиринговой палаты KASE'
						
							},
							{
								'fullname':{
									'name':'Лысенко Елена Георгиевна'
							
								},
								'jobtitle':'начальник Отдела индексов Департамента информации и статистики KASE'
						
							},
							{
								'fullname':{
									'name':'Абрамова Юлия Олеговна'
							
								},
								'jobtitle':'специалист Отдела индексов Департамента информации и статистики KASE'
						
							}

						]
						
					include ../../modules/committees/module
					
					
					

					


