extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "О бирже"
				var marketsList = [
					{
						'title': 'Реквизиты',
						'active': true
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		.right-content-column
			-
				var breadcrumbs = [
					'Главная',
					'О Биржe',
					'Реквизиты'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Реквизиты
			.accordion.accordion--custom-green
				.accordion__head
					a.accordion__head-link(href="#") Общие сведения
						i.fa.fa-angle-down
				.accordion__body
					-
						var essentialsArray = [
							{
								'title':'Полное наименование',
								'description':'Акционерное общество "Казахстанская фондовая биржа"'
							},
							{
								'title':' Сокращенное наименование',
								'description':' АО "Казахстанская фондовая биржа"'
							},
							{
								'title':' Аббревиатура',
								'description':' KASE'
							},
							{
								'title':' Вид юридического лица',
								'description':' Коммерческая организация'
							},
							{
								'title':' Организационно-правовая форма',
								'description':' Акционерное общество'
							},
							{
								'title':' Ранее известные наименования',
								'description':' <p><b>С 30 декабря 1993 года до 03 марта 1994 года</b> – акционерное общество "Казахская Межбанковская Валютная Биржа"</p><p><b>С 03 марта 1994 года до 12 июля 1995 года</b> – акционерное общество "Казахстанская Межбанковская Валютная Биржа"</p><p><b>С 12 июля 1995 года до 12 апреля 1996 года</b> – акционерное общество "Казахстанская межбанковская валютно-фондовая биржа"</p><p><b>С 12 апреля 1996 года до 06 марта 1997 года</b> – акционерное общество "Казахстанская фондовая биржа"</p><p><b>С 06 марта 1997 года до 07 января 2004 года</b> – закрытое акционерное общество "Казахстанская фондовая биржа"</p><p><b>С 07 января 2004 года и по настоящее время</b> – акционерное общество "Казахстанская фондовая биржа"</p>'
							},
							{
								'title':' Оплаченный уставный капитал по состоянию на 01 декабря 2016 года',
								'description':' 2 366 256 тыс. тенге'
							},
							{
								'title':' Собственный капитал по состоянию на 01 декабря 2016 года',
								'description':' 6 887 524,07  тыс. тенге'
							},
							{
								'title':' Количество выпущенных акций',
								'description':' 5 000 000'
							},
							{
								'title':' Количество размещенных акций по состоянию на 01 декабря 2016 года',
								'description':' 942 013'
							},
							{
								'title':' Виды выпущенных акций',
								'description':' Простые акции; <br> "Золотая акция" владельцем, которой является Национальный Банк Республики Казахстан (дает право на наложение вето на решение органов общества)'
							},
							{
								'title':' Торгуемые финансовые инструменты',
								'description':' Негосударственные эмиссионные ценные бумаги <br>Государственные ценные бумаги<br>Инструменты рынка репо<br>Иностранные валюты<br>Производные финансовые инструменты'
							},
							{
								'title':' Количество членов биржи по категориям по состоянию на 01 декабря 2016 года <br>',
								'description':' Категория "фондовая" (с правом участия в торгах ценными бумагами, допущенными к обращению (торговле) на Бирже) – <b>47</b><br>Категория "валютная" (с правом участия в биржевых торгах иностранными валютами) – <b>35</b><br>Категория "деривативы" (с правом участия в биржевых торгах производными финансовыми инструментами) – <b>17</b>'
							},
							{
								'title':' Общее количество членов биржи по состоянию на 01 декабря 2016 года',
								'description':' 57'
							},
							{
								'title':' Основной метод проведения торгов',
								'description':' Метод открытых торгов'
							},
							{
								'title':' Краткая характеристика расчетов (более полную информацию см. в разделе сайта "<a href="#">Правила KASE</a>")<br>',
								'description':' Негосударственные эмиссионные ценные бумаги: на условиях Т+0 через АО "Центральный депозитарий ценных бумаг" (Алматы).<br><b>Акции</b> первого класса ликвидности, по которым осуществляется клиринговая деятельность: на условиях Т+2 через АО "Центральный депозитарий ценных бумаг" (Алматы).<br>Государственные ценные бумаги: на условиях Т+0 через АО "Центральный депозитарий ценных бумаг" (Алматы).<br>Иностранные валюты, по которым осуществляется клиринговая деятельность: на условиях TOD, TOM, SPOT в тенге – через корреспондентские счета биржи в Национальном Банке Республики Казахстан; в иностранных валютах – в иностранных банках-корреспондентах.<br>Производные финансовые инструменты, по которым осуществляется клиринговая деятельность через АО "Казахстанская фондовая биржа"'
							},
							{
								'title':' Дочерние организации',
								'description':' ТОО "Информационное агентство финансовых рынков “ИРБИС” — сбор, обработка и предоставление информации, касающейся финансовых рынков, в том числе биржевой информации, разработка и поставка информационных продуктов, оказание профильных услуг; <br>ТОО “eTrade.kz” — разработка, поддержка и модификация программного обеспечения для KASE; предоставление KASE и другим лицам иных услуг в сфере информационных технологий.'
							}
						]
					
					include ../../modules/essentials/module
					
					
			.accordion.accordion--custom-green.closed
				.accordion__head
					a.accordion__head-link(href="#") Контактные денные
						i.fa.fa-angle-down
				.accordion__body(style="display:none;")
					-
						var essentialsArray = [
							{
								'title':' Адрес ',
								'description':' Республика Казахстан, 050040, г. Алматы, ул. Байзакова, 280, Северная башня<br> Многофункционального комплекса "Almaty Towers", 8-й этаж',
								'map': true
							},
							{
								'title':' Зарегистрированный адрес',
								'description':' Республика Казахстан, 050040, г. Алматы, ул. Байзакова, 280, Северная башня<br> Многофункционального комплекса "Almaty Towers", 8-й этаж'
							},
							{
								'title':' Почтовый адрес',
								'description':' Республика Казахстан, 050000, Алматы, а/я 140'
							},
							{
								'title':' Эл. почта',
								'description':' <a href="mailto:kase@kase.kz">kase@kase.kz</a>, <a href="mailto:info@kase.kz">info@kase.kz</a>'
							},
							{
								'title':' Телефоны',
								'description':' (+7 727) 237 53 00, 237 53 11'
							},
							{
								'title':' Факс',
								'description':' (+7 727) 296 64 02'
							},
							{
								'title':' Официальный сайт',
								'description':' <a href="#">www.kase.kz</a>'
							},
						]
					
					include ../../modules/essentials/module
					
			
			.accordion.accordion--custom-green.closed
				.accordion__head
					a.accordion__head-link(href="#") Банковские реквизиты
						i.fa.fa-angle-down
				.accordion__body(style="display:none;")
					-
						var essentialsArray = [
							{
								'title':' SWIFT BIC ',
								'description':' KICE KZ KX'
							},
							{
								'title':' Код ОКПО',
								'description':' 30088469'
							},
							{
								'title':' РНН',
								'description':' 600200049149, <a href="#">Свидетельство о постановке на учет по НДС</a> серия 60001 №0078118 от 01 августа 2012 года'
							}
						]
					
					include ../../modules/essentials/module
					
			.accordion.accordion--custom-green.closed
				.accordion__head
					a.accordion__head-link(href="#") Государственная регистрация и лицензии
						i.fa.fa-angle-down
				.accordion__body(style="display:none;")
					-
						var essentialsArray = [
							{
								'title':' Дата и номер первичной государственной регистрации',
								'description':' 30 декабря 1993 года, '
							},
							{
								'title':' Дата и номер последней государственной перерегистрации',
								'description':' 07 января 2004 года, № 1952-1910-01-АО'
							},
							{
								'title':' Орган последней государственной перерегистрации',
								'description':' Управление юстиции Бостандыкского района Департамента юстиции г. Алматы'
							},
							{
								'title':' Действующие лицензии',
								'description':' <p>Лицензия на осуществление деятельности на рынке ценных бумаг от 19 июля 2012 года № 4.2.3/1, выданная Комитетом по контролю и надзору финансового рынка и финансовых организаций Национального банка Республики Казахстан. Лицензия дает право на осуществление следующих видов деятельности на рынке ценных бумаг:</p><ul><li>деятельность по организации торговли с ценными бумагам и иными финансовыми инструментами;</li><li>клиринговая деятельность по сделкам с финансовыми инструментами на рынке ценных бумаг.</li></ul><p>Лицензия на проведение банковских операций в национальной и иностранной валюте от 29 июня 2012 года № 5.3.3, выданная Комитетом по контролю и надзору финансового рынка и финансовых организаций Национального банка Республики Казахстан. Лицензия дает право на проведение следующих банковских операций:</p><ul><li>открытие и ведение корреспондентских счетов банков и организаций, осуществляющих отдельные виды банковских операций;</li><li>переводные операции: выполнение поручений физических и юридических лиц по платежам и переводам денег;открытие и ведение банковских счетов юридических лиц.</li></ul>'
							}
						]
					
					include ../../modules/essentials/module

