extends ../../templates/base

block content
	.markets-top
		.container.missions
			-
				var marketsListTitle = "О нас"
				var marketsList = [
					{
						'title': 'История'
					},
					{
						'title': 'Миссия и ценности',
						'active': true
					},
					{
						'title': 'Руководство'
					},
					{
						'title': 'Комитеты и комиссии'
					},
					{
						'title': 'Участие в профессиональных организациях'
					},
					{
						'title': 'Корпоративные документы'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
			
	.container.missions
		#centerColumn.center-column
		
			-
				var breadcrumbs = [
					'Главная',
					'О нас',
					'Миссия и ценности'
				]

			include ../../modules/breadcrumbs/module
			h1 Миссия и ценности
			
			-
				var missionsItems = [
					{
						'preview':'missions.png',
						'title':'Миссия',
						'link':'',
						'description':'Содействие устойчивому экономическому развитию Казахстана посредством обеспечения технологичной инфраструктуры для привлечения финансирования отечественными компаниями государственного и частного секторов и предоставления надежной, стабильной и прозрачной инвестиционной среды для локальных и иностранных инвесторов.'
					},
					{
						'preview':'targets.png',
						'title':'Цели',
						'link':'',
						'description':'Техническая модернизация, которая в комплексе с маркетинговой активностью, открытой информационной политикой и повышенным вниманием к интересам инвесторов и эмитентов ценных бумаг приведет к значительному росту объема и ликвидности биржевого рынка, а также к повышению доли финансирования бизнеса через инструменты фондового рынка.'
					},
					{
						'preview':'strategy.png',
						'title':'Стратегия',
						'link':'Стратегия развития Биржи на 2016 – 2018 годы',
						'description':'Стратегия развития KASE НА 2016-2018 годы направлена на повышение клиентоориентированности KASE, ее открытости к инновациям и коммуникациям и способности эффективно удовлетворять потребности отечественных эмитентов, а также казахстанских и иностранных инвесторов.'
					}
				]
			include ../../modules/about_missions/module
				