extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "О Бирже"
				var marketsList = [
					{
						'title': 'Вакансии'
					},
					{
						'title': 'Контакты',
						'active': true
					}
				]
			include ../../modules/markets-menu/module

	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'О Биржe',
					'Контакты'
				]

			include ../../modules/breadcrumbs/module

			h1 Контакты
			
			h3 Основные

			.contacts
				.contacts__body
					.contacts__list
						ul.contacts__list-item
							li Телефон: 
								span.light 237 53 00
							li Факс: 	
								span.light 296 64 02
					ul.contacts__list-item
						li Информация по результатам торгов иностранными валютами (автоответчик): #[span.light 296 64 03]
						li Предоставление резюме для соискателей: #[a.light(href="#") resume@kase.kz]
						li Междугородний телефонный код Алматы: – #[span.light 8 727], международный код – #[span.light +7 727]

			h3 По темам

			.contacts.contacts--center
				.contacts__body
					.contacts__title.
						За получением информации по различным вопросам деятельности KASE
						просим обращаться по следующим телефонам
					.contacts__list
						ul.contacts__list-item
							li.title Членство
							li тел. : 	
								span.light 237 53 26

						ul.contacts__list-item
							li.title Листинг
							li тел. : 	
								span.light 237 53 26

						ul.contacts__list-item
							li.title Биржевой рынок
							li тел. : 	
								span.light 237 53 26

						l.contacts__list-item
							li.title Жалобы и предложения
							li тел. : 	
								span.light 237 53 26

					.contacts__text.
						Общие вопросы деятельности биржи и фондового рынка, международное сотрудничество, обращения СМИ, участие в мероприятиях, рекламные предложения 

					ul.contacts__list-item
						li тел.: #[span.light 237 53 26.]
			
			h3 По подразделениям

			.contacts.contacts--two-col
				.contacts__body
					.contacts__title Юридический отдел

					.contacts__text.
						Общее правовое сопровождение деятельности KASE, участие в обеспечении законности деятельности органов управления KASE: 
						
					ul.contacts__list-item
						li тел: #[span.light 237 53 39;]
						li факс: #[span.light 296 64 02;]
						li e-mail: #[a.light(href="#") legal@kase.kz]

				.contacts__body
					.contacts__title Департамент торгов

					.contacts__text.
						Режим котирования инструментов, проведения торгов, подтверждение сделок, пожелания и замечания по работе торговой системы KASE 
					.contacts__help-text Отдел организации и проведения торгов:

					ul.contacts__list-item
						li тел: #[span.light 237 60 18; 237 60 23, 237 60 24;]
						li факс: #[span.light 237 60 20;]
						li e-mail: #[a.light(href="#") trade@kase.kz]

				.contacts__body
					.contacts__title Расчетная палата

					ul.contacts__list-item
						li.title Расчеты по биржевым сделкам
						li тел: #[span.light 237 53 33, 237 53 34, 237 53 46;]
						li факс: #[span.light 296 64 01;]
						li e-mail: #[a.light(href="#") settlement@kase.kz]

					ul.contacts__list-item
						li.title Предоставление финансовой отчетности банками – членами KASE
						li e-mail: #[a.light(href="#") banksreports@kase.kz]

				.contacts__body
					.contacts__title Клиринговая палата

					ul.contacts__list-item
						li.title Осуществление клиринговой деятельности по сделкам с финансовыми инструментами 
						li тел: #[span.light 237 60 06;]
						li e-mail: #[a.light(href="#") clearing@kase.kz]

				.contacts__body
					.contacts__title Департамент листинга

					.contacts__text Прохождение процедуры листинга ценных бумаг

					.contacts__help-text Отдел иностранных ценных бумаг:
						
					ul.contacts__list-item
						li тел: #[span.light 237 53 24;]
						li факс: #[span.light 237 53 09;]
						li e-mail: #[a.light(href="#") listing@kase.kz]
					
					.contacts__help-text Отдел локальных ценных бумаг:
						
					ul.contacts__list-item
						li тел: #[span.light 237 53 27;]
						li факс: #[span.light 296 64 01;]
						li e-mail: #[a.light(href="#") listing@kase.kz]
						
				.contacts__body
					.contacts__title Отдел мониторинга

					ul.contacts__list-item
						li.title Отчетность эмитентов KASE
						li тел: #[span.light 237 53 26, 237 53 25;]
						li факс: #[span.light 237 53 09;]
						li e-mail: #[a.light(href="#") monitoring@kase.kz]

					ul.contacts__list-item
						li.title Отчетность членов KASE
						li тел: #[span.light 237 53 26, 237 60 01;]
						li факс: #[span.light 237 53 09;]
						li e-mail: #[a.light(href="#") monitoring@kase.kz]

