extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "О нас"
				var marketsList = [
					{
						'title': 'История'
					},
					{
						'title': 'Миссия и ценности'
					},
					{
						'title': 'Руководство'
					},
					{
						'title': 'Комитеты и комиссии'
					},
					{
						'title': 'Участие в профессиональных организациях'
					},
					{
						'title': 'Корпоративные документы',
						'active': true
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'О Биржe',
					'О нас',
					'Корпоративные документы'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Корпоративные документы
			.tab-content
				.reference-info.reference-info--page
					.row
						.col-xs-6
							ul
								li #[a(href="#") Учредительные]
									ul.reference-into--icon
										li.
											#[a(href="#") Устав АО "Казахстанская фондовая биржа"]
										li.
											#[a(href="#") || кв. 2016]
									li #[a(href="#") Акции]
										ul.reference-into--icon
											li.
												#[a(href="#") Проспект выпуска акций АО "Казахстанская фондовая биржа"] 
											li.
												#[a(href="#") Методика определения стоимости акций АО "Казахстанская фондовая биржа" при их выкупе] 
											li.
												Письмо Агентства Республики Казахстан по регулированию и надзору финансового рынка и финансовых организаций 
												#[br]
												"#[a(href="#") О принятии к сведению информации о неразмещении акций]"
												#[br]
												от 27 марта 2009 года № 10-01-22/3151/6280
											li.
												#[a(href="#") Отчет № 16 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 15 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 14 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 13 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 12 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 11 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 10 об итогах размещения акций] 
													li.
												#[a(href="#") Отчет № 9 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 8 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 7 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 6 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 5 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 4 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 3 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 2 об итогах размещения акций] 
											li.
												#[a(href="#") Отчет № 1 об итогах размещения акций] 
						.col-xs-6
							ul
								li #[a(href="#") Стратегия развития]
									ul.reference-into--icon
										li.
											#[a(href="#") 2016-2018]
										li.
											#[a(href="#") 2011-2013]
										li.
											#[a(href="#") 2007-2010]
									li #[a(href="#") Руководство и комитеты]
										ul.reference-into--icon
											li.
												#[a(href="#") Положение о Совете директоров] 
											li.
												#[a(href="#") Положение о Правлении] 
											li.
												#[a(href="#") Регламент работы Правления] 
											li.
												#[a(href="#") Положение о корпоративном секретаре] 
											li.
												#[a(href="#") Положение о Службе внутреннего аудита] 
											li.
												#[a(href="#") Положение о комитетах Совета директоров] 
											li.
												#[a(href="#") Положение об Экспертном комитете] 
											li.
												#[a(href="#") Положение о Комитете Совета директоров по финансовой отчетности и аудиту эмитентов] 
											li.
												#[a(href="#") Положение о Комитете по рынку иностранных валют] 
									li #[a(href="#") Инсайд]
										ul.reference-into--icon
											li.
												#[a(href="#") Правила внутреннего контроля использования инсайдерской информации] 
											li.
												#[a(href="#") Перечень инсайдерской информации] 
									li #[a(href="#") Разные]
										ul.reference-into--icon
											li.
												#[a(href="#") Правила раскрытия информации о решениях Совета директоров] 
											li.
												#[a(href="#") Кодекс корпоративного управления АО "Казахстанская фондовая биржа"] 
											li.
												#[a(href="#") Правила проведения ежегодных турнира, посвященных "дню рождения" АО "Казахстанская фондовая биржа"]
											li.
												#[a(href="#") Правила о проведении турнира по большому теннису, посвященного 20-летию АО "Казахстанаская фондовая биржа"]
