extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Членство"
				var marketsList = [
					{
						'title': 'Список членов KASE',
						'active': true
					},
					{
						'title': 'Маркет-мейкеры'
					},
					{
						'title': 'Клиринговые участники'
					},
					{
						'title': 'Услуги прямого доступа'
					},
					{
						'title': 'Рейтинг активности'
					},
					{
						'title': 'Дипломаты номинаций'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Членство',
					'Список членов KASE'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Список членов KASE
			-
				var gradientTabs = [
					{
						'title' : 'Все',
						'href' : 'report',
						'active': true
					},
					{
						'title' : 'Банки',
						'href' : 'banks'
					},
					{
						'title' : 'Брокеры',
						'href' : 'brokers'
					}
					]
			.gradient-tabs.gradient-tabs--not-margin
				ul.nav(role="tablist")
					each item in gradientTabs
						if (item.active == true)
							li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
						else
							li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
								a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title

				.tab-content
					.tab-pane.fade.active.in(id="report", role="tabpanel")
						div
							ul.accordion__nav
								li.active: a(href="#") Индекс KASE
								li: a(href="#") Объем торгов
								li: a(href="#") Капитализация
							.sortin-table--with-search
								table.sorting-table.table.table-striped
									thead
										tr
											th Наименование
											th Интернет-сайт
											th валютный
											th.center Рынки #[br] фондовый
											th деривативы
									tbody
										tr
											td: a(href="#") AO "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстан")
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "AsiaCredit Bank (АзияКредит Банк)"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick

					.tab-pane.fade(id="banks", role="tabpanel")
						div
							ul.accordion__nav
								li.active: a(href="#") Все
								li: a(href="#") Валютная
								li: a(href="#") Фондовая
								li: a(href="#") Деривативы
								li.pull-right Всего членов-56

							.sortin-table--with-search
								table.sorting-table.table.table-striped
									thead
										tr
											th Наименование
											th Интернет-сайт
											th валютный
											th.center Рынки #[br] фондовый
											th деривативы
									tbody
										tr
											td: a(href="#") AO "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстан")
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "AsiaCredit Bank (АзияКредит Банк)"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "BCC Invest" - дочерняя организация АО "Банк Центр Кредит"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "CAIFC INVESTMENT GROUP"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Capital Bank Kazakhstan"
											td: a(href="#") www.yoursite.kz
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Delta Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "FALCONRY CAPITAL"
											td: a(href="#") www.yoursite.kz 
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center 
												span
										tr
											td: a(href="#") AO "Kaspi Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Private Asset Management"
											td: a(href="#") www.yoursite.kz 
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Qazaq Banki"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "SkyBridge Invest"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span
										tr
											td: a(href="#") AO "Tengri Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span

					.tab-pane.fade(id="brokers", role="tabpanel")
						div
							ul.accordion__nav
								li.active: a(href="#") Все
								li: a(href="#") Валютная
								li: a(href="#") Фондовая
								li: a(href="#") Деривативы
								li.pull-right Всего членов-56

							.sortin-table--with-search
								table.sorting-table.table.table-striped
									thead
										tr
											th Наименование
											th Интернет-сайт
											th валютный
											th.center Рынки #[br] фондовый
											th деривативы
									tbody
										tr
											td: a(href="#") AO "Altyn Bank" (Дочерний банк АО "Народный Банк Казахстан")
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "AsiaCredit Bank (АзияКредит Банк)"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "BCC Invest" - дочерняя организация АО "Банк Центр Кредит"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "CAIFC INVESTMENT GROUP"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Capital Bank Kazakhstan"
											td: a(href="#") www.yoursite.kz
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Delta Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "FALCONRY CAPITAL"
											td: a(href="#") www.yoursite.kz 
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center 
												span
										tr
											td: a(href="#") AO "Kaspi Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Private Asset Management"
											td: a(href="#") www.yoursite.kz 
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Qazaq Banki"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "SkyBridge Invest"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span
										tr
											td: a(href="#") AO "Tengri Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "ZIM Capital"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "АСЫЛ-ИНВЕСТ"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "АТФБанк"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Capital Bank Kazakhstan"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "Delta Bank"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Алиби Секьюритиз"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
										tr
											td: a(href="#") AO "Дочерняя организация акционерного общества БТА БАНК" "БТА Секьюритис"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
											td.center
												span
										tr
											td: a(href="#") AO "Дочерняя организация Народного Банка Казахстана Halyk Finance"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span
										tr
											td: a(href="#") AO "Дочерняя организация АО Нурбанк" "MONEY EXPERTS"
											td: a(href="#") www.yoursite.kz 
											td.center 
												span
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
											td.center
												span.checkmark
													span.checkmark_steam
													span.checkmark_kick
					
					.tab-pane.fade(id="services", role="tabpanel")
						.reference-info.reference-info--page
							ul
								li #[a(href="#") Казахстанская фондовая биржа]
									ul.reference-into--icon
										li.
											#[a(href="#") Трансляция торгов] - веб-сервис.
										li.
											#[a(href="#") Индикаторы биржевого рынка] - бесплатный веб-сервис.
										li.
											#[a(href="#") Новости] - бесплатный раздел сайта
										li.
											#[a(href="#") Система уведомлений] - бесплатная рассылка.
								li #[a(href="#") Ирбис:]
									ul.reference-into--icon
										li.
											#[a(href="#") IRIS Finance] - настольное приложение.
										li.
											#[a(href="#") Новости финансового рынка] - раздел сайта.
										li.
											#[a(href="#") Архив торгов] - веб-сервис.
										li.
											#[a(href="#") Итоги торгов] - рассылка
										li.
											#[a(href="#") Архивные новости, курсы валют и сделки по рынкам] - наборы файлов.
								li #[a(href="#") eTrade:]
									ul.reference-into--icon
										li.
											#[a(href="#") Офис брокера] - комплексное решение по автоматизации процессов, связанных с совершением и учетом операций с финансовыми инструментами, составляющими портфель инвестиций компании в соответствии с действующим законодательством.
										li.
											#[a(href="#") STrade] - торговый терминал, позволяющий членам Биржи и их клиентам просматривать информацию о ходе торгов в режиме реального времени и совершать операции купли-продажи финансовых инструментов на KASE посредством сети Интернет.
										li.
											#[a(href="#") MTrade] - мобильный торговый терминал, позволяющий членам Биржи и их клиентам просматривать информацию о ходе торгов в режиме реального времени и совершать операции купли-продажи финансовых инструментов на KASE посредством сети Интернет.
										li.
											#[a(href="#") Модули обмена с ТС Биржи] - Модули обмена позволяют внешним программам участников торгов получить текущую информацию о параметрах финансовых инструментов (котировках, сделках, заявках), а также осуществлять подачу заявок в торговую систему АО "Казахстанская фондовая биржа".
										li Услуга по выдаче и поддержке ЭЦП – оказании услуг по получению заявителями электронной цифровой подписи.
										li.
											#[a(href="#") eTransfer.kz] - система передачи информации от одного участника системы (отправителя) другому участнику (получателю) с использованием механизмов аутентификации, шифрования трафика и электронной цифровой подписи, позволяющих однозначно и достоверное определить, что информация была отправлена конкретным отправителем и дошла до нужного получателя без каких-либо искажений.
										li.
											#[a(href="#") JSC.kz] - предоставление возможности акционерным обществам осуществлять публикацию информации о своей деятельности в соответствии с законом Республики Казахстан "Об акционерных обществах".
										li Размещение баннеров на интернет-сайте KASE – изготовление и размещение баннеров и ссылок на интернет-сайте KASE.

block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table > tbody > tr > td a').on('click', function(event) {
				event.preventDefault();
				var _self = $(this);
				_self.closest('tr').toggleClass('sorting-tr sorting-tr_gray');
			});
		});
