extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Членство"
				var marketsList = [
					{
						'title': 'Список членов KASE'
					},
					{
						'title': 'Маркет-мейкеры'
					},
					{
						'title': 'Клиринговые участники'
					},
					{
						'title': 'Услуги прямого доступа'
					},
					{
						'title': 'Рейтинг активности',
						'active': true
					},
					{
						'title': 'Дипломаты номинаций'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container.rating
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Членство',
					'Рейтинг активности'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Рэнкинг активности

			.small-dropdown.flex.accordion__hide-in-closed.sector Сектор рынка:
				.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button") Долевые ценные бумаги
					ul.dropdown-menu
						li: a(href="#") Долевые ценные бумаги
						li: a(href="#") Долговые ценные бумаги
						li: a(href="#") Репо
						li: a(href="#") Государственные ценные бумаги
						li: a(href="#") Иностранные валюты
						li: a(href="#") Операции валютного свопа
						
			.small-dropdown.flex.accordion__hide-in-closed.period
				.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button") За весь год
					ul.dropdown-menu
						li: a(href="#") За весь год
						li: a(href="#") Январь
						li: a(href="#") Февраль
						
			.small-dropdown.flex.accordion__hide-in-closed.year
				.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button") 2017
					ul.dropdown-menu
						li: a(href="#") 2016
						li: a(href="#") 2015
						li: a(href="#") 2014
						li: a(href="#") 2013
						li: a(href="#") 2012
						li: a(href="#") 2011
						li: a(href="#") 2010
						li: a(href="#") 2009


			.sortin-table--with-search
				table.sorting-table.table.table-striped
					thead
						tr
							th №
							th Наименование члена KASE
							th Ka
							th V
							th N
							th D
							th A
					tbody
						tr
							td 1
							td
								a(href='#') АО "Фридом Финанс"
							td 3,80
							td 1,00
							td 1,00
							td 1,00
							td 1,00
						tr
							td 2
							td
								a(href='#') АО "АСЫЛ-ИНВЕСТ"
							td 1,35
							td 0,12
							td 0,06
							td 1,00
							td 0,19
						tr
							td 3
							td
								a(href='#') АО "Казпочта"
							td 1,31
							td 0,05
							td 0,07
							td 0,95
							td 0,25
						tr
							td 4
							td
								a(href='#') АО "Дочерняя организация Народного Банка Казахстана "Halyk Finance" 
							td 1,16
							td 0,11
							td 0,04
							td 0,95
							td 0,08
						tr
							td 5
							td
								a(href='#') АО "BCC Invest" - дочерняя организация АО "Банк ЦентрКредит"
							td 1,16
							td 0,12
							td 0,04
							td 0,95
							td 0,07
						tr
							td 6
							td
								a(href='#') АО "Сентрас Секьюритиз"
							td 1,13
							td 0,09
							td 0,03
							td 0,98
							td 0,06
						tr
							td 7
							td
								a(href='#') АО "Казкоммерц Секьюритиз" (дочерняя организация АО "Казкоммерцбанк")
							td 1,09
							td 0,10
							td 0,02
							td 0,98
							td 0,02
						tr
							td 8
							td
								a(href='#') АО "CAIFC INVESTMENT GROUP"
							td 1,00
							td 0,03
							td 0,01
							td 0,88
							td 0,09
						tr
							td 9
							td
								a(href='#') АО "Цесна Капитал"
							td 0,83
							td 0,01
							td 0,01
							td 0,80
							td 0,02
						tr
							td 10
							td
								a(href='#') АО "Инвестиционный Финансовый Дом "RESMI"
							td 0,57
							td 0,01
							td 0,00
							td 0,55
							td 0,01
						tr
							td 11
							td
								a(href='#') АО "FALCONRY CAPITAL"
							td 0,49
							td 0,01
							td 0,01
							td 0,48
							td 0,00
						tr
							td 12
							td
								a(href='#') АО "Евразийский Капитал"
							td 0,49
							td 0,01
							td 0,00
							td 0,48
							td 0,00
						tr
							td 13
							td
								a(href='#') АО "Инвестиционный Дом "Астана-Инвест"
							td 0,44
							td 0,01
							td 0,00
							td 0,43
							td 0,01
						tr
							td 14
							td
								a(href='#') АО "Управляющая компания "ОРДА Капитал"
							td 0,42
							td 0,01
							td 0,00
							td 0,40
							td 0,01
						tr
							td 15
							td
								a(href='#') АО "Дочерняя организация акционерного общества "БТА Банк" "БТА Секьюритис"
							td 0,41
							td 0,02
							td 0,01
							td 0,38
							td 0,01
						tr
							td 16
							td
								a(href='#') АО "Private Asset Management"  
							td 0,18
							td 0,00
							td 0,00
							td 0,18
							td 0,00
						tr
							td 17
							td
								a(href='#') АО "Дочерняя организация АО "Нурбанк" "MONEY EXPERTS"
							td 0,13
							td 0,00
							td 0,00
							td 0,13
							td 0,00
						tr
							td 18
							td
								a(href='#') АО "ZIM Capital"
							td 0,13
							td 0,00
							td 0,00
							td 0,13
							td 0,00
						tr
							td 19
							td
								a(href='#') АО "Tengri Capital MB"
							td 0,05
							td 0,00
							td 0,00
							td 0,05
							td 0,00

			span.note
				| Рэнкинг активности членов KASE составлен согласно внутреннему документу KASE 
				a(href='/files/normative_base/members_activity.pdf', target='_blank')
					| "Методика расчета показателей активности членов АО "Казахстанская фондовая биржа"


			.accordion.closed
				.accordion__head
					a.accordion__head-link(href="#") Новости с архивными значениями показателей активности членов KASE:
						i.fa.fa-angle-down
				.accordion__body
					ul.news-list
						li
							.news-list__date 08.01.09
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за декабрь и 2008 год
						li
							.news-list__date 02.12.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за ноябрь и 11 месяцев 2008 года
						li
							.news-list__date 04.11.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за октябрь и 10 месяцев 2008 года
						li
							.news-list__date 02.10.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за сентябрь и 9 месяцев 2008 года
						li
							.news-list__date 03.09.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за август и 8 месяцев 2008 года
						li
							.news-list__date 04.08.08
							.news-list__title
								a.news(href='/news/show/1053399', rel='news') KASE определила ведущих операторов биржевого рынка купли-продажи акций за июль и 7 месяцев 2008 года
						li
							.news-list__date 01.07.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за июнь и за первые 6 месяцев 2008 года
						li
							.news-list__date 03.06.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за май и за первые 5 месяцев 2008 года
						li
							.news-list__date 04.05.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за апрель и за первые 4 месяца 2008 года (по новой методике)
						li
							.news-list__date 01.04.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за март и за первые 3 месяца 2008 года (по новой методике)
						li
							.news-list__date 28.03.08
							.news-list__title
								a.news(href='#') KASE определила ведущих операторов биржевого рынка купли-продажи акций за февраль и за первые 2 месяца 2008 года (по новой методике)



block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table > tbody > tr > td a').on('click', function(event) {
				event.preventDefault();
				var _self = $(this);
				_self.closest('tr').toggleClass('sorting-tr sorting-tr_gray');
			});
		});
