extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Членство"
				var marketsList = [
					{
						'title': 'Список членов KASE'
					},
					{
						'title': 'Маркет-мейкеры'
					},
					{
						'title': 'Клиринговые участники'
					},
					{
						'title': 'Услуги прямого доступа',
						'active': true
					},
					{
						'title': 'Рейтинг активности'
					},
					{
						'title': 'Дипломаты номинаций'
					}
				]
			include ../../modules/markets-menu/module
			//-include ../../modules/regulations/module
			
	.container
		.right-content-column

			-
				var breadcrumbs = [
					'Главная',
					'Продукты и услуги',
					'Членство',
					'Услуги прямого доступа'
				]
				
			include ../../modules/breadcrumbs/module
			h1 Услуги прямого доступа
			-
				var  membershipArray = [
					{
						'icon': 'kase_logo_new.png',
						'list': [
							{
								'title': 'Казахстанская фордовая биржа',
								'link': 'Трансляция торгов',
								'text': 'веб-сервис.'
							},
							{
								'title': '',
								'link': 'Индикаторы биржевого рынк',
								'text': 'бесплатный веб-сервис.'
							},
							{
								'title': '',
								'link': 'Новости',
								'text': 'бесплатный раздел сайта'
							},
							{
								'title': '',
								'link': 'Система уведомлений',
								'text': 'бесплатная рассылка'
							}
						]
					},
					{
						'icon': 'irbis_logo_new.png',
						'list': [
							{
								'title': 'Ирбис',
								'link': 'IRIS Finance',
								'text': 'Настольное приложение.'
							},
							{
								'title': '',
								'link': 'Новости финансового рынка',
								'text': 'раздел сайта.'
							},
							{
								'title': '',
								'link': 'Архив торгов',
								'text': 'веб-сервис.'
							},
							{
								'title': '',
								'link': 'Итоги торгов',
								'text': 'рассылка'
							},
							{
								'title': '',
								'link': 'Архивные новости, курсы валют и сделки по рынкам',
								'text': 'наборы файлов.'
							}
						]
					},
					{
						'icon': 'etrade.png',
						'list': [
							{
								'title': 'eTrade',
								'link': 'Офис брокера',
								'text': 'комплексное решение по автоматизации процессов, связанных с совершением и учетом операций с финансовыми инструментами, составляющими портфель инвестиций компании в соответствии с действующим законодательством.'
							},
							{
								'title': '',
								'link': 'STrade',
								'text': 'торговый терминал, позволяющий членам Биржи и их клиентам просматривать информацию о ходе торгов в режиме реального времени и совершать операции купли-продажи финансовых инструментов на KASE посредством сети Интернет.'
							},
							{
								'title': '',
								'link': 'MTrade',
								'text': 'мобильный торговый терминал, позволяющий членам Биржи и их клиентам просматривать информацию о ходе торгов в режиме реального времени и совершать операции купли-продажи финансовых инструментов на KASE посредством сети Интернет.'
							},
							{
								'title': '',
								'link': 'Модули обмена с ТС Биржи',
								'text': 'Модули обмена позволяют внешним программам участников торгов получить текущую информацию о параметрах финансовых инструментов (котировках, сделках, заявках), а также осуществлять подачу заявок в торговую систему АО "Казахстанская фондовая биржа".'
							},
							{
								'title': '',
								'text': 'Услуга по выдаче и поддержке ЭЦП – оказании услуг по получению заявителями электронной цифровой подписи.'
							},
							{
								'title': '',
								'link': 'eTransfer.kz',
								'text': 'система передачи информации от одного участника системы (отправителя) другому участнику (получателю) с использованием механизмов аутентификации, шифрования трафика и электронной цифровой подписи, позволяющих однозначно и достоверное определить, что информация была отправлена конкретным отправителем и дошла до нужного получателя без каких-либо искажений.'
							},
							{
								'title': '',
								'link': 'JSC.kz',
								'text': 'предоставление возможности акционерным обществам осуществлять публикацию информации о своей деятельности в соответствии с законом Республики Казахстан "Об акционерных обществах".'
							}
						]
					}
				]
				var pictureSize="small"
			include ../../modules/about_membership/module

block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			$('.sorting-table > tbody > tr > td a').on('click', function(event) {
				event.preventDefault();
				var _self = $(this);
				_self.closest('tr').toggleClass('sorting-tr sorting-tr_gray');
			});
		});
