#greatSlider.great-slider.swiper-container.hidden-block
	.swiper-wrapper
		.swiper-slide
			.great-slider__item
				img.great-slider__image(src="img-content/img-1.jpg", alt="")
				.great-slider__item-content
					div
						.great-slider__title Будь в Trade 
							span.great-slider__title--green вместе с KASE
						.great-slider__text
							| Узнай как успешно торговать на бирже

		.swiper-slide
			.great-slider__item
				img.great-slider__image(src="img-content/img-2.jpg", alt="")
				.great-slider__item-content
					div
						.great-slider__title Будь в Trade 
							span.great-slider__title--green вместе с KASE
						.great-slider__text
							| Узнай как успешно торговать на бирже

	#greatSliderPages.great-slider__pagination
    
	.great-slider__arrows
		#greatSliderNext.great-slider__arrow.great-slider__arrow--prev 
			img(src="images/arrow-up-white.svg", alt="")
		#greatSliderPrev.great-slider__arrow.great-slider__arrow--next
			img(src="images/arrow-down-white.svg", alt="")