.landing-white-block {
	max-width: 750px;
	margin: 0 auto 30px;
	background-color: #fff;
	box-shadow: 0 18px 35px rgba(53, 58, 60, 0.1);
	padding: 30px 30px 22px;
}
.landing-white-block__title {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.landing-white-block__redmore {
	text-align: center;
	a {
		color: #0094de;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}