.pagination
	ul
		li.pagination__first: a(href="#")
			svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 11 10.5", style="enable-background:new 0 0 11 10.5;", xml:space="preserve")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M11,9.7l-0.8,0.8L5,5.2l0.8-0.8L11,9.7z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M5.8,6.1L5,5.2L10.2,0L11,0.8L5.8,6.1z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M6,9.7l-0.8,0.8L0,5.2l0.8-0.8L6,9.7z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M0.8,6.1L0,5.2L5.2,0L6,0.8L0.8,6.1z")

		li.pagination__prev: a(href="#")
			svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 6 10.5", style="enable-background:new 0 0 6 10.5;", xml:space="preserve")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M6,9.7l-0.8,0.8L0,5.2l0.8-0.8L6,9.7z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M0.8,6.1L0,5.2L5.2,0L6,0.8L0.8,6.1z")

		li.pagination__page.active: a(href="#") 1
		li.pagination__page: a(href="#") 2
		li.pagination__page: a(href="#") 3
		li.pagination__page ...
		li.pagination__page: a(href="#") 10

		li.pagination__next: a(href="#")
			svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 6 10.5", style="enable-background:new 0 0 6 10.5;", xml:space="preserve")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M0,0.8L0.8,0L6,5.2L5.2,6.1L0,0.8z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M5.2,4.4L6,5.2l-5.2,5.2L0,9.7L5.2,4.4z")

		li.pagination__last: a(href="#")
			svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 11 10.5", style="enable-background:new 0 0 11 10.5;", xml:space="preserve")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M0,0.8L0.8,0L6,5.2L5.2,6.1L0,0.8z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M5.2,4.4L6,5.2l-5.2,5.2L0,9.7L5.2,4.4z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M5,0.8L5.8,0L11,5.2l-0.8,0.8L5,0.8z")
				path(fill="#a8b1ba", fill-rule="evenodd", clip-rule="evenodd", d="M10.2,4.4L11,5.2l-5.2,5.2L5,9.7L10.2,4.4z")