.contacts-block {
	font-size: $fz16;
	&__column {
		line-height: 1.5;
		background-color: #fff;
		padding: 30px 20px;
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}

		.contacts-block__title {
			margin-bottom: 25px;
			font-size: $fz16;
			font-weight: 700;
		}
		.contacts-block__sub-title {
			text-align: left;
			font-weight: 500;
		}

	}
	&--one-col {
		background-color: #fff;
		padding: 20px 30px;
		.contacts-block__title {
			font-size: 131.25%;
			line-height: 1.476190476190476;
			font-weight: 500;
			text-align: center;
			margin-bottom: 22px;
		}
		.contacts-block__sub-title {
			font-size: $fz16;
			font-weight: 500;
		}
	}
	ul {
		list-style-type: none;
		font-weight: normal;
		padding: 0;
		margin-top: 10px;
		span {
			margin-left: 4px;
		}
	}
}
.contacts-block__sub-col {
	margin-bottom: 25px;
}

@media (min-width: 649px) and (max-width: 768px) {
	.contacts-block {
		font-size: $fz32;
		&__column {	
			padding: 50px 60px;
			margin-bottom: 60px;
			div:first-child {
				margin-bottom: 50px;
			}
		}
		&--one-col {
			padding: 40px 60px;
			.contacts-block__title {
				margin-bottom: 44px;
			}
		}
	}
	.contacts-block__sub-col {
		margin-bottom: 50px;
	}
}

@media (min-width: 769px) {
	.contacts-block {
		display: flex;
		align-items: stertch;
		&--one-col {
			display: block;
			padding: 40px 136px;
			.contacts-block__title {
				margin-bottom: 38px;
			}
		}

		&__column {
			max-width: 50%;
			margin: 0;

			&:first-of-type {
				margin-right: 30px;
			}
		}
	}
}

@media (min-width: 992px) {
	.contacts-block {
		font-size: $fz16;
		justify-content: center;
		text-align: left;
		&__column {
			width: 460px;
			padding: 50px 60px;
		}
	}
	.contacts-block__sub-col-parent {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}
	.contacts-block__sub-col {
		width: 50%;
		&:nth-child(odd) {
			border-right: 2px solid #e7e7e7;
			padding-right: 65px;
		}
		&:nth-child(even) {
			padding-left: 65px;
		}
	}
}