.contacts-block {
	&--column {
		background-color: #fff;
		padding: 30px 20px;
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}

		div {
			font-weight: 500;
			&:first-child {
				line-height: 1.625;
				margin-bottom: 25px;
			}
			&:last-child {
				line-height: 1.5;
				text-align: left;
			}
		}
	}

	ul {
		list-style-type: none;
		font-weight: 300;
		padding: 0;
		margin-top: 10px;

		span {
			margin-left: 4px;
		}
	}
}
