.menu {
	width: 100%;
	height: 100%;
	background-color: rgba(3, 135, 38, 0.95);
	position: fixed;
	z-index: 10;
	color: #fff;
	padding-top: 32px;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	a {
		color: #fff;
	}
	ul {
		display: block;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		margin: 0 0 16px;
		a {
			font-size: $fz12;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.5);
			&:active {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
	.title {
		font-weight: 700;
		font-size: $fz16;
		a {
			color: #fff;
		}
	}
	.first {
		padding: 0 15px 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		display: inline-block;
		margin-bottom: 11px;	
	}
}
.menu__close {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 18px;
}
.menu__panel {
	border-radius: 0;
	background: none;
	border: none;
	box-shadow: none;
	.panel-heading {
		padding: 0 0 14px;
		border: none;
	}
	.panel-title {
		font-weight: 900;
		font-size: $fz18;
	}
	.panel-body {
		padding: 0;
	}
}
.menu__cols {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 3px;
}
.menu__col {
	width: 100%;
	padding: 0 30px;
	margin: 0 0 22px;
	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 540px){
	.menu {
		text-align: left;
		padding-left: 30px;
		padding-right: 30px;
		.first {
			padding: 0 0 5px;
			border: none;
		}
	}
	.menu__col {
		width: 50%;
		padding: 0 15px;
	}
	.menu__panel {
		.panel-title {
			font-size: $fz24;
		}
	}
}

@media (min-width: 768px){
	.menu__col {
		width: 33,33333333333333%;
	}
	.menu__panel {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}

@media (min-width: 992px){
	.menu__panel {
		.panel-title {
			a {
				cursor: default;
			}
		}
	}
	.menu__col {
		width: 25%;
	}
}

@media (min-width: 1080px){
	.menu__close {
		top: 30px;
		left: 30px;
	}
}