.dataTables_info,
.dataTables_paginate,
.dataTables_length,
.dataTables_filter {
	display: none;
}
.dataTables_wrapper.no-footer {
	.dataTables_scrollBody {
		border-bottom: none;
	}
}
table.dataTable {
	thead {
		td, th {
			border-bottom: none;
			padding: 8px 18px 8px 10px;
		}
	}
	tbody {
		td {
		    padding: 8px 10px;
		}
	}
}
table.dataTable.no-footer {
	border-bottom: none;
}

@media (min-width: 649px) and (max-width: 768px){
	table.dataTable {
		thead {
			td, th {
				padding: 16px 36px 16px 20px;
			}
		}
		tbody {
			td {
			    padding: 16px 20px;
			}
		}
	}
}