.quotes-info(id="quote-actions")
	.quotes-info__container
		.quotes-info__header
			.title
				a(href="#") Акции
					i.fa.fa-angle-right
			include ../mini-menu/module
		.quotes-info__content
			table.quotes-info__table
				thead
					tr
						th 
							span.text Лидеры роста
							a.quotes-info__arrow(href="#")
								img(src="images/square-border.svg", alt="")
								span
						th Послед. знач.
						th %1D
						th %MTD
						th &nbsp;
				tfoot
					tr
						td: a(href="#") Индекс KASE
						td 1 018,15
						td: span.green +7,81
						td: span.green +7,81
						td: img(src="images/graph-green.png", alt="")
				tbody
					tr
						td: a(href="#") KEGC
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td: a(href="#") KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td: a(href="#") KEGC
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td: a(href="#") KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td: a(href="#") KZTO
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")