.quotes-info(id="quote-gcb")
	.quotes-info__container
		.quotes-info__header
			.title
				a(href="#") ГЦБ
					i.fa.fa-angle-right
			include ../mini-menu/module
		.quotes-info__content
			table.quotes-info__table.quotes-info__table--with-date
				thead
					tr
						th Код
						th Объём, млн KZT
						th %YTM
						th DTM
						th &nbsp;
				tbody
					tr
						td
							a(href="#") USDKZT_TOD
							.date 15.05.15
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td
							a(href="#") USDKZT_TOM
							.date 15.05.15
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") EURKZT_TOD
							.date 15.05.15
						td 920,33
						td: span.red -0,09
						td: span.red -0,09
						td: img(src="images/graph-red.png", alt="")
					tr
						td
							a(href="#") CNYKZT_TOD
							.date 15.05.15
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") EURUSD_TOD
							.date 15.05.15
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")
					tr
						td
							a(href="#") RUBKZT_TOD
							.date 15.05.15
						td 7 510,56
						td: span.green +20,18
						td: span.green +20,18
						td: img(src="images/graph-green.png", alt="")