.landing-two-btn
	.landing-two-btn__item
		div
			p.landing-text Руководство пользователя системы is2in
			button.btn.btn-landing.btn-landing-transparent Посмотреть список
	.landing-two-btn__item
		div
			p.landing-text.
				Руководство по использованию ЭЦП для систем "is2in" и "eTransfer.kz"
			button.btn.btn-landing.btn-landing-transparent Посмотреть список