.landing-two-btn {
	ul {
		clear: both;
		list-style-type: none;
		padding: 0;
		margin: 0 auto;

		li {
			display: inline-block;
			max-width: 400px;
			margin: 0 65px;

			p {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
			}

			.btn {
				margin: 20px auto 0 auto;
			}
		}
	}
}

@media (min-width: 320px) {
	.landing-two-btn {
		ul li {
			margin: 0 0 40px 0;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: 750px) {
	.landing-two-btn {
		ul li {
			margin: 0 65px 40px 65px;
		}
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	.landing-two-btn {
		ul li {
			margin: 0 35px;
		}
	}
}

@media (min-width: 1200px) {
	.landing-two-btn {
		ul li {
			margin: 0 65px;
		}
	}
}