.mini-menu
	a.mini-menu__link(href="#")
		img(src="images/menu-border.svg", alt="")
		span.mini-menu__lines
			span
			span
			span
	.mini-menu__menu
		.mini-menu__menu-head Выбрать раздел:
		ul
			li.active: a(href="#") Акции
			li: a(href="#") Корпоративные облигации
			li: a(href="#") Государственные облигации
			li: a(href="#") Валютный рынок
			li: a(href="#") Денежный рынок
			li: a(href="#") Деривативы