mixin block(name, dataName)
	li(data-title=dataName)
		a(href="#") #{name}

.mini-menu
	a.mini-menu__link(href="#")
		img(src="images/menu-border.svg", alt="")
		span.mini-menu__lines
			span
			span
			span
	.mini-menu__menu
		.mini-menu__menu-head Выбрать раздел:
		ul
			+block("Акции", "quote-actions")
			+block("ГЦБ", "quote-gcb")
			+block("Валюты", "quote-currency")
			+block("Корпоративные облигации", "quote-bonds")
			+block("Деривативы", "quote-derivatives")
			+block("Деньги", "quote-money")