.wage-rate-block{
	font-size: $fz16;
	&__column {
		margin-bottom: 30px;
		.wage-rate-block__title{
			text-align: center;
			background: #f7f8f8;
			padding: 25px 15px;
		}
		.wage-rate-block__value{
			text-align: center;
			color: #fff;
    		background: linear-gradient(52deg, #ef7f1a 18%, #e84242 100%);
    		padding: 25px 15px;
    		span:first-child{
    			font-size: 26px;
    			padding-right: 8px;
    		}
    		span{
    			font-size: 20px;
    		}
		}
	}
}

@media (min-width: 649px) and (max-width: 768px) {
	.wage-rate-block{
		font-size: 32px;
		&__column {
			.wage-rate-block__title{
				padding: 50px 30px;
			}
			margin-bottom: 30px;
			.wage-rate-block__value{
				padding: 50px 30px;
	    		span:first-child{
	    			font-size: 52px;
	    			padding-right: 16px;
	    		}
	    		span{
	    			font-size: 40px;
	    		}
			}
		}
	}
}
@media (min-width: 769px) {
		.wage-rate-block{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&__column {
				min-width: 262px;
				max-width: 262px;
				margin-right: 30px;
			}
		}
}

