.gradient-tabs
	ul.nav(role="tablist")
		each item, index in gradientTabs
			if (index == 0)
				li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
					a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
			else
				li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
					a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
	.tab-content
		each item, index in gradientTabs
			if (index == 0)
				.gratient-tabs__accordion-body.tab-pane.fade.active.in(id= item.href, role="tabpanel")
					.landing-section__text= item.content
			else
				.gratient-tabs__accordion-body.tab-pane.fade(id= item.href, role="tabpanel")
					.landing-section__text= item.content

	#gradientTabsAccordion.gratient-tabs__accordion
		each item, index in gradientTabs
			if (index == 0)
				.gratient-tabs__accordion-pane.panel.active
					.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green.active
						a.collapsed(data-target="#" + item.hrefMob, role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span= item.title
					.gratient-tabs__accordion-body.collapse(id= item.hrefMob, role="tabpanel")
						.landing-section__text= item.content
			else
				.gratient-tabs__accordion-pane.panel
					.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green
						a.collapsed(data-target="#" + item.hrefMob, role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span= item.title
					.gratient-tabs__accordion-body.collapse(id= item.hrefMob, role="tabpanel")
						.landing-section__text= item.content