#gradientTabs.gradient-tabs
	ul.nav(role="tablist")
		each item, index in gradientTabs
			if (index == 0)
				li.active(role="presentation")
					a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
			else
				li(role="presentation")
					a(href="#" + item.href, role="tab", data-toggle="tab"): span= item.title
	.gratient-tabs__accordion
		each item, index in gradientTabs
			.gratient-tabs__accordion-pane
				if (index == 0)
					.gratient-tabs__accordion-link.active
						a(data-target="#" + item.href, role="button", data-toggle="collapse"): span= item.title
					.gratient-tabs__accordion-body.collapse(id= item.href)
						.well
							.landing-section__text.landing-section__text--fz14= item.content
				else
					.gratient-tabs__accordion-link
						a(data-target="#" + item.href, role="button", data-toggle="collapse"): span= item.title
					.gratient-tabs__accordion-body.collapse(id= item.href)
						.well
							.landing-section__text.landing-section__text--fz14= item.content