.gradient-tabs {
	text-align: center;
	h3 {
		margin-bottom: 20px;
	}
	.reference-info {
		text-align: left;
	}
	.nav {
		display: none;
		font-weight: 500;
		text-align: center;
		a {
			color: #383838;
		}
	}
	.gradient-tabs__tab {
		margin-left: 30px;
		display: block;
		font-size: $fz16;
		&:first-child {
			margin-left: 0;
		}
		&.active {
			&.gradient-tabs__tab--green {
				a {
					background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
				}
			}
			&.gradient-tabs__tab--blue {
				a {
					background: linear-gradient(52deg, #00aaff 18%, #005dbd 100%);
				}
			}
			&.gradient-tabs__tab--yellow {
				a {
					background: linear-gradient(52deg, #fecc00 0%, #ef7f1a 100%);
				}
			}
			&.gradient-tabs__tab--purple {
				a {
					background: linear-gradient(52deg,#0e56b7 0%, #a71af0 100%);
				}
			}
		}
		&--green {
			a:hover {
				background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
			}
		}
		&--blue {
			a:hover {
				background: linear-gradient(52deg, #00aaff 18%, #005dbd 100%);
			}
		}
		&--yellow {
			a:hover {
				background: linear-gradient(52deg, #fecc00 0%, #ef7f1a 100%);
			}
		}
		&--purple {
			a:hover {
				background: linear-gradient(52deg,#0e56b7 0%, #a71af0 100%);
			}
		}
		a {
			display: block;
			border-radius: 70px;
			padding: 1px;
		}
		span {
			display: block;
			background-color: #fff;
			border-radius: 70px;
			padding: 5px 12px;
		}
	}
	.gratient-tabs__accordion-link {
		display: block;
		font-size: $fz16;
		&:first-child {
			margin-left: 0;
		}
		&--green {
			a {
				&:not(.collapsed) {
					background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
				}
			}
		}
		&--blue {
			a {
				&:not(.collapsed) {
					background: linear-gradient(52deg, #00aaff 18%, #005dbd 100%);
				}
			}
		}
		&--yellow {
			a {
				&:not(.collapsed) {
					background: linear-gradient(52deg, #fecc00 0%, #ef7f1a 100%);
				}
			}
		}
		a {
			background: #d1d1d1;
			display: block;
			border-radius: 70px;
			padding: 1px;
		}
		span {
			display: block;
			background-color: #fff;
			border-radius: 70px;
			padding: 5px 12px;
		}
	}
	.tab-content {
		display: none;
	}
	.panel {
		border: none;
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 18px;
	}
	
	&--not-margin {
		.nav {
			display: block;
			padding-bottom: 13px;
			border-bottom: 1px solid #c9d4de;
			margin-bottom: 25px;
		}
		.tab-content {
			display: block;
		}
		.gradient-tabs__tab {
			margin: 0;
			span {
				padding: {
					left: 22px;
					right: 22px;
				}
			}
		}
	}
	.accordion__body {
		padding-bottom: 30px;
	}
}
.gratient-tabs__accordion-body {
	padding: 20px;
	margin-top: 15px;
	&.active.in {
		display: none;
	}
	.landing-section {
		position: relative;
	}
	.landing-section__text {
		padding-bottom: 60px;
	}
	.double-down {
		display: block;
		width: 28px;
		height: 26px;
		position: absolute;
		top: -39px;
		left: 50%;
		margin-left: -14px;
	}
}
.landing-white-block .gradient-tabs .gradient-tabs__tab {
		margin-left: 5px;

}
.landing-white-block  .gradient-tabs .nav {
    font-weight: 300;
}
.landing-white-block .gratient-tabs__accordion-body {
    padding: 0;
}

@media (min-width: 768px) and (max-width: 991){
	.gradient-tabs .gratient-tabs__accordion-link a{
		max-width: 600px !important;
	}
	.gradient-tabs .gratient-tabs__accordion-link{
		max-width: 600px !important;
	}
	.gratient-tabs__accordion-pane.panel .container, .tab-content .container, .gratient-tabs__accordion-body.tab-pane.fade.active .container{
		max-width: 750px;
	 }
	.landing-section--with-image .container, .landing-section--with-slider .container {
		width: 98% !important;
	}
	.landing-section--with-image .gratient-tabs__accordion-body.active.in .container{
		width: 100% !important;
	}
	.landing-section--with-image .gradient-tabs .panel .container{
		width: 100% !important;
	}
}

@media (min-width: 992px){
	.gradient-tabs {
		.nav {
			display: flex;
			justify-content: center;
		}
		.tab-content {
			display: block;
		}
		&--not-margin {
			text-align: left;
			.nav {
				justify-content: flex-start;
				overflow-x: auto;
			}
		}
	}
	.gratient-tabs__accordion-link {
		display: none !important;
	}
	.gratient-tabs__accordion-body {
		background: none;
		&.active.in {
			display: block;
		}
	}
	.landing-section--with-image .gratient-tabs__accordion-body.active.in .container{
		width: 100% !important;
	}
	.landing-white-block .gratient-tabs__accordion-body {
	    //padding: 20px;
	}
}