.gradient-tabs {
	text-align: center;
	.nav {
		display: none;
		font-weight: 500;
	}
	.gradient-tabs__tab {
		margin-left: 30px;
		display: block;
		font-size: $fz16;
		&:first-child {
			margin-left: 0;
		}
		&.active {
			&.gradient-tabs__tab--green {
				a {
					background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
				}
			}
		}
		&--green {
			a:hover {
				background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
			}
		}
		a {
			display: block;
			border-radius: 70px;
			padding: 1px;
		}
		span {
			display: block;
			background-color: #fff;
			border-radius: 70px;
			padding: 5px 12px;
		}
	}
	.gratient-tabs__accordion-link {
		display: block;
		font-size: $fz16;
		&:first-child {
			margin-left: 0;
		}
		&--green {
			a {
				&:not(.collapsed) {
					background: linear-gradient(52deg, #038726 0%,#3cbd0d 47%,#9ed110 100%);
				}
			}
		}
		a {
			background: #d1d1d1;
			display: block;
			border-radius: 70px;
			padding: 1px;
		}
		span {
			display: block;
			background-color: #fff;
			border-radius: 70px;
			padding: 5px 12px;
		}
	}
	.tab-content {
		display: none;
	}
	.panel {
		border: none;
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 18px;
	}
	a {
		color: #383838;
	}
}
.gratient-tabs__accordion-body {
	background-color: #e8edf0;
	padding: 20px;
	margin-top: 15px;
}

@media (min-width: 992px){
	.gradient-tabs {
		.nav {
			display: flex;
			justify-content: center;
		}
		.tab-content {
			display: block;
		}
	}
	.gratient-tabs__accordion-link {
		display: none !important;
	}
	.gratient-tabs__accordion-body {
		background: none;
	}
}