extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-lightgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "green-yellow" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Листинговым компаниям"
	-
		var headText =[
			'Статус листинговой компании – новый важный этап в жизни вашей компании.',
			'Ознакомьтесь подробнее с доступными возможностями привлечения капитала и с требованиями по раскрытию информации.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Будущим листинговым компаниям'
			}
		]
		
	.relative
		include ../../modules/landings_modules/landing-head/module

		-
			var menuItems = [
				{
					'title': 'Раскрытие информации'
				},
				{
					'title': 'Кабинет эмитента'
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Институт маркет-мейкеров',
					'active': true
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section.landing-section--gray-bg
		.container
			h2 Кто такой маркет-мейкер
			.landing-section__text
				p.
					Если вы заинтересованы в повышении ликвидности ценных бумаг для реализации бизнес-задач компании, вам следует ознакомиться с понятием маркет-мейкер.
				p.
					Маркет-мейкер – это член Биржи, получивший статус маркет-мейкера в отношении ценных бумаг официального списка KASE для оказания услуг по поддержанию цен, спроса и предложения, объема торгов по ценной бумаге путем принятия обязательства по подаче и одновременному поддержанию двусторонней котировки, заявок на покупку и/или заявок на продажу ценных бумаг. Деятельность маркет-мейкеров регулируется законодательством РК о рынке ценных бумаг и #[a(href="#") Положением о маркет-мейкерах KASE] и #[a(href="#") Правилами деятельности маркет-мейкеров KASE].

	section.landing-section.gr-yellow-green
		.container
			h2 на заметку
			.landing-section__text
				p.
					Иногда, ценные бумаги, размещенные на первичном рынке по верхней границе ценового диапазона при высоком спросе со стороны инвесторов, в дальнейшем могут потерять свою популярность и существенно снизиться в цене. Такая ситуация неблагоприятно сказывается на капитализации компании и ограничивает ее возможности в проведении дополнительных размещений.

	section.landing-section
		.container
			.maker-tasks
				.maker-tasks__icon
					img(src="images/market-icon.svg", alt="")
				.maker-tasks__text
					h2 Задачи маркет-мейкера
					ul.list-color.list-color--green
						li.
							Маркет-мейкер берет на себя обязательство объявлять и поддерживать котировки на покупку и продажу определенных ценных бумаг в торговой системе.
						li.
							В целях подержания постоянного спроса и предложения (рынка) на ценную бумагу, маркет-мейкер берет на себя риск покупки и хранения этой ценной бумаги на своем торговом счете.
						li.
							Действия маркет-мейкера обеспечивают спрос и предложение по ценным бумагам, создают условия для высокого уровня ликвидности и недопущения резких скачков цен ценных бумаг, а также удерживают величину #[button.description-link(tabindex="0", role="button", data-toggle="popover",data-placement="top", data-trigger="focus", data-content="Описание термина Спрэд") спрэда].

	section.landing-section.gr-darkgreen-lightgreen
		.container
			h2 Кто может быть маркет-мейкером

			.landing-section__text
				p.
					Статус маркет-мейкера по ценной бумаге может получить член Биржи, имеющий "фондовую" категорию членства. При этом ценная бумага может быть одновременно закреплена за несколькими маркет-мейкерами.
			-
				var linkList = [
					'Список маркет-мейкеров',
					'Положение о маркет-мейкерах',
					'Правила деятельности маркет-мейкеров KASE'
				]
			
			include ../../modules/landings_modules/download-links/module

				
							
