extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-yellow" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "green-yellow" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Частным инвесторам"
	-
		var headText =[
			'Цели инвестирования в фондовую биржу могут быть различные на разных рынках и личных потребностях инвестора. Казахстанская фондовая биржа функционирует в виде электронной торговой системы, которая проводит торги ежедневно по рабочим дням в течении большей части дня образуя торговый день.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Институциональным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'Что такое Фондовый Рынок?'
				},
				{
					'title': 'Зачем инвестировать?'
				},
				{
					'title': 'С чего начать?'
				},
				{
					'title': 'Правила торгов'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Цель Инвестирования
			.landing-section__text.landing-section__text--color500
				p.
					Цели инвестирования в фондовую биржу могут быть различные на разных рынках и личных потребностях инвестора.
			-
				var navColor= "yellow"
				var listInfo = [
					{
						'title': 'Целью инвестиции в рынок акций чаще всего является, получение выгоды в виде прибыли. Доходность при инвестировании в казахстанский фондовый рынок может варьироваться, в зависимости от рисковости ценной бумаги. Доход можно получить несколькими способами, купив акции компании и получив от компании дивиденды, а так же при приросте цен на бумаги. Для многих граждан это альтернативный источник дохода, получаемый без полной и продолжительной вовлеченности.'
					},
					{
						'title': 'На рынке долговых ценных бумаг с инструментами, отличающимися низкими рисками и низкими процентными ставками, инвесторы в большинстве случаев хранят деньги в безопасной, но доходной среде при этом помогая отечественным компаниям и государству, одалживая им средства.'
					},
					{
						'title': 'Другие рынки как РЕПО и Деривативы пользуются популярностью у более профессиональных инвесторов, которые пользуются этими инструментами, чтобы сократить или хеджировать свои риски.'
					}
				]

			include ../../modules/landings_modules/vendors/module

	section.landing-section.landing-section--gray-bg
		.container
			h2 Преимущества торговли на бирже
		-
			var listBarTop = [
				{
					'title': 'Высокая доходность',
					'text': 'Участники биржи повышают свое благосостояние, участвуя в доходах компании через дивиденды и за счет прироста стоимости ценных бумаг.'
				},
				{
					'title': 'Ликвидность инвестиций.',
					'text': 'Ценные бумаги на фондовом рынке ликвидны, что означает, что вы легко можете вернуть вложенные деньги в полном размере обратно.'
				},
				{
					'title': 'Вклад в развитии экономики страны.',
					'text': 'Инвестируя в фондовом рынке, вкладывая деньги в крупнейшие компании страны, вы прямым образом влияете на развитие экономики страны.'
				}
			]

			var navColor = "yellow"
			var stylingBlock= "whiteBlock"

		include ../../modules/landings_modules/list-top-bar/module

	section.landing-section.gr-yellow
		.container
			h2 Риски
			.landing-section__text
				p.
					Главным риском торговли на фондовом рынке является ответственность за вложенные деньги, которую несет только инвестор без гарантий от сторонних институтов. Это говорит о том что доходность зависит только от того как и куда вкладывает деньги инвестор, что тоже влечет психологическое давление на него. Но все это компенсируется масштабной информационной поддержкой, которую обеспечивает как сама биржа, так и ее эмитенты.
			