extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-lightgreen-darkgreen" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Нелистинговые ценные бумаги"
	-
		var headText =[
			'Допуск ценных бумаг к обращению в секторе "Нелистинговые ценные бумаги" предоставляет возможность совершать в торговой системе KASE сделки с ценными бумагами, которые по тем или иным причинам не включены в официальный список KASE'
		]
	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Листинговым компаниям'
			},
			{
				'position': 'right',
				'title': 'Будущим листинговым компаниям'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module

		-
			var menuItems = [
				{
					'title': 'Условия допуска',
					'active': true
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module
	svg(id="gradientMask")
		defs
			pattern(id="nGradient", patternUnits="userSpaceOnUse", width="150", height="150")
				image(xlink:href="images/number-gradient.png", width="150", height="150")
	section.landing-section
		.container
			h2 Инициатор допуска
			.landing-section__text
				p.
					В качестве инициатора допуска ценных бумаг вправе выступать только член #[a(href="#") Биржи "фондовой" категории], обладающий лицензией на осуществление брокерской и/или дилерской деятельности на рынке ценных бумаг с правом ведения счетов клиентов в качестве номинального держателя.
	
	section.landing-section.landing-section--gray-bg
		.container
			h2 Критерии для допуска

			-
				var listSliderItems = [
					{
						'title': 'Ценные бумаги существуют как объекты гражданских прав'
					},
					{
						'title': 'У ценных бумаг имеется национальный идентификационный номер (НИН) и/или международный идентификационный номер (ISIN)'
					},
					{
						'title': 'Отсутствуют законодательные или иные возможные запреты и ограничения, препятствующие свободному обращению ценных бумаг на организованном рынке Казахстана'
					}
				]
			include ../../modules/landings_modules/list-slider/module
	section.landing-section.landing-section--with-image
		.gr-yellow-green
		.container
			h2 Процедура допуска

			.landing-section__image
				img(src="images/landing-listing__admittance.png", alt="")
