extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-lightgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "green-yellow" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Листинговым компаниям"
	-
		var headText =[
			'Статус листинговой компании – новый важный этап в жизни вашей компании.',
			'Ознакомьтесь подробнее с доступными возможностями привлечения капитала и с требованиями по раскрытию информации.'
		]
	.relative
		include ../../modules/landings_modules/landing-head/module

		-
			var menuItems = [
				{
					'title': 'Раскрытие информации'
				},
				{
					'title': 'Кабинет эмитента'
				},
				{
					'title': 'Размещение на KASE',
					'active': true
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Институт маркет-мейкеров'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Способы размещений
			.landing-section__description
				p.
					При размещений ценных бумаг на Бирже компания может использовать:

			-
				var gradientTabs = [
					{
						'title': 'Метод специализированных торгов',
						'href': 'mSpecial',
						'hrefMob': 'mSpecialMob',
						'content': 'Метод специализированных торгов используется только при наличии единственного продавца размещаемого финансового инструмента. Эмитент (инициатор торгов) определяет только цену размещения и способы удовлетворения заявок, но не вправе ограничивать участие инвесторов каких-либо категорий. Специализированные торги могут проводиться единожды– аукцион по размещению финансового инструмента;или повторно – торги по доразмещению.'
					},
					{
						'title': 'Метод подписки',
						'href': 'mSubscribe',
						'hrefMob': 'mSubscribeMob',
						'content': 'Метод подписки используется только при наличии единственного продавца размещаемого финансового инструмента. Эмитент (инициатор торгов) определяет только цену размещения и способы удовлетворения заявок, но не вправе ограничивать участие инвесторов каких-либо категорий. Специализированные торги могут проводиться единожды– аукцион по размещению финансового инструмента;или повторно – торги по доразмещению.'
					},
					{
						'title': 'Метод прямых сделок',
						'href': 'mDeal',
						'hrefMob': 'mDealMob',
						'content': 'Метод прямых сделок используется только при наличии единственного продавца размещаемого финансового инструмента. Эмитент (инициатор торгов) определяет только цену размещения и способы удовлетворения заявок, но не вправе ограничивать участие инвесторов каких-либо категорий. Специализированные торги могут проводиться единожды– аукцион по размещению финансового инструмента;или повторно – торги по доразмещению.'
					}
				]

			include ../../modules/landings_modules/gradient-tabs/module				
	section.landing-section.landing-section--gray-bg
		.container
			-
				var twoBlocksTitle = {
					'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
					'titleBold': 'один из способов подачи встречных заявок:',
				}
				var twoBlocks = [
					{
						'text': 'Открытый способ, при котором продавец имеет доступ к сведениям о ценах и размерах встречных заявок, поданных участниками торгов, а каждый отдельный участник торгов имеет доступ к сведениям о ценах и размерах встречных заявок, поданных другими участниками торгов;'
					},
					{
						'text': 'Закрытый способ, при котором сведения о цене и размере встречной заявки доступны только подавшему ее участнику торгов;'
					}
				]

			include ../../modules/landings_modules/two-variants/module


			-
				var twoBlocksTitle = {
					'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
					'titleBold': 'один из следующих способов удовлетворения рыночных встречных заявок:',
				}
				var twoBlocks = [
					{
						'text': 'По цене отсечения.'
					},
					{
						'text': 'По средневзвешенной цене лимитированных встречных заявок, цены которых равны цене отсечения или являются более выгодными для продавца.'
					}
				]

			include ../../modules/landings_modules/two-variants/module

			

			