extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-darkgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	-
		var headText =[
			'Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Листинговым компаниям'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'О листинге'
				},
				{
					'title': 'Листинг на KASE'
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO',
					'active': true
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Что такое IPO
			.landing-section__text
				p.
					Классический IPO (англ. – Initial Public Offering) – первичное публичное размещение акций компании на фондовом рынке для продажи неограниченному кругу лиц. IPO – это естественный и важный этап развития практически любой компании, заинтересованной в диверсификации источников финансирования. Благодаря публичной продаже акций привлекаются дополнительные средства, а компания получает финансирование для дальнейшего роста.
	
	section.landing-section.landing-section--gray-bg
		.container
			h2 Зачем компании проводят IPO
			.landing-section__text
				p.
					Наиболее распространенной причиной заинтересованности компании в проведении IPO и в листинге акций на фондовой бирже является получение доступа к рынку капитала и привлечение финансовых средств для роста и развития.
			
			-
				var ipoList = [
					{
						'title': 'Инициирование процесса IPO',
						'labelColor': 'green',
						'labelText': '1-2 недели',
						'href': 'init',
						'active': true,
						'listContent': [
							{
								'title': 'Выбор и назначение финансового консультанта'
							},
							{
								'title': 'Определение и назначение юридических и прочих консультантов при содействии финансового консультанта'
							},
							{
								'title': 'Анализ сроков IPO',
								'subList': [
									'Предпочтения компании',
									'Рыночные "окна"/ Анализ конъюнктуры рынка'
								]
							},
							{
								'title': 'Утверждение типа и размера размещения',
								'subList': [
									'Публичное размещение на KASE',
									'Общий объем размещения, включая новые акции и повторное размещение уже существующих акций',
									'Опцион дополнительного размещения'
								]
							},
							{
								'title': 'Создание организационного и оперативного комитетов для управления процессом IPO'
							},
						]
					},
					{
						'title': 'Подготовка компании',
						'labelColor': 'orange',
						'labelText': '2-12 недель',
						'href': 'preparation',
						'listContent': [
							{
								'title': 'Составление бизнес плана'
							},
							{
								'title': 'Внедрение принципов корпоративного управления:',
								'subList': [
									'Финансовый контроль и отчетность',
									'Совет директоров',
									'Независимые директоры',
									'Дивидендная политика'
								]
							},
							{
								'title': 'Инструктирование юридическим консультантом членов Совета директоров компании относительно обязанностей, обязательств и ответственности директоров публичной компании'
							},
							{
								'title': 'Завершение процессов корпоративных изменений'
							},
						]
					},
					{
						'title': 'Комплексная экспертиза и документация',
						'labelColor': 'blue',
						'labelText': '12-20 недели',
						'href': 'expertise',
						'listContent': [
							{
								'title': 'Разработка инвестиционной стратегии компании совместно с финансовым консультантом'
							},
							{
								'title': 'Встреча с аналитиком финансового консультанта до составления аналитического  отчета'
							},
							{
								'title': 'Подготовка презентации компании потенциальным инвесторам'
							},
							{
								'title': 'Подготовка Инвестиционного Меморандума'
							},
							{
								'title': 'Разработка совместно с консультантом по связам с общественностью PR стратегии для инвесторов, широкой общественности и сотрудников компании (по необходимости)'
							},
							{
								'title': 'Заключение Договора андеррайтинга'
							}
						]
					},
					{
						'title': 'Маркетинг, распределение и размещение',
						'labelColor': 'yellow',
						'labelText': '20-24 недели',
						'href': 'marketing',
						'listContent': [
							{
								'title': 'Участие в выездных презентациях (road-show) для инвесторов'
							},
							{
								'title': 'Обсуждениях цены предложения и книги заявок'
							},
							{
								'title': 'Подписка на акции (Размещение акций) среди инвесторов'
							},
							{
								'title': 'Анализ результатов размещения'
							},
							{
								'title': 'Открытие вторичных торгов'
							},
							{
								'title': 'Поддержание связи с инвесторами'
							}
						]
					},
				]
			include ../../modules/landings_modules/ipo-block/module