extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "green" // green; red; blue; yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Листинговым компаниям"
	include ../../modules/landings_modules/landing-head/module
	.landing-grayblock.landing-login__parent
		.container
			h1.landing-title Вход в личный кабинет
			include ../../modules/landings_modules/landing-login/module
	
	.landing-block
		.container
			h1.landing-title.
				Система электронного документооборота is2in
			p.landing-text.
				Для предоставления информации, подлежащей раскрытию компаниями и членами KASE, разработана и внедрена специализированная система электронного документооборота is2in (issuers to investors).
			p.landing-text.
				Система  is2in  позволяет компаниям и членам KASE передавать KASE документы, содержащие раскрываемую информацию в электронном виде. Предоставленные документы размещаются на интернет-сайте KASE на странице компании или члена KASE в автоматическом режиме, что обеспечивает реализацию принципов прозрачности и открытости фондового рынка.

	.landing-block.landing-gradient
		.container
			h1.landing-title Руководство
			include ../../modules/landings_modules/landing-two-btn/module

	.landing-block
		.container
			h1.landing-title.
				система электронного документооборота is2in
			p.landing-description.
				Раскрытие информации инициаторами допуска осуществляется с использованием системы электронного документооборота is2in.
			img(src="images/landing-listing__scheme.png")

	.landing-block.landing-grayblock
		.container
			h1.landing-title.landing-title_long.
				Если компания или член kase не может предоставить KASE информацию
			p.landing-description.landing-description_long.
				Если компании или член KASE по каким-либо причинам не могут предоставить KASE информацию, подлежащую раскрытию в установленные сроки через систему is2in, компаниям или членам KASE следует:
			ul.landing-list
				li
					span.
						письменно уведомить KASE о невозможности передачи информации с указанием причин и принятых мер по их устранению
				li
					span.
						предоставить KASE данную информацию другими возможными способами (по электронной почте, на бумажных носителях)
