extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "green" // green; red; blue; yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'О листинге'
				},
				{
					'title': 'Листинг на KASE',
					'active': true
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module