extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-darkgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	-
		var headText =[
			'Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Листинговым компаниям'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module

		-
			var menuItems = [
				{
					'title': 'О листинге'
				},
				{
					'title': 'Листинг на KASE',
					'active': true
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Структура официального списка и листинговые требования

			-
				var roundList = [
					{
						'title': 'Акции',
						'categories': ['Первая категория', 'Вторая категория']
					},
					{
						'title': 'Долговые ценные бумаги',
						'categories': [
							'ДЦБ субъектов квазигосударственного сектора', 
							'Иные ДЦБ',
							'Буферная категория'
						]
					},
					{
						'title': 'Коммерческие облигации'
					},
					{
						'title': 'Ценные бумаги инвестиционных фондов'
					},
					{
						'title': 'Исламские ценные бумаги'
					},
					{
						'title': 'Производные ценные бумаги'
					},
					{
						'title': 'Государственные ценные бумаги'
					},
					{
						'title': 'Ценные бумаги международных финансовых организациях'
					}
				]

			include ../../modules/landings_modules/round-list/module
				


	section.landing-section.gr-yellow-green
		.container
			h2 Раскрытие информации при листинге

			.landing-section__text
				p.
					Для листинга ценных бумаг в соответствии со статьей 24 Листинговых правил необходимо подать заявление и приложить #[a(href="#") следующие документы]

			a.btn.btn-transparent.btn-transparent--white(href="#"): span Подать заявление

	section.landing-section
		.container
			h2 Процедура листинга

			.gradient-tabs
				ul.nav(role="tablist")
					li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
						a(href="#mSpecial", role="tab", data-toggle="tab"): span Общая процедура листинга

					li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
						a(href="#mSubscribe", role="tab", data-toggle="tab"): span Упрощенная процедура листинга

					li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
						a(href="#mDeal", role="tab", data-toggle="tab"): span Двойной листинг


			.tab-content.listing
				.gratient-tabs__accordion-body.tab-pane.fade.active.in(id="mSpecial", role="tabpanel")
					img(src="images/listing-process.jpg", alt="")


				.gratient-tabs__accordion-body.tab-pane.fade(id="mSubscribe", role="tabpanel")
					p Упрощенная процедура листинга применяется только для ценных бумаг, выпущенных на территории иностранного государства, эмитент которых не признается резидентом Республики Казахстан в соответствии с пунктом 3 статьи 22-1 закона Республики Казахстан "О рынке ценных бумаг".
					p Для применения упрощенной процедуры листинга необходимо, чтобы эмитент и его ценные бумаги соответствовали листинговым требованиям категории официального списка, по которой планируется включение ценных бумаг.
					h4 А так же следующим требованиям:
					.container.requirements-more
						.col-xs-12.col-md-6.col-lg-3
							p Ценные бумаги включены в официальный список London Stock Exchange Group (London Stock Exchange and Borsa Italiana SpA), либо иностранной фондовой биржи, являющейся полным членом Всемирной федерации бирж (World Federation of Exchanges);
						.col-xs-12.col-md-6.col-lg-3
							p Раскрытие информации об эмитенте и его ценных бумагах осуществляется на официальном сайте соответствующей иностранной фондовой биржи;
						.col-xs-12.col-md-6.col-lg-3
							p Аудит финансовой отчетности эмитента проводится аудиторской организацией, признаваемой иностранной фондовой биржей, в официальный список которой включены ценные бумаги;
						.col-xs-12.col-md-6.col-lg-3
							p В учредительных и эмиссионных документах эмитента отсутствуют нормы, ущемляющие или ограничивающие права собственников ценных бумаг на их отчуждение (передачу).
					.container.requirements-differences
						.col-xs-12
							h4 Основные отличия упрощенной процедуры листинга:
						.col-xs-12
							ul
								li Минимальные листинговые сборы;
								li Сокращенные сроки рассмотрения заявления;
								li Упрощенное раскрытие информации;
								li Отсутствие финансового консультанта.

					
				.gratient-tabs__accordion-body.tab-pane.fade(id="mDeal", role="tabpanel")
					p Двойной листинг – это последовательное прохождение процедуры листинга на более чем одной фондовой бирже с целью повышения ликвидности ценных бумаг эмитента.
					p Прежде чем, принимать решение о прохождении двойного листинга эмитенту необходимо изучить статью 22-1 закона Республики Казахстан "О рынке ценных бумаг" от 02 июля 2003 года.
					h4 Плюсы и минусы двойного листинга

					.container.listing-more
						.col-xs-12.col-sm-6.col-lg-3.col-lg-offset-3
							p Плюс: действующие налоговые льготы, рост ликвидности
						.col-xs-12.col-sm-6.col-lg-3
							p Минус: раскрытие информации на двух биржахкоторой включены ценные бумаги;

			.gradient-tabs.listing
				#gradientTabsAccordion.gratient-tabs__accordion
					.gratient-tabs__accordion-pane.panel.active
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green.active

							a.collapsed(data-target="#mSpecialMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Общая процедура листинга

						.gratient-tabs__accordion-body.collapse(id="mSpecialMob", role="tabpanel")
							img(src="images/listing-process.jpg", alt="")


					.gratient-tabs__accordion-pane.panel
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green
							a.collapsed(data-target="#mSubscribeMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Упрощенная процедура листинга
						.gratient-tabs__accordion-body.collapse(id="mSubscribeMob", role="tabpanel")
							p Упрощенная процедура листинга применяется только для ценных бумаг, выпущенных на территории иностранного государства, эмитент которых не признается резидентом Республики Казахстан в соответствии с пунктом 3 статьи 22-1 закона Республики Казахстан "О рынке ценных бумаг".
							p Для применения упрощенной процедуры листинга необходимо, чтобы эмитент и его ценные бумаги соответствовали листинговым требованиям категории официального списка, по которой планируется включение ценных бумаг.
							h4 А так же следующим требованиям:
							.container.requirements-more
								.col-xs-12.col-md-6.col-lg-3
									p Ценные бумаги включены в официальный список London Stock Exchange Group (London Stock Exchange and Borsa Italiana SpA), либо иностранной фондовой биржи, являющейся полным членом Всемирной федерации бирж (World Federation of Exchanges);
								.col-xs-12.col-md-6.col-lg-3
									p Раскрытие информации об эмитенте и его ценных бумагах осуществляется на официальном сайте соответствующей иностранной фондовой биржи;
								.col-xs-12.col-md-6.col-lg-3
									p Аудит финансовой отчетности эмитента проводится аудиторской организацией, признаваемой иностранной фондовой биржей, в официальный список которой включены ценные бумаги;
								.col-xs-12.col-md-6.col-lg-3
									p В учредительных и эмиссионных документах эмитента отсутствуют нормы, ущемляющие или ограничивающие права собственников ценных бумаг на их отчуждение (передачу).
							.container.requirements-differences
								.col-xs-12
									h4 Основные отличия упрощенной процедуры листинга:
								.col-xs-12
									ul
										li Минимальные листинговые сборы;
										li Сокращенные сроки рассмотрения заявления;
										li Упрощенное раскрытие информации;
										li Отсутствие финансового консультанта.


					.gratient-tabs__accordion-pane.panel
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green
							a.collapsed(data-target="#mDealMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Двойной листинг
						.gratient-tabs__accordion-body.collapse(id="mDealMob", role="tabpanel")
							p Двойной листинг – это последовательное прохождение процедуры листинга на более чем одной фондовой бирже с целью повышения ликвидности ценных бумаг эмитента.
							p Прежде чем, принимать решение о прохождении двойного листинга эмитенту необходимо изучить статью 22-1 закона Республики Казахстан "О рынке ценных бумаг" от 02 июля 2003 года.
							h4 Плюсы и минусы двойного листинга

							.container.listing-more
								.col-xs-12.col-sm-6.col-lg-3.col-lg-offset-3
									p Плюс: действующие налоговые льготы, рост ликвидности
								.col-xs-12.col-sm-6.col-lg-3
									p Минус: раскрытие информации на двух биржахкоторой включены ценные бумаги;

	section.landing-section.landing-section--with-slider
		.gr-darkgreen-green
		.container
			h2 Основные этапы подготовки
			.landing-section__description Узнайте как поэтапно пройти листинг и ничего не упустить

			.investors_max_width.landing-section
				.investors_landing.landing-white-block.slider_landing
					#whiteBlockSlider(class="white-block-slider")
						.white-block-slider

							div(class="landing-section__text")
								p Проверка на соответствие листинговым требованиям

							.landing-section__description Выберите интересующую Вас категорию для проверки соответствия листинговым требованиям
							-
								var listColumn = [
									{
										'icon': 'reason_ipo_1.svg',
										'title': 'Акции',
										'linkBlock': [ 'Первая категория', 'Вторая категория']
											
									},{
										'icon': 'reason_ipo_2.svg',
										'title': 'Долговые ценные бумаги',
										'linkBlock':  [ 'Первая категория', 'Вторая категория']
									},{
										'icon': 'reason_ipo_3.svg',
										'title': 'Ценные бумаги инвестиционных фондов',
										'linkBlock': [ 'Первая категория', 'Вторая категория']
									}
								]
								var textAlign="left" 
							include ../../modules/landings_modules/list-picture-slider/module


						.white-block-slider


							div(class="landing-section__text")
								p Выбор финансового консультанта 

							.landing-section__description Выберите #[span финансового консультанта]. Для нефинансовых организаций наличие финансового консультанта обязательно.

							.landing-section__description Финансовый консультант может дополнительно оказывать услуги #[span андеррайтера] и #[span маркет-мейкера].
						
							.landing-section__description_title Список членов KASE, которые могут оказывать услуги финансового консультанта

							.landing-section__login-btn
								a(href="#").btn.btn--gradient.btn--darkgreen-green: span Посмотреть список
								
							br
							br

							.landing-section__description(style="color: #b3b3b3;") Выберите #[span финансового консультанта]. Для нефинансовых организаций наличие финансового консультанта обязательно.


						.white-block-slider

							div(class="landing-section__text")
								p Выбор аудитора 

							.landing-section__description Для листинга ценных бумаг и в период их нахождения в официальном списке KASE компания обязана проходить ежегодный аудит в одной из аудиторских организаций, входящих в перечень признаваемых Биржей аудиторских организаций.
							
							br 

							.landing-section__description_title Перечень аудиторских организаций, признаваемых KASE

							.landing-section__login-btn
								a(href="#").btn.btn--gradient.btn--darkgreen-green: span Посмотреть список


						.white-block-slider

							div(class="landing-section__text")
								p Государственная регистрация выпуска ценных бумаг

							.landing-section__description Государственная регистрация выпуска негосударственных эмиссионных ценных бумаг осуществляется Национальным Банком Республики Казахстан на условиях и в порядке, установленных законом Республики Казахстан #[a(href="#") "О рынке ценных бумаг"] и #[a(href="#") нормативными правовыми актами уполномоченного органа.]

						.white-block-slider

							div(class="landing-section__text")
								p Заключение договора с Единым регистратором 
									
							.landing-section__description Если компания выпускает ценные бумаги впервые, то ему необходимо заключить договор с #[a(href="#") АО "Единый регистратор ценных бумаг"], который осуществляет ведение системы реестров держателей ценных бумаг эмитента.

							.landing-section__description Реестр держателей ценных бумаг представляет собой совокупность сведений о держателях ценных бумаг на определенную дату, позволяющих идентифицировать этих держателей, а также вид и количество принадлежащих им ценных бумаг.

						.white-block-slider

							div(class="landing-section__text")
								p.
									Из чего состоят расходы по выходу на организованный рынок

							.slider-diagram-green-main
								.round-list
									.round-list__item
										.round-list__title Акции
									.slider-plus-sign +
									.round-list__item
										.round-list__title Услуги аудитора
									.slider-plus-sign +
									div
										.round-list__item
											.round-list__title Услуги финансового консультанта
										.round-list__description А также при необходимости, представителя держателей облигаций, маркет-мейкера
									.slider-plus-sign +
									.round-list__item
										.round-list__title Листинговые сборы KASE



					.slider-bottom-links-listing-case
						.slider-bottom-links-listing-case__sublink
							a(href="#" ) Первая категория
						.slider-bottom-links-listing-case__sublink
							a(href="#" ) Вторая категория
					div(class="slider-go-back-button" id="SliderGoBackButton") Назад

	section.landing-section
		.container
			h2 Листинговые сборы
		-
			var listingArray = [
				{
					'title': 'Для резидентов РК',
					'block': [
						{
							'price': [' 100 ']

						}
						
					],
					'text': 'Разовый сбор, который взимается за выдачу предварительного заключения, необходимого для регистрации выпуска ценных бумаг в уполномоченном органе'
				},
				{
					'title': 'Сбор за рассмотрение',
					'block': [
						{
							'percent':'0,025 %',
							'price': [' 100 ', ' 1000 ']

						}
						
					],
					'text': 'Разовый сбор, который взимается за рассмотрение заявления о включении ценных бумаг в официальный список'
				},
				{
					'title': 'Вступительный сбор',
					'block': [
						{
							'percent':'0,025 %',
							'price': [' 100 ', ' 3000 ']

						}
						
					],
					'text': 'Разовый сбор, который взимается при включении ценных бумаг в официальный список'
				},
				{
					'title': 'Ежегодный сбор',
					'block': [
						{
							'percent':'0,025 %',
							'price': [' 100 ', ' 2000 ']

						}
						
					],
					'text': 'Сбор, который взимается за каждый год нахождения ценных бумаг в официальном списке'
				}

			]
		include ../../modules/landings_modules/listing-block/module

	section.landing-section.gr-yellow-green
		.container
			h2 Рассчитать листинговые сборы

			a.btn.btn-transparent.btn-transparent--white(href="#"): span Калькулятор
