extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-darkgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	-
		var headText =[
			'Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Листинговым компаниям'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'О листинге'
				},
				{
					'title': 'Листинг на KASE'
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты',
					'active': true
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section.landing-section--gray-bg
		.container
			h2 Контакты
			
			-
				var textArray = [
					{
						'text': 'По вопросам листинга обращайтесь в Департамент листинга:',
						'phone' : '+7 (727) 237 53 20',
						'fax' : '+7 (727) 237 53 20',
						'email' : 'world@kase.kz'
					},
					{
						'text': 'По вопросам информационной поддержки эмитентов, обращайтесь в Отдел по работе с эмитентами и инвесторами:',
						'phone' : '+7 (727) 237 53 26, +7 (727) 237 53 25 ',
						'fax' : '+7 (727) 237 53 09',
						'email' : 'monitoring@kase.kz'
					}
				]
			include ../../modules/landings_modules/contacts-block/module