extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-darkgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	-
		var headText =[
			'Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Листинговым компаниям'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'О листинге',
					'active': true
				},
				{
					'title': 'Листинг на KASE'
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Что такое листинг
			.landing-section__text
				p.
					Листинг – процедура включения ценных бумаг компании в официальный список KASE.
				p.
					Инициатором листинга может выступать компания или член KASE. Инициатор листинга является плательщиком листинговых сборов и исполняет обязательства по раскрытию информации о компании и ее ценных бумагах на стадии листинга и в течение всего периода нахождения ценных бумаг в официальном списке KASE.
				p.
					В случае успешного прохождения процедуры листинга, компания получает статус листинговой компании KASE.

	section.landing-section.landing-section--gray-bg
		.container
			h2 Преимущества листинга

			-
				var listSliderItems = [
					{
						'title': 'Новый уровень развития',
						'text': 'При правильном финансовом планировании компания получает возможность увеличения темпов роста, формируя при этом прозрачную кредитную историю.'
					},
					{
						'title': 'Диверсификация источников финансирования',
						'text': 'Увеличивая количество источников финансирования, компания может более эффективно регулировать свои денежные потоки.'
					},
					{
						'title': 'Беззалоговое финансирование',
						'text': 'Компания имеет возможность привлечь значительные объемы инвестирования без залога активов.'
					},
					{
						'title': 'Гибкость',
						'text': 'Компания сама определяет более удобные для нее способы привлечения финансирования: размещение акций или выпуск облигаций. При этом при выпуске облигаций все условия также определяются компанией (срок, ставка вознаграждения, схема погашения и так далее).'
					},
					{
						'title': 'Новый уровень развития',
						'text': 'При правильном финансовом планировании компания получает возможность увеличения темпов роста, формируя при этом прозрачную кредитную историю.'
					}
				]
				var navColor = 'green'
			include ../../modules/landings_modules/list-slider/module

	section.landing-section.gr-yellow-green
		.container
			h2 Список ценных бумаг, которые можно листинговать

			a.btn.btn-transparent.btn-transparent--white(href="#"): span Посмотреть список

	section.landing-section
		.container
			.landing-section__columns
				.landing-section__column
					img.listing-image(src="images/listing-image.svg", alt="")
					
				.landing-section__column
					h2 Почему лучше проходить листинг в Казахстане?

					ul.list-color.list-color--green
						li Казахстанские компании более понятны и информационно доступны отечественным инвесторам;
						li Значительно снижаются затраты на проведение road-show и деловые поездки за рубеж;
						li Возможно привлечь относительно небольшой объем денег, ради которого иностранному листинг-партнеру работать будет неинтересно;
						li На развитых фондовых рынках казахстанская компания всегда будет одной из многих, а на казахстанском фондовом рынке может стать ведущей;
						li KASE оказывает информационную поддержку компаниям, планирующим IPO на KASE.