extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-blue-purple" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow; gr-blue-purple
	-var rectStyle = "orange-purple" // yellow-green; yellow-red; blue-green; green-yellow; orange-purple
	-var rectTitle = "Частным инвесторам"
	-
		var headText =[
			' Основная цель управления личным благосостоянием каждого человека – сберечь и приумножить.',
			' Фондовый рынок располагает инструментами для успешного управления личными финансами. Узнайте подробнее, как эффективно использовать возможности фондового рынка для достижения финансового благополучия.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Институциональным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		-
			var menuItems = [
				{
					'title': 'Рынки KASE'
				},
				{
					'title': 'С чего начать?'
				},
				{
					'title': 'Торговый терминал',
					'active': true
				},
				{
					'title': 'Операции на фондовом рынке'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module





	section.landing-section.landing-section--gray-bg.investors.terminal.description
		.container
			h2 Биржевый программный продукт Strade
			p
				b Возможность торговли на фондовом рынке и рынке деривативов KASE через интернет для физических и юридических лиц реализована посредством биржевого программного продукта STrade. Кроме того, существуют иные системы, предоставляемых брокерами - членами Биржи.
			p STrade – торговый терминал с помощью которого клиенты брокера, являющегося членом KASE, могут передавать клиентские заказы на покупку или продажу обращающихся на KASE финансовых инструментов, используя интернет.
			p На KASE также существует возможность удаленного подключения к торговой системе с использованием технологии прямого доступа Direct Market Access (DMA). Технология DMA позволяет клиентам члена KASE передавать заказ в электронном виде напрямую в торговую систему KASE. К заказам DMA-клиентов применяются ускоренные процедуры регистрации, проверки, верификации, учета и исполнения клиентских заказов.
			p #[a(href="#") Список членов KASE]


	section.landing-section.gr-blue-purple.investors.investors-links.terminal
		.container
			h2 Полезные материалы
			-
				var usefulList = [
					'Скачать терминал торговой системы KASE',
					'Скачать учебный терминал торговой системы KASE',
					'Скачать терминал торговой системы KASE для мобильного трейдинга'
				]
			include ../../modules/landings_modules/useful-links/module
			
	section.landing-section
		.container
			h2 Заключение сделок
			.landing-section__text.landing-section__text--color500
			-
				var navColor= "purple"
				var listInfo = [
					{
						'title': ' <b>После заключения договора</b> на брокерское обслуживание и внесения денег на счет можно приступать к покупке/продаже ценных бумаг. Для этого необходимо подать заявку на биржу. Сделать это можно либо через интернет в торговом терминале, либо позвонив своему брокеру по телефону. В заявке обязательно указываются наименование операции (купля/продажа), наименование инструмента, цена и количество.'
					},
					{
						'title': ' <b>После подтверждения заявка</b> поступает на биржу и присоединяется к заявкам остальных участников рынка. Заявка исполняется (становится сделкой) только в том случае, если на биржу поступила заявка от контрагент - другого инвестора, пожелавшего совершить противоположную вам сделку по приемлемой цене. Узнать подробнее о порядке исполнения сделок на KASE можно в <a href="#">Правилах биржевой торговли ценными бумагами</a>.'
					},
					{
						'title': ' <b>Основным методом проведения торгов на KASE</b> является метод непрерывного встречного аукциона. Данный метод предполагает равноправную подачу участниками торгов заявок как на продажу, так и на покупку финансового инструмента и ранжирование этих заявок по их ценам и времени приема Биржей. Узнать подробнее о методах проведения торгов на KASE можно в <a href="#">Положении о методах проведения торгов</a>.'
					}
				]

			include ../../modules/landings_modules/vendors/module

	section.landing-section.landing-section--gray-bg.investors.terminal
		.container
			h2 Как работает инфраструктура рынка
			img(src="images/how-to-work-infostructure.png")
