extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	.landing-grayblock.landing-login__parent
		.container
			h1.landing-title Вход в личный кабинет
			include ../../modules/landings_modules/landing-login/module
	
	.landing-block
		.container
			h1.landing-title.
				Система электронного документооборота is2in
			p.
				Для предоставления информации, подлежащей раскрытию компаниями и членами KASE, разработана и внедрена специализированная система электронного документооборота is2in (issuers to investors).
			p.
				Система  is2in  позволяет компаниям и членам KASE передавать KASE документы, содержащие раскрываемую информацию в электронном виде. Предоставленные документы размещаются на интернет-сайте KASE на странице компании или члена KASE в автоматическом режиме, что обеспечивает реализацию принципов прозрачности и открытости фондового рынка.

	.landing-block.landing-gradient
		.container
			h1.landing-title Руководство
			include ../../modules/landings_modules/landing-two-btn/module

	.landing-block
		.container
			h1.landing-title.
				система электронного документооборота is2in