extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-red-orange"//gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "yellow-red" //yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Вендорам"
	-
		var headText =[
			'Для того, чтобы стать вендором Биржи необходимо подписать с Биржей Соглашение о распространении информации.'
		]

	-
		var headLinks = [ 
			{
				'position': 'right',
				'title': 'Подписчикам'
			}
			
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
	svg(id="gradientMask")
		defs
			pattern(id="nGradient", patternUnits="userSpaceOnUse", width="150", height="150")
				image(xlink:href="images/number-gradient-red-orange.png", width="150", height="150")
	
	section.landing-section
		.container
			h2 Информационные продукты
			.landing-section__text
				p.
					Биржа предлагает вендорам информацию в виде следующих стандартизированных информационных продуктов:
			-
				var informationProducts = [
					{
						'title': 'Торговая информация в режиме реального времени - предоставляется Биржей непрерывным потоком в течение каждого торгового дня. Допустимая техническая задержка между моментами генерации такой информации и отправки ее отправителям составляет не более 3 минут.'
					},
					{
						'title': 'Задержанная торговая информация - предоставляется Биржей непрерывным потоком в течение каждого торгового дня. Техническая задежка между моментами генерации информации и отправки ее потребителям составляет не менее 15 минут.'
					},
					{
						'title': 'Информация об итогах торгов - поставляется Биржей через определенные промежутки времени, устанавливаемые технической спецификацией данного информационного продукта.'
					},
					{
						'title': 'Архивная информация - предоставляется Биржей по запросу в виде файлов в формате, аналогичном формату файлов информации об итогах торгов, в виде реестра заявок и реестра сделок.'
					}
				]

			include ../../modules/landings_modules/vendors/module

	section.landing-section.gr-yellow-red
		.container
			h2 Свяжитесь с нами
			div Для более подробной информации свяжитесь с нами:
			div
				i.fa.fa-phone 
				|&nbsp; +7 (727) 237 53 20 
			div
				i.fa.fa-envelope &nbsp;&nbsp; 
				a(href="#") info@kase.kz
	section.landing-section
		.container
			h2 Тарифы для вендоров
			-
				var ratesColor = "orange"
				var ratesArray = [
					{
				 		'title': 'Торговая информация в режиме реального времени (все рынки)',
				 		'block': [
				 			{
				 				'subtitle': 'Иностранный вендор',
								'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['1500', 'USD'],
						 						'remark': 'За право распространения'
						 					},
						 					{
												'price': ['130', 'МРП'],
												'remark': 'За каждого конечного пользователя'
						 					}
					 					]
						 			}
								]
					 		},{
				 				'subtitle': 'Локальный вендор',
				 				'blockGroup': [
				 					{
						 				'priceBlock': [
						 					{
						 						'price': ['65', 'USD'],
						 						'remark': 'без дополнительной уплаты комиссионных сборов'
						 					},
						 					{
						 						'price': ['4', 'МРП'],
						 						'remark': 'с дополнительной уплатой комиссионных сборов'
						 					}
						 				]
					 				}
					 			]
				 			}
						]
					},
					{
				 		'title': 'Торговая информация в режиме реального времени (все рынки) через мобильные приложения',
				 		'block': [
				 			{

				 				'subtitle': 'Ежемесячный сбор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
												'price': ['60', 'МРП'],
						 					}
				 						]
						 			}
								]
				 			},
				 			{
				 				'subtitle': 'Сбор за каждого пользователя',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['4', 'МРП'],
						 					}
						 				]
						 			}
								]
				 			}
						]
					},
					{
				 		'title': 'Задержанная торговая информация (все рынки)',
				 		'block': [
				 			{
				 				'subtitle': 'Иностранный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
												'price': ['900', 'USD'],
						 					}
						 				]
						 			}
								]
				 				
				 			},
				 			{
				 				'subtitle': 'Локальный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['60', 'МРП'],
						 					}
						 				]
						 			}
								]
				 				
				 			}
						]
					},
					{
				 		'title': 'Информация об итогах торгов (все рынки)',
				 		'block': [
				 			{
				 				'subtitle': 'Иностранный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
												'price': ['400', 'USD'],
						 					}
						 				]
						 			}
								]
				 				
				 			},
				 			{
				 				'subtitle': 'Локальный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['20', 'МРП'],
						 					}
						 				]
						 			}
								]
				 				
				 			}
						]
					},
					{
				 		'title': 'Торговая информация в режиме реального времени (все рынки)',
				 		'block': [
				 			{
				 				'subtitle': 'Иностранный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['1500', 'USD'],
						 						'remark': 'Для внутреннего использования'
						 					},
						 					{
												'price': ['130', 'МРП'],
												'remark': 'Для распространения'
						 					}
						 				]
						 			}
								]
				 				
				 			},
				 			{
				 				'subtitle': 'Локальный вендор',
				 				'blockGroup': [
						 			{
						 				'priceBlock': [
						 					{
						 						'price': ['65', 'USD'],
						 						'remark': 'Для внутреннего использования'
						 					},
						 					{
						 						'price': ['4', 'МРП'],
						 						'remark': 'Для распространения'
						 					}
						 				]
						 			}
								]
				 				
				 			}
						]
					}
				]
			include ../../modules/landings_modules/rates-for-vendors/module
	section.landing-section.landing-section--gray-bg
		.container
			h2 Биржа поддерживает следующие способы поставки информации вендорам:
			-
				var pictureList = [
					{
						'icon': 'vendor-icon.svg',
						'list': [
							'FIX (Financial Information eXchange) протокол',
							'FTP (File Transfer Protocol)',
							'Веб-сервисы'
						]
					}
				]
				var listColor= "orange"
				var pictureSize= "small"
			include ../../modules/landings_modules/list-picture-block/module


	section.landing-section.gr-red-orange
		.container
			h2 Список вендоров
			.landing-section__login-btn
				a(href="#").btn.btn-transparent.btn-transparent--white: span Зарегистрироваться

	section.landing-section.landing-section--gray-bg
		.container
			h2 Материалы
			-
				var vendorsDownload = [
					{
						'text': 'Правила распространения биржевой информации',
						'size': '(20 KB)'
					},
					{
						'text': 'Положение об условиях коммерческого предоставления биржевой информации'
					}
					
					
				]
			
			include ../../modules/landings_modules/vendors-materials/module

			
				








