extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-blue-purple" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow; gr-blue-purple
	-var rectStyle = "orange-purple" // yellow-green; yellow-red; blue-green; green-yellow; orange-purple
	-var rectTitle = "Институ- циональным инвесторам"
	-
		var headText =[
			'Узнайте подробнее, как Вам эффективно использовать возможности фондового рынка для достижения финансовой стабильности и независимости вашего бизнеса.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Частным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module


	section.landing-section.inst-title
		.container
			h2 Современный мир бизнеса – это непрерывное движение
			p Информация разлетается в доли секунды, ситуации и события разворачиваются порой не так как прогнозировалось, от менеджмента требуется оперативно отвечать новым вызовам с учетом многих факторов. В таких условиях нужны надежные проверенные и при этом эффективные инструменты управления бизнесом.
		
		
	section.landing-section.inst-list-bar
		h2 инструменты фондового рынка РК
		-
			var listBarTop = [
				{
					'title': 'Управление финансовыми потоками',
					'text': 'Финансовое благополучие компании напрямую зависит от качества управления финансовыми потоками в компании.'
				},
				{
					'title': 'Управление ликвидностью',
					'text': 'Фондовый рынок предлагает альтернативные инструменты управления ликвидностью взамен привычных банковских кредитов и депозитов.'
				},
				{
					'title': 'Хеджирование валютных рисков',
					'text': 'В условиях быстроменяющейся мировой конъюнктуры в выигрыше будет тот, кто сумел вовремя просчитать и застраховать свои риски.'
				}
			]

			var navColor = "purple"
			var stylingBlock= "whiteBlock"

		include ../../modules/landings_modules/list-top-bar/module
		p.more Полный список инструментов KASE вы можете посмотреть #[a(href="#")здесь]

	section.landing-section.inst-dma
		.container
			h2 Прямой доступ к рынку с системой Direct Market Access (DMA)
			.col-xs-12.col-sm-6.col-md-4
				img(src="images/investors-derect-market-access-preview.png")
			.col-xs-12.col-sm-6.col-md-8
				p Система Direct Market Access (DMA) – комплекс программно-технических средств члена KASE, который взаимодействует с торговой системой KASE и предназначен для заключения сделок на основе клиентских заказов DMA-клиентов. 
				p Система DMA ориентирована на институциональных инвесторов и трейдров, реализующих алгоритмические и высокочастотные стратегии на фондовом рынке. DMA-клиенты брокера могут отправлять заявки 
				p DMA-клиенты брокера могут отправлять заявки напрямую в торговую систему KASE и получать рыночную информацию на максимально быстро, пользуясь наиболее совершенными технологическими решениями.
				p Клиентские заказы формируются DMA-клиентами самостоятельно (без прямого участия сотрудников членов KASE) с использованием систем DMA и передаются членам KASE через системы DMA в электронном виде. К заказам DMA-клиентов применяются ускоренные процедуры регистрации, проверки, верификации, учета и исполнения клиентских заказов.
				p
					a(href="#") Правила предоставления DMA
					br
					a(href="#") Требования к системам DMA
					br
					a(href="#") Члены KASE, оказывающие услуги DMA 
					br

	section.landing-section.inst-operations
		.container
			h2 Операции на фондовом рынке: налоговый аспект
			.list-picture-block
				ul
					li Доходы, полученные при осуществлении операций с ценными бумагами, включенными в официальный список KASE и на торговой площадке KASE, полностью освобождены от налогообложения!
					li В случаях, если негосударственные ценные бумаги не включены в официальный список KASE, все доходы по таким ценным бумагам подлежат налогообложению в установленном порядке.
					li В случаях, если негосударственные ценные бумаги включены в официальный список KASE, но сделки с такими ценными бумагами были осуществлены не на торговой площадке KASE, доход от прироста стоимости по таким ценным бумагам подлежит налогообложению в установленном порядке. Но процентные доходы по таким ценным бумагам освобождены от налогообложения.
					li Операции с государственными ценными бумагами полностью освобождены от налогообложения.

			p.more Более подробные разъяснения Вы можете получить, обратившись с запросом в государственные органы. Также Вы можете ознакомиться с соответствующими статьями Налогового кодекса Республики Казахстан #[a(href="#")здесь]

	section.landing-section.gr-blue-purple.inst-links
		.container
			h2 Полезные ссылки
			-
				var usefulList = [
					'Список инструментов KASE',
					'Правила осуществения операции репо',
					'Спецификация рынка автоматического репо',
					'Как стать членом биржи ',
					'Как получить статус клирингового участника '
				]
			include ../../modules/landings_modules/useful-links/module
			
	section.landing-section.inst-support
		h2 Возникли вопросы? #[br] обращайтесь

		p Отдел по работе с эмитентами и инвесторами
		p #[b тел:] +7 (727) 237-53-00 #[br] #[a(href="#") ] #[b e-mail:] customers@kase.kz