extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "darkgreen-green" // lightgreen-green; darkgreen-green; lightgreen-darkgreen; red-orange; orange-red; lightblue-blue; blue-lightblue; yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Будущим листинговым компаниям"
	-
		var headText =[
			'Узнайте больше о том, как разместить ценные бумаги на фондовой площадке Казахстана и какие возможности открываются перед компанией после прохождения листинга'
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'О листинге'
				},
				{
					'title': 'Листинг на KASE',
					'active': true
				},
				{
					'title': 'Размещение на KASE'
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module