extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-yellow" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "green-yellow" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Частным инвесторам"
	-
		var headText =[
			'Цели инвестирования в фондовую биржу могут быть различные на разных рынках и личных потребностях инвестора. Казахстанская фондовая биржа функционирует в виде электронной торговой системы, которая проводит торги ежедневно по рабочим дням в течении большей части дня образуя торговый день.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Институциональным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'Что такое Фондовый Рынок?'
				},
				{
					'title': 'Зачем инвестировать?'
				},
				{
					'title': 'С чего начать?'
				},
				{
					'title': 'Правила торгов'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 торговый день
			.landing-section__text
				p.
					Казахстанская фондовая биржа функционирует в виде электронной торговой системы, которая проводит торги ежедневно по рабочим дням в течении большей части дня образуя торговый день. Содержание и продолжительность торгового дня устанавливается #[a(href="#") регламентом торгового дня] по операциям купли-продажи иностранных валют и ценных бумаг.
				p.
					В основу механизма торговли в ходе Торговой сессии заложен принцип “Order driven market” – рынок конкурирующих между собой заявок, при котором сделка заключается автоматически при пересечении условий во встречных анонимных заявках.

	section.landing-section.landing-section--gray-bg
		.container
			h2 Биржа использует следующие методы проведения торгов:
			-
				var pictureList = [
					{
						'list': [
							'метод непрерывного встречного аукциона',
							'метод заключения прямых сделок',
							'метод фиксинга;',
							'метод франкфуртских торгов;',
							'метод специализированных торгов;',
							'метод английских торгов',
							'метод голландских торгов',
							'метод подписки'
						]
					}
				]
				var listColor="yellow"
				var pictureSize="large"
			include ../../modules/landings_modules/list-picture-block/module

			.additional-info-footer Методы непрерывного встречного аукциона и подписки используются только при проведении торгов в торговой системе


	section.landing-section
		.container
			h2 прямой доступ DMA
			.landing-section__text
				p.
					Кроме того на KASE существует возможность удаленно подключиться к торговой системе с использованием технологии прямого доступа DMA. Технология DMA позволяет клиентам члена Биржи передавать заказ в электронном виде напрямую в программно-технический комплекс Биржи, при этом проверка и подтверждение членом Биржи данного клиентского заказа осуществляется в автоматическом режиме.


	section.landing-section.gr-yellow
		.container
			h2 Схема DMA
			.landing-section__text
				p.
					Действующая технология прямого доступа DMA на KASE реализует схему DMA посредством и использования следующих каналов:
			-
				var listSliderItems = [
					{
						'title': 'Терминал STrade/MTrade',
						'text': 'Клиент Брокера, используя терминал STrade/ MTrade, разработанный eTrade.kz, может создавать и передавать транзитные клиентские заказы на брокерский терминал торговой системы Биржи'
					},
					{
						'title': 'Терминал KASEe',
						'text': 'Клиент Брокера, используя терминал торговой системы Биржи, разработанный Биржей, может создавать и передавать транзитные клиентские заказы на брокерский терминал торговой системы Биржи'
					},
					{
						'title': 'FIX-шлюз',
						'text': 'Клиент Брокера, используя продукт, разработанный Брокером или независимой софтверной компанией, может создавать и передавать клиентские заказы Брокеру, которые передаются в торговую систему Биржи, посредством системы управления заявками Брокера через FIX-шлюз Биржи.'
					}
				]

				var navColor = "yellow"
				var stylingBlock= "whiteBlock"

			include ../../modules/landings_modules/list-slider/module
