extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-blue-purple" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow; gr-blue-purple
	-var rectStyle = "orange-purple" // yellow-green; yellow-red; blue-green; green-yellow; orange-purple
	-var rectTitle = "Частным инвесторам"
	-
		var headText =[
			' Основная цель управления личным благосостоянием каждого человека – сберечь и приумножить.',
			' Фондовый рынок располагает инструментами для успешного управления личными финансами. Узнайте подробнее, как эффективно использовать возможности фондового рынка для достижения финансового благополучия.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Институциональным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		
		-
			var menuItems = [
				{
					'title': 'Рынки KASE'
				},
				{
					'title': 'С чего начать?',
					'active': true
				},
				{
					'title': 'Торговый терминал'
				},
				{
					'title': 'Операции на фондовом рынке'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section.start.description
		.container
			h2 Перед тем как начинать
			p
				b Перед тем как приступить к активным действиям, пожалуйста, определите себя три существованных фактора:
			ul
				li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, et!
				li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, consectetur.
				li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, eius.

	section.landing-section.start.tabs
		.container
			h2 Четыре простых шага, чтобы стать инвестором
			.investors_max_width
				.investors_landing.landing-white-block
					#whiteBlockSlider(class="white-block-slider")
						.white-block-slider
							div(class="landing-section__text")
								p.
									Выбор брокера
							-
								var pictureList = [
									{
										'list': [
											' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia porro maiores, non maxime! Hic illo dolorem excepturi. Voluptates, porro, voluptatem!',
											' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum accusamus minima, accusantium alias ea veniam veritatis provident perspiciatis error est.',
											' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aliquam et excepturi id cum, sunt quae quam, hic mollitia! Nihil.',
											' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laudantium tenetur, neque inventore excepturi, ipsam magni delectus accusamus corporis ex!'
										]
									}
								]
								var listColor="purple"
								//var pictureSize="large"
								var textAlign="left"
							include ../../modules/landings_modules/list-picture-block/module
						.white-block-slider
							div(class="landing-section__text")
								p Заголовок
							p Что то еще
						.white-block-slider
							div(class="landing-section__text")
								p Заголовок
							p Что то еще
						.white-block-slider
							div(class="landing-section__text")
								p Заголовок
							p И еще что то






