extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "green" // green; red; blue; yellow;
	-var rectStyle = "yellow-green" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Листинговым компаниям"
	include ../../modules/landings_modules/landing-head/module

	-
		var menuItems = [
			"О листинге",
			"Листинг на KASE",
			"Размещение на KASE",
			"IPO",
			"Информационная поддержка",
			"Контакты"
		]
	include ../../modules/landings_modules/landing-menu/module