extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-blue-purple" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow; gr-blue-purple
	-var rectStyle = "orange-purple" // yellow-green; yellow-red; blue-green; green-yellow; orange-purple
	-var rectTitle = "Частным инвесторам"
	-
		var headText =[
			' Основная цель управления личным благосостоянием каждого человека – сберечь и приумножить.',
			' Фондовый рынок располагает инструментами для успешного управления личными финансами. Узнайте подробнее, как эффективно использовать возможности фондового рынка для достижения финансового благополучия.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Институциональным инвесторам'
			},
			{
				'position': 'right',
				'title': 'Иностранным инвесторам'
			}
		]
	.relative
		include ../../modules/landings_modules/landing-head/module
		-
			var menuItems = [
				{
					'title': 'Рынки KASE'
				},
				{
					'title': 'С чего начать?'
				},
				{
					'title': 'Торговый терминал'
				},
				{
					'title': 'Операции на фондовом рынке',
					'active': true
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module


	section.landing-section.investors-operations
		.container
			h2 Операции на фондовом рынке: налоговый аспект
			.list-picture-block
				ul
					li Доходы, полученные при осуществлении операций с ценными бумагами, включенными в #[a(href="#")официальный список KASE] и на #[a(href="#")торговой площадке KASE], полностью освобождены от налогообложения!
					li В случаях, если негосударственные ценные бумаги не включены в официальный список KASE, все доходы по таким ценным бумагам подлежат налогообложению в установленном порядке.
					li В случаях, если #[a(href="#")негосударственные ценные бумаги] включены в #[a(href="#")официальный список KASE], но сделки с такими ценными бумагами были осуществлены не на #[a(href="#")торговой площадке KASE], доход от прироста стоимости по таким ценным бумагам подлежит налогообложению в установленном порядке. Но процентные доходы по таким ценным бумагам освобождены от налогообложения.
					li Операции с государственными ценными бумагами полностью освобождены от налогообложения. Более подробные разъяснения Вы можете получить обратившись с запросом в государственные органы. С соответствующими статьями Налогового кодекса Республики Казахстан #[a(href="#") здесь].



	section.landing-section.landing-section--with-image.investors.operations.risk
		.gr-blue-purple
		.container
			h2 Управление рисками
			p Основа успеха при инвестировании зависит от того насколько продумана система управления рисками.
			//p Доходность - это отношение дохода, полученного от инвестиций за весь период, к объему инвестиций в начале периода. Доходность обычно измеряется в процентах за период, в частности в процентах годовых. 
			p Эффективно управлять своим капиталом, соизмеряя доходность и риск возможно с помощью диверсификации инвестиционного портфеля, в котором сбалансированно будут находиться рисковые активы (акции) и безрисковые активы (ГЦБ). 

			.landing-section__image
				.tabs
					.gradient-tabs
						span.addition В зависимости от ваших целей на фондовом рынке, а также времени, которое вы будете уделять анализу рынка, необходимо выбрать наиболее подходящий для вас способ инвестирования.
						ul.nav(role="tablist")
							li.gradient-tabs__tab.gradient-tabs__tab--purple.active(role="presentation")
								a(href="#passive", role="tab", data-toggle="tab"): span Пассивное инвестирование

							li.gradient-tabs__tab.gradient-tabs__tab--purple(role="presentation")
								a(href="#active", role="tab", data-toggle="tab"): span Активное инвестирование

					.tab-content
						.gratient-tabs__accordion-body.tab-pane.fade.active.in(id="passive", role="tabpanel")
							.landing-section__text
								h3 Пассивный способ инвестирования
								p это выстраивание оптимального инвестиционного портфеля в соответствии с теорией портфеля и индивидуальной склонности инвестора к риску. Пассивное инвестирование позволяет получать инвестиционный доход, однако полностью несет в себе все риски, связанные с перспективами роста рынка.
								p Поэтому при малых сроках инвестирования (1-3 года) пассивное инвестирование может дать убытки в случае негативной ситуации на рынке. В перспективе от 3-5 лет риски пассивного инвестирования снижаются, т.к. фактор долгосрочной инвестиционной доходности рынка перевешивает краткосрочные временные риски. 

						.gratient-tabs__accordion-body.tab-pane.fade(id="active", role="tabpanel")
							.landing-section__text
								h3 Активный способ инвестирования
								p состоит в том, что инвестор пытается за счет лучшего понимания ситуации на рынке тем или иным способом получить больший доход на капитал, то есть стремится за счет собственных знаний, умений, информации, прочего «обыграть» рынок.
								p Совет! Установите для себя максимальный размер убытков. Например, 5% от суммы инвестиций. Ни при каких обстоятельствах не превышайте этот рубеж. То есть, уже при покупке высчитывайте цену, при которой Вы закроете свою позицию в случае убытков. Умение фиксировать убытки — необходимое качество для успешной деятельности на бирже.



					.gradient-tabs
							#gradientTabsAccordion.gratient-tabs__accordion
								.gratient-tabs__accordion-pane.panel.active
									.container
										.gratient-tabs__accordion-link.gratient-tabs__accordion-link--purple.active
											a.collapsed(data-target="#m-passive", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span На фондовом рынке
									.gratient-tabs__accordion-body.collapse(id="m-passive", role="tabpanel")
										.container
											.landing-section__text
												h3 Пассивный способ инвестирования
												p это выстраивание оптимального инвестиционного портфеля в соответствии с теорией портфеля и индивидуальной склонности инвестора к риску. Пассивное инвестирование позволяет получать инвестиционный доход, однако полностью несет в себе все риски, связанные с перспективами роста рынка.
												p Поэтому при малых сроках инвестирования (1-3 года) пассивное инвестирование может дать убытки в случае негативной ситуации на рынке. В перспективе от 3-5 лет риски пассивного инвестирования снижаются, т.к. фактор долгосрочной инвестиционной доходности рынка перевешивает краткосрочные временные риски. 

								.gratient-tabs__accordion-pane.panel
									.container
										.gratient-tabs__accordion-link.gratient-tabs__accordion-link--purple
											a.collapsed(data-target="#m-active", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span На иностранном рынке
									.gratient-tabs__accordion-body.collapse(id="m-active", role="tabpanel")
										.container
											.landing-section__text
												h3 Активный способ инвестирования
												p состоит в том, что инвестор пытается за счет лучшего понимания ситуации на рынке тем или иным способом получить больший доход на капитал, то есть стремится за счет собственных знаний, умений, информации, прочего «обыграть» рынок.
												p Совет! Установите для себя максимальный размер убытков. Например, 5% от суммы инвестиций. Ни при каких обстоятельствах не превышайте этот рубеж. То есть, уже при покупке высчитывайте цену, при которой Вы закроете свою позицию в случае убытков. Умение фиксировать убытки — необходимое качество для успешной деятельности на бирже.

