extends ../../templates/base

block variables
	- bodyClass = "body__landing"

block content
	-var headStyle = "gr-lightgreen-green" // gr-lightgreen-green; gr-darkgreen-green; gr-lightgreen-darkgreen; gr-red-orange; gr-orange-red; gr-lightblue-blue; gr-blue-lightblue; gr-yellow;
	-var rectStyle = "green-yellow" // yellow-green; yellow-red; blue-green; green-yellow;
	-var rectTitle = "Листинговым компаниям"
	-
		var headText =[
			'Статус листинговой компании – новый важный этап в жизни вашей компании.',
			'Ознакомьтесь подробнее с доступными возможностями привлечения капитала и с требованиями по раскрытию информации.'
		]

	-
		var headLinks = [
			{
				'position': 'left',
				'title': 'Нелистинговые ценные бумаги'
			},
			{
				'position': 'right',
				'title': 'Будущим листинговым компаниям'
			}
		]
		
	.relative
		include ../../modules/landings_modules/landing-head/module

		-
			var menuItems = [
				{
					'title': 'Раскрытие информации'
				},
				{
					'title': 'Кабинет эмитента'
				},
				{
					'title': 'Размещение на KASE',
					'active': true
				},
				{
					'title': 'IPO'
				},
				{
					'title': 'Информационная поддержка'
				},
				{
					'title': 'Институт маркет-мейкеров'
				},
				{
					'title': 'Контакты'
				}
			]
		include ../../modules/landings_modules/landing-menu/module

	section.landing-section
		.container
			h2 Способы размещений
			.landing-section__description
				p.
					При размещений ценных бумаг на Бирже компания может использовать:			

			.gradient-tabs
				ul.nav(role="tablist")
					li.gradient-tabs__tab.gradient-tabs__tab--green.active(role="presentation")
						a(href="#mSpecial", role="tab", data-toggle="tab"): span Метод специализированных торгов

					li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
						a(href="#mSubscribe", role="tab", data-toggle="tab"): span Метод подписки

					li.gradient-tabs__tab.gradient-tabs__tab--green(role="presentation")
						a(href="#mDeal", role="tab", data-toggle="tab"): span Метод прямых сделок


		.tab-content.placing
			.gratient-tabs__accordion-body.tab-pane.fade.active.in(id="mSpecial", role="tabpanel")
				.container
					.landing-section__text
						p.
							Метод специализированных торгов используется только при наличии единственного продавца размещаемого финансового инструмента. Эмитент (инициатор торгов) определяет только цену размещения и способы удовлетворения заявок, но не вправе ограничивать участие инвесторов каких-либо категорий. Специализированные торги могут проводиться единожды– аукцион по размещению финансового инструмента; или повторно – торги по доразмещению.

				section.landing-section.landing-section--gray-bg

					svg.double-down(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27.6 24.8", style="enable-background:new 0 0 27.6 24.8;", xml:space="preserve")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,10l13.8,13.8l-1.1,1.1L0,11.1L1.1,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,10l1.1,1.1L13.8,24.8l-1.1-1.1L26.5,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,0l13.8,13.8l-1.1,1.1L0,1.1L1.1,0z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,0l1.1,1.1L13.8,14.8l-1.1-1.1L26.5,0z")

					.container
						-
							var twoBlocksTitle = {
								'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
								'titleBold': 'один из способов подачи встречных заявок:',
							}
							var twoBlocks = [
								{
									'text': 'Открытый способ, при котором продавец имеет доступ к сведениям о ценах и размерах встречных заявок, поданных участниками торгов, а каждый отдельный участник торгов имеет доступ к сведениям о ценах и размерах встречных заявок, поданных другими участниками торгов;'
								},
								{
									'text': 'Закрытый способ, при котором сведения о цене и размере встречной заявки доступны только подавшему ее участнику торгов;'
								}
							]

						include ../../modules/landings_modules/two-variants/module


						-
							var twoBlocksTitle = {
								'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
								'titleBold': 'один из следующих способов удовлетворения рыночных встречных заявок:',
							}
							var twoBlocks = [
								{
									'text': 'По цене отсечения.'
								},
								{
									'text': 'По средневзвешенной цене лимитированных встречных заявок, цены которых равны цене отсечения или являются более выгодными для продавца.'
								}
							]

						include ../../modules/landings_modules/two-variants/module

			.gratient-tabs__accordion-body.tab-pane.fade(id="mSubscribe", role="tabpanel")
				.container
					.landing-section__text
						p.
							Метод подписки используется при размещении ценных бумаг и проводится на KASE только при наличии единственного продавца и только при размещении ценных бумаг, которые включены в официальный список Биржи или по которым получено согласие Биржи на их включение в ее официальный список.

				.landing-section.landing-section--gray-bg
					svg.double-down(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27.6 24.8", style="enable-background:new 0 0 27.6 24.8;", xml:space="preserve")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,10l13.8,13.8l-1.1,1.1L0,11.1L1.1,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,10l1.1,1.1L13.8,24.8l-1.1-1.1L26.5,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,0l13.8,13.8l-1.1,1.1L0,1.1L1.1,0z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,0l1.1,1.1L13.8,14.8l-1.1-1.1L26.5,0z")
					.container.placing-adventages
						table
							tr
								td
									p Подписка в отличие от аукциона основана на построении книги заявок с указанием имен/наименований покупателей
								td
									p По времени проведения подписка, как правило, занимает несколько дней.
								td
									p Продавец (инициатор торгов) сам определяет условия размещения: параметры, цена размещения, категория инвесторов, которые могут участвовать в подписке.
			.gratient-tabs__accordion-body.tab-pane.fade(id="mDeal", role="tabpanel")
				.container
					.landing-section__text
						p.
							Метод прямых сделок предполагает, что каждая отдельная сделка заключается в результате проведения переговоров между двумя участниками торгов и достижения ими согласия о заключении между ними данной сделки. Подача участником торгов индикативной котировки не накладывает на него обязательства заключить сделку на основе данной индикативной котировки. При размещении ценных бумаг методом прямых сделок (договорных сделок) отсутствуют налоговые льготы по приросту ценных бумаг, реализованных посредством прямой сделки.
				section.landing-section.landing-section--gray-bg
					svg.double-down(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27.6 24.8", style="enable-background:new 0 0 27.6 24.8;", xml:space="preserve")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,10l13.8,13.8l-1.1,1.1L0,11.1L1.1,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,10l1.1,1.1L13.8,24.8l-1.1-1.1L26.5,10z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,0l13.8,13.8l-1.1,1.1L0,1.1L1.1,0z")
						path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,0l1.1,1.1L13.8,14.8l-1.1-1.1L26.5,0z")
					.container
						-
							var twoBlocksTitle = {
								'title': 'При проведении торгов методом заключения прямых сделок',
								'titleBold': 'сделка может быть заключена:',
							}
							var twoBlocks = [
								{
									'text': 'Путем подачи индикативной котировки каким-либо участником торгов с последующим проведением им переговоров с другими участниками торгов, откликнувшимися на данную индикативную котировку;'
								},
								{
									'text': 'Непосредственно на основании предварительных переговоров участников торгов.'
								}
							]

						include ../../modules/landings_modules/two-variants/module
						.container.col-xs-12.nalog
							p Подача участником торгов индикативной котировки не накладывает на него обязательства заключить сделку на основе данной индикативной котировки.

							p При размещении ценных бумаг методом прямых сделок (договорных сделок) отсутствуют налоговые льготы по приросту ценных бумаг, реализованных посредством прямой сделки.


		.gradient-tabs.placing
			#gradientTabsAccordion.gratient-tabs__accordion
				.gratient-tabs__accordion-pane.panel.active
					.container
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green.active
							a.collapsed(data-target="#mSpecialMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Метод специализированных торгов
					.gratient-tabs__accordion-body.collapse(id="mSpecialMob", role="tabpanel")
						.container
							.landing-section__text
								p.
									Метод специализированных торгов используется только при наличии единственного продавца размещаемого финансового инструмента. Эмитент (инициатор торгов) определяет только цену размещения и способы удовлетворения заявок, но не вправе ограничивать участие инвесторов каких-либо категорий. Специализированные торги могут проводиться единожды– аукцион по размещению финансового инструмента; или повторно – торги по доразмещению.
						section.landing-section.landing-section--gray-bg
							.container
								-
									var twoBlocksTitle = {
										'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
										'titleBold': 'один из способов подачи встречных заявок:',
									}
									var twoBlocks = [
										{
											'text': 'Открытый способ, при котором продавец имеет доступ к сведениям о ценах и размерах встречных заявок, поданных участниками торгов, а каждый отдельный участник торгов имеет доступ к сведениям о ценах и размерах встречных заявок, поданных другими участниками торгов;'
										},
										{
											'text': 'Закрытый способ, при котором сведения о цене и размере встречной заявки доступны только подавшему ее участнику торгов;'
										}
									]

								include ../../modules/landings_modules/two-variants/module


								-
									var twoBlocksTitle = {
										'title': 'При проведении аукциона инициатор торгов (продавец) вправе выбрать',
										'titleBold': 'один из следующих способов удовлетворения рыночных встречных заявок:',
									}
									var twoBlocks = [
										{
											'text': 'По цене отсечения.'
										},
										{
											'text': 'По средневзвешенной цене лимитированных встречных заявок, цены которых равны цене отсечения или являются более выгодными для продавца.'
										}
									]

								include ../../modules/landings_modules/two-variants/module


				.gratient-tabs__accordion-pane.panel
					.container
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green
							a.collapsed(data-target="#mSubscribeMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Метод подписки
					.gratient-tabs__accordion-body.collapse(id="mSubscribeMob", role="tabpanel")
						.container
							.landing-section__text
								p.
									Метод подписки используется при размещении ценных бумаг и проводится на KASE только при наличии единственного продавца и только при размещении ценных бумаг, которые включены в официальный список Биржи или по которым получено согласие Биржи на их включение в ее официальный список.

						.landing-section.landing-section--gray-bg
							svg.double-down(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27.6 24.8", style="enable-background:new 0 0 27.6 24.8;", xml:space="preserve")
								path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,10l13.8,13.8l-1.1,1.1L0,11.1L1.1,10z")
								path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,10l1.1,1.1L13.8,24.8l-1.1-1.1L26.5,10z")
								path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M1.1,0l13.8,13.8l-1.1,1.1L0,1.1L1.1,0z")
								path(fill="#5bac3c", fill-rule:evenodd, clip-rule:evenodd, d="M26.5,0l1.1,1.1L13.8,14.8l-1.1-1.1L26.5,0z")
							.container.placing-adventages
								table
									tr
										td
											p Подписка в отличие от аукциона основана на построении книги заявок с указанием имен/наименований покупателей
										td
											p По времени проведения подписка, как правило, занимает несколько дней.
										td
											p Продавец (инициатор торгов) сам определяет условия размещения: параметры, цена размещения, категория инвесторов, которые могут участвовать в подписке.
				.gratient-tabs__accordion-pane.panel
					.container
						.gratient-tabs__accordion-link.gratient-tabs__accordion-link--green
							a.collapsed(data-target="#mDealMob", role="button", data-toggle="collapse", data-parent="#gradientTabsAccordion"): span Метод прямых сделок
					.gratient-tabs__accordion-body.collapse(id="mDealMob", role="tabpanel")
						.container
							.landing-section__text
								p.
									Метод прямых сделок предполагает, что каждая отдельная сделка заключается в результате проведения переговоров между двумя участниками торгов и достижения ими согласия о заключении между ними данной сделки. Подача участником торгов индикативной котировки не накладывает на него обязательства заключить сделку на основе данной индикативной котировки. При размещении ценных бумаг методом прямых сделок (договорных сделок) отсутствуют налоговые льготы по приросту ценных бумаг, реализованных посредством прямой сделки.
						section.landing-section.landing-section--gray-bg
							.container
								-
									var twoBlocksTitle = {
										'title': 'При проведении торгов методом заключения прямых сделок',
										'titleBold': 'сделка может быть заключена:',
									}
									var twoBlocks = [
										{
											'text': 'Путем подачи индикативной котировки каким-либо участником торгов с последующим проведением им переговоров с другими участниками торгов, откликнувшимися на данную индикативную котировку;'
										},
										{
											'text': 'Непосредственно на основании предварительных переговоров участников торгов.'
										}
									]

								include ../../modules/landings_modules/two-variants/module
								.container.col-xs-12.nalog
									p Подача участником торгов индикативной котировки не накладывает на него обязательства заключить сделку на основе данной индикативной котировки.

									p При размещении ценных бумаг методом прямых сделок (договорных сделок) отсутствуют налоговые льготы по приросту ценных бумаг, реализованных посредством прямой сделки.