extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Индикаторы"
				var marketsList = [
					{
						'title': 'Фондовый рынок'
					},
					{
						'title': 'Денежный рынок'
					},
					{
						'title': 'Совместные индексы',
						'active': true
					}
				]
			include ../../modules/markets-menu/module

			#regulations.regulations
				div.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button")
						i.fa.fa-ellipsis-v
							span.line1
							span.line2

					.dropdown-menu

						.regulations__download
							h5 Архив
							form
								.regulations__download-input.regulations__download-input--mobile
									i.fa.fa-calendar
									input(type="date")
									.regulation__download-link
										a(href="#")
											i.fa.fa-download
								.regulations__download-input
									i.fa.fa-calendar
									input.datepicker(type="text", data-date-format="dd/mm/yyyy")
								.regulations__archive-links
									.link
										a(href="#")
											i.fa.fa-eye
											|Посмотреть
									.link
										a(href="#")
											i.fa.fa-download
											|Скачать
						.regulations__links-list
							h5 Полезные ссылки
							ul.blue-list
								li: a(href="#") График выпуска ГЦБ на 2016 год
								li: a(href="#") Просмотр торгов
								li: a(href="#") Список брокеров
								li: a(href="#") Правила
								li: a(href="#") Календарь праздников

						h5 Дополнительные материалы
						-var referenceInfo = ["Уровень инфляции в годовом выражении - 16,965 % (с 01.07.15 до 01.07.16);", "Суверенные долгосрочные рейтинги Казахстана"]
						include ../../modules/reference-info/module
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Рынки и торги',
					'Индикаторы',
					'Совместные индексы'
				]

			include ../../modules/breadcrumbs/module

			h1 Совместные индексы
			p
				a.
					Индекс S&P/OIC COMCEC 50 Shariah.
			p.
				Индекс S&P/OIC COMCEC 50 Shariah был разработан при партнерстве Организации исламского сотрудничества и компании S&P Indices.
			p.
				В корзину индекса вошли акции 50-ти крупнейших компаний, соответствующих законом Шариата и ценные бумаги которых торгуются на биржах государств - членов Организации исламского сотрудничества, таких как Бахрейн, Бангладеш, Кот-д'Ивуар, Египет, Индонезия, Иордания, Казахстан, Кувейт, Ливан, Малайзия, Марокко, Нигерия, Оман, Пакистан, Катар, Саудовская Аравия, Тунис, Турция и Объедененные Арабские Эмираты.
			p.
				Республика Казахстан в данном индексе представлена простыми акциями АО "КазТрансОйл" (KZTO).
			p.
				В соответствии с методикой расчета удельные веса акций представительского списка индекса S&P/OIC COMCEC 50 Shariah пересматриваются раз в квартал
			
block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
		    $('#datePicker input').daterangepicker({
		        "singleDatePicker": true,
		        "showDropdowns": true,
		        "locale": {
		            "direction": "ltr",
		            "format": "DD/MM/YYYY",
		            /*"separator": " - ",
		            "applyLabel": "Apply",
		            "cancelLabel": "Cancel",*/
		            "daysOfWeek": [
		                "Вс",
		                "Пн",
		                "Вт",
		                "Ср",
		                "Чт",
		                "Пт",
		                "Сб"
		            ],
		            "monthNames": [
		                "Январь",
		                "Февраль",
		                "Март",
		                "Апрель",
		                "Май",
		                "Июнь",
		                "Июль",
		                "Август",
		                "Сентябрь",
		                "Октябрь",
		                "Ноябрь",
		                "Декабрь"
		            ],
		            "firstDay": 1
		        },
		        "minDate": "20/06/2015",
		        "maxDate": new Date(),
		        "parentEl": "#datePicker"
		    }, function(start, end, label) {
		    }).focus().focusout();


			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			var sideDropdown = $('#regulations .dropdown-menu'),
				centerColumn = $('#centerColumn');
			$(window).on('resize', function() {
				var sideHeight = sideDropdown.height();
				centerColumn.height(sideHeight + 100);
			});
		});
