extends ../../templates/base

block content
	.markets-top
		.container
			-
				var marketsListTitle = "Индикаторы"
				var marketsList = [
					{
						'title': 'Фондовый рынок'
					},
					{
						'title': 'Денежный рынок',
						'active': true
					},
					{
						'title': 'Совместные индексы'
					}
				]
			include ../../modules/markets-menu/module

			#regulations.regulations
				div.dropdown
					a.dropdown-link(href="#", data-toggle="dropdown", role="button")
						i.fa.fa-ellipsis-v
							span.line1
							span.line2

					.dropdown-menu

						.regulations__download
							h5 Архив
							form
								.regulations__download-input.regulations__download-input--mobile
									i.fa.fa-calendar
									input(type="date")
									.regulation__download-link
										a(href="#")
											i.fa.fa-download
								.regulations__download-input
									i.fa.fa-calendar
									input.datepicker(type="text", data-date-format="dd/mm/yyyy")
								.regulations__archive-links
									.link
										a(href="#")
											i.fa.fa-eye
											|Посмотреть
									.link
										a(href="#")
											i.fa.fa-download
											|Скачать
						.regulations__links-list
							h5 Полезные ссылки
							ul.blue-list
								li: a(href="#") График выпуска ГЦБ на 2016 год
								li: a(href="#") Просмотр торгов
								li: a(href="#") Список брокеров
								li: a(href="#") Правила
								li: a(href="#") Календарь праздников

						h5 Дополнительные материалы
						-var referenceInfo = ["Уровень инфляции в годовом выражении - 16,965 % (с 01.07.15 до 01.07.16);", "Суверенные долгосрочные рейтинги Казахстана"]
						include ../../modules/reference-info/module
	.container
		#centerColumn.center-column

			-
				var breadcrumbs = [
					'Главная',
					'Рынки и торги',
					'Индикаторы',
					'Фондовый рынок',
					'Индекс KASE'
				]

			include ../../modules/breadcrumbs/module

			.h1-block
				a.arrow-back(href="#")
					i.fa.fa-angle-left
				.flex
					h1 MM Index
					div
						.h1-block__indicator 12,34% годовых
						.h1-block__indicator.up 0.14

			p.markets__text.
				Money Market Index - композитный индикатор денежного рынка, который представляет собой средневзвешенное через объем сделок значение среднвзвешенных процентных ставок (доходности) по операциям валютного свопа USD/KZT и операциями автоматического репо с государственными ценными бумагами Республики Казахстан, открытыми на один рабочий день. Индикатор рассчитывается по всем сделкам открытия свопа и репо, заключенным в торговой системе KASE в течение дня.
			p.markets__text.
				#[b Единица измерения:] % годовых
			p.markets__text.
				#[b Время обновления индикатора:] ежедневно по рабочим дням после окончания торгов с 17:00 до 20:00
			p.markets__text.
				#[b Изменение индикатора:] рассчитывается при публикации индикатора относительно значения предыдущего торгового дня

			br
			br
			
			.kase-date Данные на: 7 декабря 2016 г. 

			.accordion
				.accordion__head
					a.accordion__head-link(href="#") Последние значения
						i.fa.fa-angle-down
				.accordion__body
					.row
						.col-md-5
							|Период:
							.regulations__download-input.regulations__download-input--market
								i.fa.fa-calendar
								input.datepicker(type="text", data-date-format="dd/mm/yyyy")
						.col-md-5.col-md-offset-2
							|Период:
							.regulations__download-input.regulations__download-input--market
								i.fa.fa-calendar
								input.datepicker(type="text", data-date-format="dd/mm/yyyy")
					br

					ul.accordion__nav
						li.active: a(href="#") MM Index
						li: a(href="#") Репо
						li: a(href="#") Своп
						li: a(href="#") Минимальное и максимальное значение MM Index за последние 52 недели
					.col-md-3
						table.half-table
							tr
								td индекс,#[br] % год.:
								td 12,34
							tr
								td объем,#[br] млрд KZT:
								td 300,4
							tr
								td ставка,#[br] % год.: 
								td 12,11
					.col-md-3
						table.half-table
							tr
								td вес в#[br] MM Index, %:
								td 66,2
							tr
								td ставка,#[br] % год.:
								td 12,80
							tr
								td вес в#[br] MM Index, %:
								td 33,8
					.col-md-3
						table.half-table
							tr
								td индекс,#[br] % год.:
								td 12,34
							tr
								td объем,#[br] млрд KZT:
								td 300,4
							tr
								td ставка,#[br] % год.: 
								td 12,11
					.col-md-3
						table.half-table
							tr
								td вес в#[br] MM Index, %:
								td 66,2
							tr
								td ставка,#[br] % год.:
								td 12,80
							tr
								td вес в#[br] MM Index, %:
								td 33,8

					.actions__chart
						//- TradingView Widget BEGIN
						script(type="text/javascript", src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js")
						script(type="text/javascript").
							new TradingView.widget({
							  "autosize": true,
							  "symbol": "NASDAQ:AAPL",
							  "interval": "D",
							  "timezone": "Asia/Almaty",
							  "theme": "White",
							  "style": "3",
							  "locale": "ru",
							  "toolbar_bg": "#f1f3f6",
							  "enable_publishing": false,
							  "hide_top_toolbar": true,
							  "hideideas": true
							});
						//- TradingView Widget END
					
					.actions__chart-text
						p.
							Индекс KASE представляет собой отношение рыночных цен акций, входящих в представительский список индекса на дату его составления, к ценам акций этого списка на определенную дату, которое взвешено по капитализации с учетом акций, находящихся в свободном обращении.
						p.
							Значение Индекса KASE пересчитывается после каждой сделки, заключенной с акциями, которые входят в представительский список индекса.
						p.
							Время обновления индикатора: ежедневно по рабочим дням после окончания торгов с 17:00 до 18:00.
						p.
							"Время жизни" индикатора: 1 рабочий день.
block scripts
	script(type="text/javascript").
		document.addEventListener("DOMContentLoaded", function(event) { 
			
		    $('#datePicker input').daterangepicker({
		        "singleDatePicker": true,
		        "showDropdowns": true,
		        "locale": {
		            "direction": "ltr",
		            "format": "DD/MM/YYYY",
		            /*"separator": " - ",
		            "applyLabel": "Apply",
		            "cancelLabel": "Cancel",*/
		            "daysOfWeek": [
		                "Вс",
		                "Пн",
		                "Вт",
		                "Ср",
		                "Чт",
		                "Пт",
		                "Сб"
		            ],
		            "monthNames": [
		                "Январь",
		                "Февраль",
		                "Март",
		                "Апрель",
		                "Май",
		                "Июнь",
		                "Июль",
		                "Август",
		                "Сентябрь",
		                "Октябрь",
		                "Ноябрь",
		                "Декабрь"
		            ],
		            "firstDay": 1
		        },
		        "minDate": "20/06/2015",
		        "maxDate": new Date(),
		        "parentEl": "#datePicker"
		    }, function(start, end, label) {
		    }).focus().focusout();


			$('.sorting-table').DataTable({
				scrollX: true,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});

			$('.sorting-table--false').DataTable({
				scrollX: true,
				bSort : false,
				language: {
				    search: '',
				    searchPlaceholder: "Поиск по всем бумагам (по коду или названию)"
				  }
			});
		});
