extends ../../templates/base

block content
	div.cabinet-header-main
		.container
			.cabinet-header
				.cabinet-header__avatar
					.avatar-img
						img(src="images/example-cabinet-avatar.jpg")
					.avatar-text
						p Кто То
				.cabinet-header__navigation.gradient-tabs.gradient-tabs--not-margin
					ul.nav
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Профиль
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Рассылка
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Платные услуги
						li.gradient-tabs__tab.gradient-tabs__tab--green.active
							a(href="#")
								span Мой список инструментов
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Продукты и услуги
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Калькулятор доходности
						li.gradient-tabs__tab.gradient-tabs__tab--green
							a(href="#")
								span Календарь корпоративных собитий эмитентов