extends ../../templates/base

block content
	.container
		h1 Добро пожалоовать, Кто То
		p Ваш персональный аккаунт дает вам много возможностей, которыми вы можете воспользоваться прямо сейчас.
		p Аккаунт активен до 20 марта 2017 года(#[a(href="#")подробнее])
	
	.container.cabinet-main
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon
		.col-xs-12.col-sm-6
			p Персональные данные
			.cabinet-right-arrow
			.cabinet-block-icon