extends ../../templates/base

block content
	-
		var cabinetMainHeader = [
			{
				'title': 'Профиль',
				'href': 'cabinet_main.html'
			},
			{
				'title': 'Рассылка',
				'href': 'cabinet_newsletter.html'
			},
			{
				'title': 'Платные услуги',
				'href': 'cabinet_services.html'
			},
			{
				'title': 'Мой список инструментов',
				'href': 'cabinet_instruments.html'
			},
			{
				'title': 'Продукты и услуги',
				'href': 'cabinet_products.html'
			},
			{
				'title': 'Калькулятор доходности',
				'href': 'cabinet_calculator.html'
			},
			{
				'title': 'Календарь корпоративных событий эмитентов',
				'href': 'cabinet_calendar.html',
				'active': true
			}
		]
	include ../../modules/cabinet/header

	.container.cabinet.cabinet-calendar
		.col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
			h2 Календарь событий эмитентов
			form(action="?#")
				input(type="text" placeholder="Укажите код или название эмитентов")
			div
				ul.accordion__nav
					li.active: a(href="#") Все

			.cabinet-calendar__calendar#calendar
			
			p 1 Августа, 2016
				br
				span: a(href="#") Первый Вице-президент Сабитов Идель Марсильевич и директор Расчетной палаты Сайденова Майя Галимуллаевна были награждены юбилейной медалью к 20-летию Независимости Республики Казахстан
				
			p 1 Августа, 2016
				br
				span: a(href="#") Первый Вице-президент Сабитов Идель Марсильевич и директор Расчетной палаты Сайденова Майя Галимуллаевна были награждены юбилейной медалью к 20-летию Независимости Республики Казахстан
				
			p 1 Августа, 2016
				br
				span: a(href="#") Первый Вице-президент Сабитов Идель Марсильевич и директор Расчетной палаты Сайденова Майя Галимуллаевна были награждены юбилейной медалью к 20-летию Независимости Республики Казахстан
				
			p 1 Августа, 2016
				br
				span: a(href="#") Первый Вице-президент Сабитов Идель Марсильевич и директор Расчетной палаты Сайденова Майя Галимуллаевна были награждены юбилейной медалью к 20-летию Независимости Республики Казахстан
				
			p 1 Августа, 2016
				br
				span: a(href="#") Первый Вице-президент Сабитов Идель Марсильевич и директор Расчетной палаты Сайденова Майя Галимуллаевна были награждены юбилейной медалью к 20-летию Независимости Республики Казахстан

block scripts
	script(type="text/javascript" src="js/cabinet-events.js")