.radiobutton {
	display: flex;
	align-items: center;
	font-weight: normal;
	position: relative;
	overflow: hidden;
	line-height: 1.25;
	margin-bottom: 7px;
	cursor: pointer;
	&:last-of-type {
		margin-bottom: 0;
	}
	input {
		position: absolute;
		top: 0;
		left: -9999px;
		opacity: 0;
		visibility: hidden;
		&:checked {
			& + .radiobutton__styled {
				border-color: rgba(201, 212, 222, 0.2);
				background-color: rgba(60, 189, 13, 0.2);
				&:before {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
				& + .radiobutton__label {
					color: $defaultColor;
				}
			}
		}
	}
}
.radiobutton__styled {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	margin-right: 8px;
	border-radius: 50%;
	border: 1px solid #c9d4de;
	background-color: transparent;
	transition: all 300ms;
	&:before {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #3cbd0d;
		opacity: 0;
		visibility: hidden;
		transform: scale(0.7);
		transition: all 300ms;
		content: "";
	}
}
.radiobutton__label {
	color: rgba(51, 51, 51, 0.4);
	transition: color 300ms;
}